{% extends 'layout.twig' %}
{% block content %}
	<div id="app">
		<div class="col-md-12 col-xl-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Configuración Email</h4>
				</div>
				<div class="card-body">
					<form method="POST" action="{{ root }}/admin/configNotificaciones/guardar" id="formCrear" class="form-horizontal" autocomplete="off">
						<div class="row mb-4">
							<label for="inputName" class="col-md-2 form-label">Nombre de Usuario *</label>
							<div class="col-md-4">
								<input type="text" class="form-control required" v-model="model.configuracion_email.Username" placeholder="Nombre de Usuario" v-autoname/>
							</div>

							<label for="inputName" class="col-md-2 form-label">Contraseña *</label>
							<div class="col-md-4">
								<input type="text" class="form-control required" v-model="model.configuracion_email.Password" placeholder="Contraseña" v-autoname/>
							</div>
						</div>

						<div class="row mb-4">
							<label for="inputName" class="col-md-2 form-label">Host *</label>
							<div class="col-md-4">
								<input type="text" class="form-control required" v-model="model.configuracion_email.Host" placeholder="Host" v-autoname/>
							</div>

							<label for="inputName" class="col-md-2 form-label">Port *</label>
							<div class="col-md-4">
								<input type="text" class="form-control required" v-model="model.configuracion_email.Port" placeholder="Port" v-autoname/>
							</div>
						</div>

						<div class="row mb-4">
							<label for="inputName" class="col-md-2 form-label">SMTPSecure *</label>
							<div class="col-md-4">
								<input type="text" class="form-control required" v-model="model.configuracion_email.SMTPSecure" placeholder="SMTPSecure" v-autoname/>
							</div>

							<label for="inputName" class="col-md-2 form-label">SMTPAuth *</label>
							<div class="col-md-4">
								<input type="text" class="form-control required" v-model="model.configuracion_email.SMTPAuth" placeholder="SMTPAuth" v-autoname/>
							</div>
						</div>

						<div class="row mb-4">
							<label for="inputName" class="col-md-2 form-label">Nombre App *</label>
							<div class="col-md-4">
								<input type="text" class="form-control required" v-model="model.configuracion_email.nombre_app" placeholder="Nombre App" v-autoname/>
							</div>
						</div>

						<div class="mb-0 mt-4 ">
							<div class="col-md-12">
								<input type="hidden" name="json" id="json"/>

								<button class="btn btn-primary" type="submit" id="btnGuardar" name="btnGuardar">
									<i class="fa fa-save"></i> Guardar
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	{{ bundle('validate') }}
	{{ bundle('summer') }}
	{{ bundle('printThis') }}
	{{ bundle('gallery') }}
	{{ bundle('socket') }}
	<script>
        var app = new Vue({
            el: '#app',
            data: {
                model: {{ model|raw }},
            },
            watch: {},
            computed: {},
            methods: {},
            mounted: function () {
                var self = this;
                $('#formCrear').validate({
                    onfocusout: false,
                    onkeyup: false,
                    onclick: false,
                    submitHandler: function (form) {
                        var data = {
                            model: self.model
                        };
                        $('#json').val(JSON.stringify(data));
                        form.submit();
                        return false;
                    }
                });
            }
        });
	</script>
{% endblock %}