{% extends layoutApp %}

{% block content %}
	<form method="post" id="filtro" class="form-horizontal">
		<div class="col-md-12 col-xl-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Filtros de Búsqueda</h4>
				</div>
				<div id="app">
					<div class="card-body">
						<div class=" row mb-4">
							<label for="inputName" class="col-md-2 form-label">Apellidos</label>
							<div class="col-md-4">
								<input type="text" class="form-control" name="apellidos" id="apellidos" value="{{ filtros.apellidos }}"/>
							</div>

							<label for="inputName" class="col-md-2 form-label">Nombres</label>
							<div class="col-md-4">
								<input type="text" class="form-control" name="nombres" id="nombres" value="{{ filtros.nombres }}"/>
							</div>
						</div>

						<div class=" row mb-4">
							<label for="inputName" class="col-md-2 form-label">Institución</label>
							<div class="col-md-4">
								<div class="input-group">
									<input type="text" class="form-control" name="institucion_nombre" id="institucion_nombre" value="{{ filtros.institucion_nombre }}" readonly>
									<input type="hidden" class="form-control" name="institucion_id" id="institucion_id" value="{{ filtros.institucion_id }}"/>
									<button class="btn btn-default" type="button" v-on:click="buscarInstitucion">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</div>
							</div>
						</div>

						<div class="mb-0 mt-4 ">
							<div class="col-md-12">
								<button type="submit" class="btn btn-secondary"><i class="glyphicon glyphicon-search"></i> Filtrar</button>
								<button class="btn btn-secondary" onclick="todos()" type="button"><i class="fa fa-eye"></i> Ver todos</button>
								<a href="{{ root }}/contacto/crear" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Crear</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="col-md-12 col-xl-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Lista de Contactos</h4>
			</div>
			<div class="card-body">
				<div id="lista"></div>
			</div>
		</div>
	</div>

	<!-- MODAL -->
	<div class="modal fade" id="modalInstitucion" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><strong>Instituciones</strong></h5>
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="institucionContent"></div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	{{ bundle('validate') }}
	<script>
		var form = $('#filtro');
		$('.integer').numeric('integer');

		function todos() {
			form[0].reset();
			$("#institucion_id").val('');
            $("#institucion_nombre").val('');
            $("#apellidos").val('');
            $("#nombres").val('');
			cargar(1);
		}

		function cargar(page) {
			var data = form.serializeArray();
			console.log(data);
			$('#lista').load('{{ root }}/contacto/lista?page=' + page, data);
		}

		form.submit(function () {
			cargar(1);
			return false;
		});

		cargar(1);

		var app = new Vue({
			el: '#app',
			data: {
				model: [],
			},
			watch: {},
			methods: {
				buscarInstitucion: function () {
					var self = this;
					var data = {};
					$('#institucionContent').load('{{ root }}/institucion/buscador', data, function () {
						callbackInstitucion = function (res) {
							$("#institucion_id").val(res.id);
							$("#institucion_nombre").val(res.nombre);
							$('#modalInstitucion').modal('hide');
						};
						$('#modalInstitucion').modal('show');
					});
				},
			},
			mounted: function () {
				$('.integer').numeric("integer");
				$('.numeric').numeric();
			}
		});
	</script>
{% endblock %}