{% extends layoutApp %}

{% block content %}
	<div class="col-md-12 col-xl-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Filtros de Búsqueda</h4>
			</div>
			<div class="card-body">
				<form method="post" id="filtro" class="form-horizontal">
					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Número</label>
						<div class="col-md-4">
							<input type="text" class="form-control" name="numero" id="numero" value="{{ filtros.numero }}"/>
						</div>

						<label for="inputName" class="col-md-2 form-label">Nombre</label>
						<div class="col-md-4">
							<input type="text" class="form-control" name="nombre" id="nombre" value="{{ filtros.nombre }}"/>
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Tipo gestión</label>
						<div class="col-md-4">
							<select class="form-control form-select select2" name="tipo_gestion" id="tipo_gestion">
								<option value=""></option>
								<option value="cobranza">COBRANZA</option>
								<option value="venta">VENTA</option>
							</select>
						</div>

						<label for="inputName" class="col-md-2 form-label">Tipo perfil</label>
						<div class="col-md-4">
							<select class="form-control form-select select2" name="tipo_perfil" id="tipo_perfil">
								<option value=""></option>
								<option value="telefonico">TELEFÓNICO</option>
								<option value="campo">CAMPO</option>
							</select>
						</div>
					</div>

					<div class="mb-0 mt-4 ">
						<div class="col-md-12">
							<button type="submit" class="btn btn-secondary"><i class="glyphicon glyphicon-search"></i> Filtrar</button>
							<button class="btn btn-secondary" onclick="todos()" type="button"><i class="fa fa-eye"></i> Ver todos</button>
							<a href="{{ root }}/paleta/crear" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Crear</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-xl-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Lista de Paletas</h4>
			</div>
			<div class="card-body">
				<div id="lista"></div>
			</div>
		</div>
	</div>

	{{ bundle('validate') }}
	<script>
		var form = $('#filtro');
		$('.integer').numeric('integer');

        $("#tipo_gestion").val('{{ filtros.tipo_gestion }}');
        $("#tipo_perfil").val('{{ filtros.tipo_perfil }}');

		function todos() {
			form[0].reset();
			$("#numero").val('');
            $("#nombre").val('');
            $("#tipo_gestion").val('');
            $("#tipo_perfil").val('');
			cargar(1);
		}

		function cargar(page) {
			var data = form.serializeArray();
			console.log(data);
			$('#lista').load('{{ root }}/paleta/lista?page=' + page, data);
		}

		form.submit(function () {
			cargar(1);
			return false;
		});

		cargar(1);

		var app = new Vue({
			el: '#app',
			data: {
				model: [],
			},
			watch: {},
			methods: {},
			mounted: function () {
				$('.integer').numeric("integer");
				$('.numeric').numeric();
			}
		});
	</script>
{% endblock %}