<div id="appBuscaCampana" class="small">
	<div class="col-md-12 col-xl-12">
		<div class=" row mb-3">
			<label for="" class="col-sm-2 col-form-label col-form-label-sm">Último seguimiento</label>
			<div class="col-sm-4">
				<select class="form-control form-control-sm form-select select2" v-model="nivel_2_id" placeholder="Seleccione una opción" id="nivel_2_id" v-autoname>
					<option value=""></option>
					<option v-for="item in paleta_nivel2" v-bind:value="item.nivel2_id" v-html="item.nivel2"></option>
				</select>
			</div>

			<label for="" class="col-sm-2 col-form-label col-form-label-sm">Estado seguimiento</label>
			<div class="col-sm-4">
				<select class="form-control form-control-sm form-select select2" v-model="estado" placeholder="Seleccione una opción" id="estado" v-autoname>
					<option value=""></option>
					<option v-for="(v,k) in cat.estado" v-html="v" :value="k"></option>
				</select>
			</div>
		</div>

		<div class=" row mb-3">
			<label for="" class="col-sm-2 col-form-label col-form-label-sm">Nombres</label>
			<div class="col-sm-4">
				<input type="text" class="form-control form-control-sm" v-model="nombres" placeholder="Nombres"/>
			</div>

			<label for="" class="col-sm-2 col-form-label col-form-label-sm">Cédula</label>
			<div class="col-sm-4">
				<input type="text" class="form-control form-control-sm" v-model="cedula" placeholder="Cédula"/>
			</div>
		</div>

		<div class=" row mb-3">
			<label for="" class="col-sm-2 col-form-label col-form-label-sm">Código operación</label>
			<div class="col-sm-4">
				<input type="text" class="form-control form-control-sm" v-model="producto" placeholder="Código operación"/>
			</div>
		</div>

		<div class="text-wrap">
			<div class="d-grid gap-2">
				<button class="btn btn-secondary mb-1" type="button" v-on:click="buscar()">
					<i class="glyphicon glyphicon-search"></i> Buscar
				</button>
			</div>
		</div>
	</div>
	<hr/>
	<div style="overflow-y: auto;height:300px">
		<div class=" row mb-3">
			<label for="" class="col-sm-2 col-form-label col-form-label-sm">Usuario asignado</label>
			<div class="col-sm-4">
				<select class="form-control form-control-sm form-select select2" v-model="usuario_asignado" placeholder="Seleccione una opción" id="usuario_asignado" v-autoname>
					<option v-for="item in usuarios" v-bind:value="item.id" v-html="item.username"></option>
				</select>
			</div>
		</div>
		<hr/>
		<table class="table border table-bordered table-sm mb-0">
			<thead>
			<tr>
				<th>Cliente</th>
				<th>Código operación</th>
				<th>Estado</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr v-for="i in institucion">
				<td>
					<a v-on:click="selectInstitucion(i)" v-html="i.nombre" style="text-decoration: underline"
					   class="text-primary ms-1"></a>
				</td>
				<td v-html="i.ruc"></td>
				<td v-html="i.ciudad"></td>
				<td v-html="i.direccion"></td>
				<td style="text-transform: uppercase;"><span v-html="i.paletas_propias"></span></td>
				<td style="text-transform: uppercase;"><span v-html="i.acceso_sistema"></span></td>
				<td v-html="i.descripcion"></td>
				<td>
					<a :href="'{{ root }}/institucion/editar?id=' + i.id" target="_blank"
					   style="text-decoration: underline" class="btn btn-secondary mb-1">
						<i class="fa fa-external-link"></i>
					</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

</div>

{{ script('js/lodash.js') }}
<script>

    var callbackInstitucion = null;

    var appBuscaCampana = new Vue({
        el: '#appBuscaCampana',
        data: {
            institucion: [],
            paleta_nivel2: {{ paleta_nivel2|raw }},
            usuarios: {{ usuarios|raw }},
            cat: {{ catalogo_producto|raw }},
            nombre: null,
            ruc: null,
            ciudad: null,
        },
        watch: {},
        methods: {
            selectInstitucion: function (p) {
                if (callbackInstitucion) {
                    callbackInstitucion(p);
                } else {
                    alert('No se ha configurado el callback');
                }
            },
            buscar: function () {
                var self = this;
                var data = {
                    nombre: self.nombre,
                    ruc: self.ruc,
                    ciudad: self.ciudad,
                };
                $.post("{{ root }}/institucion/buscar", data, function (data, status, xhr) {
                    if (!data)
                        return;
                    if (data.institucion) self.institucion = data.institucion;
                    console.log(data);
                });
            },

            abrirInstitucion: function (id) {
                window.open('{{ root }}/institucion/editar?id=' + id, '_blank')
            },
        },
        mounted: function () {
            var self = this;
            $("#txtDescripcion").autocomplete({
                minLength: 2,
                source: function (request, response) {
                    self.buscar();
                }
            });
            $("#txtCodigo").autocomplete({
                minLength: 2,
                source: function (request, response) {
                    self.buscar();
                }
            });
        }
    })
</script>
