{% extends 'layout.twig' %}
{% block content %}
	<div id="app">
		<div class="col-md-12 col-xl-12">
			<form method="POST" action="{{ root }}/institucion/guardar" id="form-edit-cliente" class="form-horizontal" autocomplete="off" enctype="multipart/form-data">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">CLIENTE</h4>
					</div>
					<div class="card-body">
						<div class=" row mb-4">
							<label for="inputName" class="col-md-2 form-label">Apellidos *</label>
							<div class="col-md-4">
								<input type="text" readonly class="form-control-plaintext" v-model="cliente.apellidos">
							</div>

							<label for="inputName" class="col-md-2 form-label">Nombres *</label>
							<div class="col-md-4">
								<input type="text" readonly class="form-control-plaintext" v-model="cliente.nombres">
							</div>
						</div>

						<div class=" row mb-4">
							<label for="inputName" class="col-md-2 form-label">Cédula *</label>
							<div class="col-md-4">
								<input type="text" readonly class="form-control-plaintext" v-model="cliente.cedula">
							</div>

							<label for="inputName" class="col-md-2 form-label">Sexo</label>
							<div class="col-md-4">
								<input type="text" style="text-transform: uppercase;" readonly class="form-control-plaintext" v-model="cliente.sexo">
							</div>
						</div>

						<div class=" row mb-4">
							<label for="inputName" class="col-md-2 form-label">Estado civil</label>
							<div class="col-md-4">
								<input type="text" style="text-transform: uppercase;" readonly class="form-control-plaintext" v-model="cliente.estado_civil">
							</div>
						</div>

						<div class=" row mb-4">
							<label for="inputName" class="col-md-2 form-label">Teléfonos</label>
							<div class="col-md-10">
								<table class="table border text-nowrap text-md-nowrap table-bordered table-sm mb-0">
									<thead>
									<tr>
										<th>Número Oro</th>
										<th>Teléfono</th>
										<th>Tipo</th>
										<th>Origen</th>
										<th>Fecha Ingreso</th>
									</tr>
									</thead>
									<tbody>
									<tr v-for="t in telefono">
										<td>
											<label class="custom-control custom-radio">
												<input type="radio" class="custom-control-input" name="example-radios" value="option1" checked>
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td>
											<div class="input-group">
												<input type="text" class="form-control form-control-sm required digits" v-model="t.telefono" placeholder="Teléfono" v-autoname/>
												<button type="button" class="btn btn-icon btn-info btn-sm" v-on:click="delTelefono(t)">
													<i class="fa fa-phone" aria-hidden="true"></i>
												</button>
											</div>
										</td>
										<td>
											<select class="form-control form-control-sm form-select select2" v-autoname v-model="t.tipo" placeholder="Seleccione una opción" v-autoname>
												<option value="titular">TITULAR</option>
												<option value="familiar">FAMILIAR</option>
												<option value="amigo">AMIGO</option>
												<option value="otros">OTROS</option>
											</select>
										</td>
										<td style="text-transform: uppercase;"><span v-html="t.origen"></span></td>
										<td><span v-html="t.fecha_ingreso"></span></td>
									</tr>
									</tbody>
								</table>
							</div>

							<label for="inputName" class="col-md-2 form-label">Emails</label>
							<div class="col-md-10">
								<table class="table border text-nowrap text-md-nowrap table-bordered table-sm mb-0">
									<thead>
									<tr>
										<th>Email</th>
										<th>Tipo</th>
										<th>Origen</th>
										<th>Fecha Ingreso</th>
									</tr>
									</thead>
									<tbody>
									<tr v-for="c in email">
										<td>
											<input type="text" class="form-control form-control-sm required email" v-model="c.email" placeholder="Email" v-autoname/>
										</td>
										<td>
											<select class="form-control form-select select2" v-autoname v-model="c.tipo" placeholder="Seleccione una opción" v-autoname>
												<option value="titular">TITULAR</option>
												<option value="familiar">FAMILIAR</option>
												<option value="amigo">AMIGO</option>
												<option value="otros">OTROS</option>
											</select>
										</td>
										<td style="text-transform: uppercase;"><span v-html="c.origen"></span></td>
										<td><span v-html="c.fecha_ingreso"></span></td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="mb-0 mt-4 ">
							<div class="col-md-12">
								<input type="hidden" v-model="model.id" id="id" name="id"/>
								<input type="hidden" name="json" id="json"/>
							</div>
						</div>
					</div>
				</div>
			</form>


			<div class="card">
				<div class="card-header">
					<h4 class="card-title">PRODUCTO</h4>
				</div>
				<div class="card-body">
					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Producto</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.producto">
						</div>

						<label for="inputName" class="col-md-2 form-label">Subproducto</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.subproducto">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Agencia</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.agencia">
						</div>

						<label for="inputName" class="col-md-2 form-label">Estado</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.estado">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Estado operación</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.estado_operacion">
						</div>

						<label for="inputName" class="col-md-2 form-label">Tipo proceso</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.tipo_proceso">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Fecha adquisición</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.fecha_adquisicion">
						</div>

						<label for="inputName" class="col-md-2 form-label">Sector</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.sector">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Monto crédito</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.monto_credito">
						</div>

						<label for="inputName" class="col-md-2 form-label">Monto adeudado</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.monto_adeudado">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Monto riesgo</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.monto_riesgo">
						</div>

						<label for="inputName" class="col-md-2 form-label">Días mora</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.dias_mora">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Número de cuotas</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.numero_cuotas">
						</div>

						<label for="inputName" class="col-md-2 form-label">Fecha vencimiento</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.fecha_vencimiento">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Valor cuota</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.valor_cuota">
						</div>

						<label for="inputName" class="col-md-2 form-label">Valor cobrar</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="model.valor_cobrar">
						</div>
					</div>
				</div>
			</div>

			<form method="POST" action="{{ root }}/institucion/guardar" id="form-edit-seguimiento" class="form-horizontal" autocomplete="off" enctype="multipart/form-data">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">SEGUIMIENTO</h4>
					</div>
					<div class="card-body">
						<h4 class="text-primary">COBRANZA</h4>
						<div class=" row mb-4">
							<label for="inputName" class="col-md-2 form-label">NIVEL1</label>
							<div class="col-md-4">
								<select class="form-control form-select select2 required" v-model="model.tipo_gestion" placeholder="Seleccione una opción">
									<option value="ACUERDO DE PAGO DOCUMENTADO">ACUERDO DE PAGO DOCUMENTADO</option>
									<option value="CONTACTO SIN ARREGLO MEDIATO">CONTACTO SIN ARREGLO MEDIATO</option>
									<option value="MENSAJE A TERCERO">MENSAJE A TERCERO</option>
									<option value="NO CONTACTADO MAÑANA / TARDE / NOCHE">NO CONTACTADO MAÑANA / TARDE / NOCHE</option>
									<option value="NOTIFICADO">NOTIFICADO</option>
									<option value="OFRECIMIENTO AL CORTE">OFRECIMIENTO AL CORTE</option>
									<option value="REFINANCIA">REFINANCIA</option>
									<option value="SIN ARREGLO">SIN ARREGLO</option>
								</select>
							</div>

							<label for="inputName" class="col-md-2 form-label">NIVEL2</label>
							<div class="col-md-4">
								<select class="form-control form-select select2 required" v-model="model.tipo_perfil" placeholder="Seleccione una opción">
									<option value="COMPAÑERO DE TRABAJO M">COMPAÑERO DE TRABAJO M</option>
									<option value="EQUIVOCADO-DESCONOCEN NUM M">EQUIVOCADO-DESCONOCEN NUM M</option>
									<option value="CONTESTADORA M">CONTESTADORA M</option>
									<option value="EQUIVOCADO / OTORGAN NÚMERO M">EQUIVOCADO / OTORGAN NÚMERO M</option>
									<option value="TELÉFONO CON AVERIA M">TELÉFONO CON AVERIA M</option>
									<option value="EMPLEADA M">EMPLEADA M</option>
									<option value="FALLECIMIENTO M">FALLECIMIENTO M</option>
									<option value="SUGERENCIA MANTENIMIENTO M">SUGERENCIA MANTENIMIENTO M</option>
									<option value="VIAJE M">VIAJE M</option>
									<option value="CLIENTE CUELGA TELÉFONO M">CLIENTE CUELGA TELÉFONO M</option>
									<option value="DIRECCIÓN NO CORRESPONDE M">DIRECCIÓN NO CORRESPONDE M</option>
									<option value="NO CONTESTA M">NO CONTESTA M</option>
								</select>
							</div>
						</div>

						<div class=" row mb-4">
							<label for="inputName" class="col-md-2 form-label">Observaciones</label>
							<div class="col-md-4">
								<textarea rows="3" class="form-control" placeholder="Observaciones" v-autoname></textarea>
							</div>
						</div>

						<div class="mb-0 mt-4 ">
							<div class="col-md-12">
								<input type="hidden" v-model="model.id" id="id" name="id"/>
								<input type="hidden" name="json" id="json"/>

								<button class="btn btn-primary" type="submit" id="btnGuardar" name="btnGuardar">
									<i class="fa fa-save"></i> Guardar
								</button>
							</div>
						</div>

					</div>
				</div>
			</form>

			<div class="card">
				<div class="card-header">
					<h4 class="card-title">APLICATIVO DINERS</h4>
				</div>
				<div class="card-body">
					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">CIUDAD DE GESTIÓN</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.ciudad_gestion">
						</div>

						<label for="inputName" class="col-md-2 form-label">FECHA DE ELABORACIÓN</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" value="{{ "now"|date("Y-m-d H:i:s") }}">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">NEGOCIADO POR</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.negociado_por">
						</div>

						<label for="inputName" class="col-md-2 form-label">NUMERO DE CEDULA SOCIO</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.cedula_socio">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">NOMBRE DEL SOCIO</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.nombre_socio">
						</div>

						<label for="inputName" class="col-md-2 form-label">DIRECCIÓN</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.direccion">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">NÚMEROS DE CONTACTO</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.numero_contactos">
						</div>

						<label for="inputName" class="col-md-2 form-label">MAIL DE CONTACTO</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.mail_contacto">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">CIUDAD DE LA CUENTA</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.ciudad_cuenta">
						</div>

						<label for="inputName" class="col-md-2 form-label">CIUDAD DE LA CUENTA</label>
						<div class="col-md-4">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.zona_cuenta">
						</div>
					</div>

					<div class=" row mb-4">
						<div style="overflow-x:auto;">
							<table style="font-size: 12px;">
								<thead>
								<tr>
									<th style="width: 33.33%; text-align: center; background-color: #0066A8; color: white;">DINERS</th>
									<th style="width: 33.33%; text-align: center; background-color: #404040; color: white;">INTERDIN</th>
									<th style="width: 33.33%; text-align: center; background-color: #E66929; color: white;">DISCOVER</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td style="vertical-align: top;">
										<table>
											<tbody>
											<tr>
												<td style="width: 10%;"><strong>CICLO</strong></td>
												<td style="width: 90%; text-align: center;"><span v-html="aplicativo_diners_tarjeta_diners.ciclo"></span></td>
											</tr>
											<tr>
												<td><strong>EDAD DE CARTERA</strong></td>
												<td style="text-align: center;"><span v-html="aplicativo_diners_tarjeta_diners.edad_cartera"></span></td>
											</tr>
											<tr>
												<td><strong>CODIGO DE CANCELACION</strong></td>
												<td style="text-align: center;"><span v-html="aplicativo_diners_tarjeta_diners.codigo_cancelacion"></span></td>
											</tr>
											<tr>
												<td><strong>CODIGO DE BOLETIN</strong></td>
												<td style="text-align: center;"><span v-html="aplicativo_diners_tarjeta_diners.codigo_boletin"></span></td>
											</tr>
											<tr>
												<td><strong>DÉBITO AUTOMÁTICO</strong></td>
												<td style="text-align: center;"><span v-html="aplicativo_diners_tarjeta_diners.debito_automatico"></span></td>
											</tr>
											<tr style="background-color: #c3c3c3;">
												<td><strong>PROMEDIO DE PAGO</strong></td>
												<td style="text-align: center;"><strong><span v-html="aplicativo_diners_tarjeta_diners.promedio_pago"></span></strong></td>
											</tr>
											<tr>
												<td><strong>SCORE</strong></td>
												<td style="text-align: center;"><span v-html="aplicativo_diners_tarjeta_diners.score"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td style="width: 10%;"><strong>CAMPAÑA</strong></td>
												<td style="width: 90%;" colspan="3"><span v-html="aplicativo_diners_tarjeta_diners.campana"></span></td>
											</tr>
											<tr>
												<td><strong>EJECUTIVO ACTUAL A CARGO DE CUENTA</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_diners.ejecutivo_actual_cuenta"></span></td>
											</tr>
											<tr>
												<td><strong>LUGAR DE TRABAJO</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_diners.lugar_trabajo"></span></td>
											</tr>
											<tr>
												<td><strong>FECHA ÚLTIMA GESTIÓN</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_diners.fecha_ultima_gestion"></span></td>
											</tr>
											<tr>
												<td><strong>MOTIVO DE GESTIÓN</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_diners.motivo_gestion"></span></td>
											</tr>
											<tr>
												<td><strong>DESCRIPCIÓN DE GESTIÓN</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_diners.descripcion_gestion"></span></td>
											</tr>
											<tr>
												<td><strong>OBSERVACIONES DE GESTIÓN</strong></td>
												<td colspan="3">
													<textarea rows="3" v-model="aplicativo_diners_tarjeta_diners.observacion_gestion" class="form-control form-control-sm"
															  placeholder="OBSERVACIONES DE GESTIÓN" v-autoname></textarea>
												</td>
											</tr>
											<tr>
												<td><strong>FECHA DE COMPROMISO</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.fecha_compromiso"></span></td>
												<td style="width: 10%;"><strong>TT/EXIG/PARCIAL</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.tt_exig_parcial"></span></td>
											</tr>
											<tr>
												<td><strong>MOTIVO DE NO PAGO ANTERIOR</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_diners.motivo_no_pago_anterior"></span></td>
											</tr>
											<tr>
												<td><strong>FINANCIAMIENTO VIGENTE</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_diners.financiamiento_vigente"></span></td>
											</tr>
											</tbody>
											<tr>
												<td><strong>N° CUOTAS PENDIENTES</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.numero_cuotas_pendientes"></span></td>
												<td style="width: 10%;"><strong>TT CUOTAS FACT</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.tt_cuotas_fact"></span></td>
											</tr>
											<tr>
												<td><strong>VALOR CUOTAS PENDIENTES</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.valor_cuotas_pendientes"></span></td>
												<td style="width: 10%;"><strong>VALOR DE CUOTA</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.valor_cuota"></span></td>
											</tr>
											<tr style="background-color: #c3c3c3;">
												<td><strong>SEGUNDA REESTRUCTURACIÓN</strong></td>
												<td colspan="3"><strong><span v-html="aplicativo_diners_tarjeta_diners.segunda_restructuracion"></span></strong></td>
											</tr>
											<tr style="background-color: #c3c3c3;">
												<td><strong>TOTAL RIESGO</strong></td>
												<td colspan="3"><strong><span v-html="aplicativo_diners_tarjeta_diners.total_riesgo"></span></strong></td>
											</tr>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td colspan="2" style="text-align: center; background-color: #0066A8; color: white;"><strong>SALDOS FACTURADOS</strong></td>
											</tr>
											<tr>
												<td style="width: 60%;"><strong>SALDO A 90 Y MAS 90 DÍAS</strong></td>
												<td style="width: 40%;"><span v-html="aplicativo_diners_tarjeta_diners.saldo_90_facturado"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO A 60 DIAS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.saldo_60_facturado"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO A 30 DIAS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.saldo_30_facturado"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO ACTUALES</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.saldo_actual_facturado"></span></td>
											</tr>
											<tr>
												<td style="text-decoration: underline;"><strong>DEUDA ACTUAL</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.deuda_actual"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td style="width: 60%;"><strong>INTERESES FACTURADOS</strong></td>
												<td style="width: 40%; background-color: #c3c3c3;"><span v-html="aplicativo_diners_tarjeta_diners.interes_facturado"></span></td>
											</tr>
											<tr>
												<td><strong>NUMERO DE DIFERIDOS FACTURADOS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.numero_diferidos_facturados"></span></td>
											</tr>
											<tr>
												<td><strong>TOTAL VALOR PRE CANCELACION DIFERIDOS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.total_precancelacion_diferidos"></span></td>
											</tr>
											<tr>
												<td><strong>ESPECIALIDAD VENTA VEHICULOS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.especialidad_venta_vehiculos"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td colspan="4" style="text-align: center; background-color: #0066A8; color: white;"><strong>PAGOS</strong></td>
											</tr>
											<tr>
												<td style="width: 40%;"><strong>ABONO EFECTIVO DEL SISTEMA</strong></td>
												<td style="width: 20%; background-color: #c3c3c3;"><span v-html="aplicativo_diners_tarjeta_diners.abono_efectivo_sistema"></span></td>
												<td style="width: 15%;"><strong>ABONO SISTEMA</strong></td>
												<td style="width: 25%;">
													<select class="form-control form-control-sm form-select select2" v-model="aplicativo_diners_tarjeta_diners.abono_sistema"
															placeholder="Seleccione una opción" v-autoname>
														<option value="SI">SI</option>
														<option value="NO">NO</option>
													</select>
												</td>
											</tr>
											<tr>
												<td><strong>ABONO NEGOCIADOR</strong></td>
												<td style="background-color: #c3c3c3;" colspan="3">
													<input type="text" class="form-control form-control-sm" v-on:keyup="calcularValoresDiners"
														   v-model="aplicativo_diners_tarjeta_diners.abono_negociador" placeholder="ABONO NEGOCIADOR" v-autoname/>
												</td>
											</tr>
											<tr>
												<td><strong>ABONO TOTAL</strong></td>
												<td style="background-color: #c3c3c3;" colspan="3"><span v-html="aplicativo_diners_tarjeta_diners.abono_total"></span></td>
											</tr>
											</tbody>
										</table>
										<table>
											<tbody>
											<tr>
												<td colspan="2" style="text-align: center; background-color: #0066A8; color: white;"><strong>SALDOS FACTURADOS DESPUÉS DE ABONO</strong></td>
											</tr>
											<tr>
												<td style="width: 60%;"><strong>SALDO A 90 Y MAS 90 DIAS</strong></td>
												<td style="width: 40%;"><span v-html="aplicativo_diners_tarjeta_diners.saldo_90_facturado_despues_abono"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO A 60 DIAS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.saldo_60_facturado_despues_abono"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO A 30 DIAS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.saldo_30_facturado_despues_abono"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO ACTUALES</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.saldo_actual_facturado_despues_abono"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td colspan="4" style="text-align: center; background-color: #0066A8; color: white;"><strong>VALORES POR FACTURAR</strong></td>
											</tr>
											<tr>
												<td style="width: 35%;"><strong>INTERESES POR FACTURAR</strong></td>
												<td style="width: 65%;" colspan="3"><span v-html="aplicativo_diners_tarjeta_diners.interes_facturar"></span></td>
											</tr>
											<tr>
												<td><strong>CORRIENTES POR FACTURAR</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.corrientes_facturar"></span></td>
												<td style="width: 15%;"><strong>INCLUIR EN NEGOCIACIÓN</strong></td>
												<td style="width: 25%;">
													<select class="form-control form-control-sm form-select select2" v-model="aplicativo_diners_tarjeta_diners.incluir_negociacion"
															placeholder="Seleccione una opción" v-autoname>
														<option value="SI">SI</option>
														<option value="NO">NO</option>
													</select>
												</td>
											</tr>
											<tr>
												<td><strong>ND POR FACTURAR</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_diners.nd_facturar"></span></td>
											</tr>
											<tr>
												<td><strong>NC POR FACTURAR</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_diners.nc_facturar"></span></td>
											</tr>
											<tr>
												<td><strong>GASTOS DE COBRANZA / OTROS</strong></td>
												<td colspan="3">
													<input type="text" class="form-control form-control-sm" v-on:keyup="calcularValoresDiners"
														   v-model="aplicativo_diners_tarjeta_diners.gastos_cobranza" placeholder="GASTOS DE COBRANZA / OTROS" v-autoname/>
												</td>
											</tr>
											<tr>
												<td><strong>VALOR OTRAS TARJETAS</strong></td>
												<td colspan="3">
													<input type="text" class="form-control form-control-sm" v-on:keyup="calcularValoresDiners"
														   v-model="aplicativo_diners_tarjeta_diners.valor_otras_tarjetas" placeholder="VALOR OTRAS TARJETAS" v-autoname/>
												</td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td colspan="2" style="text-align: center; background-color: #0066A8; color: white;"><strong>FINANCIAMIENTO</strong></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td style="width: 50%; text-align: center; background-color: #0066A8; color: white;"><strong>TIPO DE FINANCIAMIENTO</strong></td>
												<td style="width: 50%; text-align: center; background-color: #0066A8; color: white;"><strong>NOVACION</strong></td>
											</tr>
											<tr>
												<td><strong>TOTAL</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.total_financiamiento"></span></td>
											</tr>
											<tr>
												<td><strong>EXIGIBLE</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.exigible_financiamiento"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td style="width: 60%;"><strong>PLAZO DE FINANCIAMIENTO</strong></td>
												<td style="width: 40%;">
													<select class="form-control form-control-sm form-select select2" v-on:change="calcularValoresDiners"
															v-model="aplicativo_diners_tarjeta_diners.plazo_financiamiento" placeholder="Seleccione una opción" v-autoname>
														<option value=""></option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
														<option value="8">8</option>
														<option value="9">9</option>
														<option value="12">12</option>
														<option value="24">24</option>
														<option value="36">36</option>
													</select>
												</td>
											</tr>
											<tr>
												<td><strong>MOTIVO DE NO PAGO</strong></td>
												<td>
													<input type="text" class="form-control form-control-sm" v-model="aplicativo_diners_tarjeta_diners.motivo_no_pago"
														   placeholder="MOTIVO DE NO PAGO"
														   v-autoname/>
												</td>
											</tr>
											<tr>
												<td><strong>NÚMERO DE MESES DE GRACIA</strong></td>
												<td>
													<input type="text" class="form-control form-control-sm" v-on:change="calcularValoresDiners"
														   v-model="aplicativo_diners_tarjeta_diners.numero_meses_gracia" placeholder="NÚMERO DE MESES DE GRACIA" v-autoname/>
												</td>
											</tr>
											<tr style="background-color: #0066A8; color: white;">
												<td><strong>VALOR A FINANCIAR</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.valor_financiar"></span></td>
											</tr>
											<tr style="background-color: #0066A8; color: white;">
												<td><strong>TOTAL INTERESES</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.total_intereses"></span></td>
											</tr>
											<tr style="background-color: #0066A8; color: white;">
												<td><strong>TOTAL FINANCIAMIENTO</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.total_financiamiento_total"></span></td>
											</tr>
											<tr style="background-color: #0066A8; color: white;">
												<td><strong>VALOR CUOTA MENSUAL</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_diners.valor_cuota_mensual"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td style="width: 30%; text-align: center; font-style: italic;"><strong>OBSERVACION UNIFICACIÓN</strong></td>
												<td style="width: 70%;">
													<textarea rows="3" v-model="aplicativo_diners_tarjeta_diners.observacion_unificacion" class="form-control form-control-sm"
															  placeholder="OBSERVACION UNIFICACIÓN" v-autoname></textarea>
												</td>
											</tr>
											<tr>
												<td style="text-align: center; font-style: italic;"><strong>OBSERVACION DATOS INFOR. SOCIO</strong></td>
												<td>
													<textarea rows="3" v-model="aplicativo_diners_tarjeta_diners.observacion_datos_socio" class="form-control form-control-sm"
															  placeholder="OBSERVACION DATOS INFOR. SOCIO" v-autoname></textarea>
												</td>
											</tr>
											<tr>
												<td style="text-align: center; font-style: italic;"><strong>EMPRESA QUE REFINANCIA</strong></td>
												<td>
													<textarea rows="3" v-model="aplicativo_diners_tarjeta_diners.empresa_refinancia" class="form-control form-control-sm"
															  placeholder="EMPRESA QUE REFINANCIA" v-autoname></textarea>
												</td>
											</tr>
											</tbody>
										</table>
									</td>
									<td style="vertical-align: top;">
										<table>
											<tbody>
											<tr>
												<td style="width: 10%;"><strong>CICLO</strong></td>
												<td style="width: 90%; text-align: center;"><span v-html="aplicativo_diners_tarjeta_interdin.ciclo"></span></td>
											</tr>
											<tr>
												<td><strong>EDAD DE CARTERA</strong></td>
												<td style="text-align: center;"><span v-html="aplicativo_diners_tarjeta_interdin.edad_cartera"></span></td>
											</tr>
											<tr>
												<td><strong>CODIGO DE CANCELACION</strong></td>
												<td style="text-align: center;"><span v-html="aplicativo_diners_tarjeta_interdin.codigo_cancelacion"></span></td>
											</tr>
											<tr>
												<td><strong>CODIGO DE BOLETIN</strong></td>
												<td style="text-align: center;"><span v-html="aplicativo_diners_tarjeta_interdin.codigo_boletin"></span></td>
											</tr>
											<tr>
												<td><strong>DÉBITO AUTOMÁTICO</strong></td>
												<td style="text-align: center;"><span v-html="aplicativo_diners_tarjeta_interdin.debito_automatico"></span></td>
											</tr>
											<tr style="background-color: #c3c3c3;">
												<td><strong>PROMEDIO DE PAGO</strong></td>
												<td style="text-align: center;"><strong><span v-html="aplicativo_diners_tarjeta_interdin.promedio_pago"></span></strong></td>
											</tr>
											<tr>
												<td><strong>SCORE</strong></td>
												<td style="text-align: center;"><span v-html="aplicativo_diners_tarjeta_interdin.score"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td style="width: 10%;"><strong>CAMPAÑA</strong></td>
												<td style="width: 90%;" colspan="3"><span v-html="aplicativo_diners_tarjeta_interdin.campana"></span></td>
											</tr>
											<tr>
												<td><strong>EJECUTIVO ACTUAL A CARGO DE CUENTA</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_interdin.ejecutivo_actual_cuenta"></span></td>
											</tr>
											<tr>
												<td><strong>LUGAR DE TRABAJO</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_interdin.lugar_trabajo"></span></td>
											</tr>
											<tr>
												<td><strong>FECHA ÚLTIMA GESTIÓN</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_interdin.fecha_ultima_gestion"></span></td>
											</tr>
											<tr>
												<td><strong>MOTIVO DE GESTIÓN</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_interdin.motivo_gestion"></span></td>
											</tr>
											<tr>
												<td><strong>DESCRIPCIÓN DE GESTIÓN</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_interdin.descripcion_gestion"></span></td>
											</tr>
											<tr>
												<td><strong>OBSERVACIONES DE GESTIÓN</strong></td>
												<td colspan="3">
													<textarea rows="3" v-model="aplicativo_diners_tarjeta_interdin.observacion_gestion" class="form-control form-control-sm"
															  placeholder="OBSERVACIONES DE GESTIÓN" v-autoname></textarea>
												</td>
											</tr>
											<tr>
												<td><strong>FECHA DE COMPROMISO</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.fecha_compromiso"></span></td>
												<td style="width: 10%;"><strong>TT/EXIG/PARCIAL</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.tt_exig_parcial"></span></td>
											</tr>
											<tr>
												<td><strong>MOTIVO DE NO PAGO ANTERIOR</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_interdin.motivo_no_pago_anterior"></span></td>
											</tr>
											<tr>
												<td><strong>FINANCIAMIENTO VIGENTE</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_interdin.financiamiento_vigente"></span></td>
											</tr>
											</tbody>
											<tr>
												<td><strong>N° CUOTAS PENDIENTES</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.numero_cuotas_pendientes"></span></td>
												<td style="width: 10%;"><strong>TT CUOTAS FACT</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.tt_cuotas_fact"></span></td>
											</tr>
											<tr>
												<td><strong>VALOR CUOTAS PENDIENTES</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.valor_cuotas_pendientes"></span></td>
												<td style="width: 10%;"><strong>VALOR DE CUOTA</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.valor_cuota"></span></td>
											</tr>
											<tr style="background-color: #c3c3c3;">
												<td><strong>SEGUNDA REESTRUCTURACIÓN</strong></td>
												<td colspan="3"><strong><span v-html="aplicativo_diners_tarjeta_interdin.segunda_restructuracion"></span></strong></td>
											</tr>
											<tr style="background-color: #c3c3c3;">
												<td><strong>TOTAL RIESGO</strong></td>
												<td colspan="3"><strong><span v-html="aplicativo_diners_tarjeta_interdin.total_riesgo"></span></strong></td>
											</tr>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td colspan="2" style="text-align: center; background-color: #404040; color: white;"><strong>SALDOS FACTURADOS</strong></td>
											</tr>
											<tr>
												<td style="width: 60%;"><strong>SALDO A 90 Y MAS 90 DÍAS</strong></td>
												<td style="width: 40%;"><span v-html="aplicativo_diners_tarjeta_interdin.saldo_90_facturado"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO A 60 DIAS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.saldo_60_facturado"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO A 30 DIAS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.saldo_30_facturado"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO ACTUALES</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.saldo_actual_facturado"></span></td>
											</tr>
											<tr>
												<td style="text-decoration: underline;"><strong>DEUDA ACTUAL</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.deuda_actual"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td style="width: 60%;"><strong>INTERESES FACTURADOS</strong></td>
												<td style="width: 40%; background-color: #c3c3c3;"><span v-html="aplicativo_diners_tarjeta_interdin.interes_facturado"></span></td>
											</tr>
											<tr>
												<td><strong>NUMERO DE DIFERIDOS FACTURADOS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.numero_diferidos_facturados"></span></td>
											</tr>
											<tr>
												<td><strong>TOTAL VALOR PRE CANCELACION DIFERIDOS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.total_precancelacion_diferidos"></span></td>
											</tr>
											<tr>
												<td><strong>ESPECIALIDAD VENTA VEHICULOS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.especialidad_venta_vehiculos"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td colspan="4" style="text-align: center; background-color: #404040; color: white;"><strong>PAGOS</strong></td>
											</tr>
											<tr>
												<td style="width: 40%;"><strong>ABONO EFECTIVO DEL SISTEMA</strong></td>
												<td style="width: 20%; background-color: #c3c3c3;"><span v-html="aplicativo_diners_tarjeta_interdin.abono_efectivo_sistema"></span></td>
												<td style="width: 15%;"><strong>ABONO SISTEMA</strong></td>
												<td style="width: 25%;">
													<select class="form-control form-control-sm form-select select2" v-model="aplicativo_diners_tarjeta_interdin.abono_sistema"
															placeholder="Seleccione una opción" v-autoname>
														<option value="SI">SI</option>
														<option value="NO">NO</option>
													</select>
												</td>
											</tr>
											<tr>
												<td><strong>ABONO NEGOCIADOR</strong></td>
												<td style="background-color: #c3c3c3;" colspan="3">
													<input type="text" class="form-control form-control-sm" v-on:keyup="calcularValoresInterdin"
														   v-model="aplicativo_diners_tarjeta_interdin.abono_negociador" placeholder="ABONO NEGOCIADOR" v-autoname/>
												</td>
											</tr>
											<tr>
												<td><strong>ABONO TOTAL</strong></td>
												<td style="background-color: #c3c3c3;" colspan="3"><span v-html="aplicativo_diners_tarjeta_interdin.abono_total"></span></td>
											</tr>
											</tbody>
										</table>
										<table>
											<tbody>
											<tr>
												<td colspan="2" style="text-align: center; background-color: #404040; color: white;"><strong>SALDOS FACTURADOS DESPUÉS DE ABONO</strong></td>
											</tr>
											<tr>
												<td style="width: 60%;"><strong>SALDO A 90 Y MAS 90 DIAS</strong></td>
												<td style="width: 40%;"><span v-html="aplicativo_diners_tarjeta_interdin.saldo_90_facturado_despues_abono"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO A 60 DIAS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.saldo_60_facturado_despues_abono"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO A 30 DIAS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.saldo_30_facturado_despues_abono"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO ACTUALES</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.saldo_actual_facturado_despues_abono"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td colspan="4" style="text-align: center; background-color: #404040; color: white;"><strong>VALORES POR FACTURAR</strong></td>
											</tr>
											<tr>
												<td style="width: 35%;"><strong>INTERESES POR FACTURAR</strong></td>
												<td style="width: 65%;" colspan="3"><span v-html="aplicativo_diners_tarjeta_interdin.interes_facturar"></span></td>
											</tr>
											<tr>
												<td><strong>CORRIENTES POR FACTURAR</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.corrientes_facturar"></span></td>
												<td style="width: 15%;"><strong>INCLUIR EN NEGOCIACIÓN</strong></td>
												<td style="width: 25%;">
													<select class="form-control form-control-sm form-select select2" v-model="aplicativo_diners_tarjeta_interdin.incluir_negociacion"
															placeholder="Seleccione una opción" v-autoname>
														<option value="SI">SI</option>
														<option value="NO">NO</option>
													</select>
												</td>
											</tr>
											<tr>
												<td><strong>ND POR FACTURAR</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_interdin.nd_facturar"></span></td>
											</tr>
											<tr>
												<td><strong>NC POR FACTURAR</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_interdin.nc_facturar"></span></td>
											</tr>
											<tr>
												<td><strong>GASTOS DE COBRANZA / OTROS</strong></td>
												<td colspan="3">
													<input type="text" class="form-control form-control-sm" v-on:keyup="calcularValoresInterdin"
														   v-model="aplicativo_diners_tarjeta_interdin.gastos_cobranza" placeholder="GASTOS DE COBRANZA / OTROS" v-autoname/>
												</td>
											</tr>
											<tr>
												<td><strong>VALOR OTRAS TARJETAS</strong></td>
												<td colspan="3">
													<input type="text" class="form-control form-control-sm" v-on:keyup="calcularValoresInterdin"
														   v-model="aplicativo_diners_tarjeta_interdin.valor_otras_tarjetas" placeholder="VALOR OTRAS TARJETAS" v-autoname/>
												</td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td colspan="2" style="text-align: center; background-color: #404040; color: white;"><strong>FINANCIAMIENTO</strong></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td style="width: 50%; text-align: center; background-color: #404040; color: white;"><strong>TIPO DE FINANCIAMIENTO</strong></td>
												<td style="width: 50%; text-align: center; background-color: #404040; color: white;"><strong>NOVACION</strong></td>
											</tr>
											<tr>
												<td><strong>TOTAL</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.total_financiamiento"></span></td>
											</tr>
											<tr>
												<td><strong>EXIGIBLE</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.exigible_financiamiento"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td style="width: 60%;"><strong>PLAZO DE FINANCIAMIENTO</strong></td>
												<td style="width: 40%;">
													<select class="form-control form-control-sm form-select select2" v-on:change="calcularValoresInterdin"
															v-model="aplicativo_diners_tarjeta_interdin.plazo_financiamiento" placeholder="Seleccione una opción" v-autoname>
														<option value=""></option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
														<option value="8">8</option>
														<option value="9">9</option>
														<option value="12">12</option>
														<option value="24">24</option>
														<option value="36">36</option>
													</select>
												</td>
											</tr>
											<tr>
												<td><strong>MOTIVO DE NO PAGO</strong></td>
												<td>
													<input type="text" class="form-control form-control-sm" v-model="aplicativo_diners_tarjeta_interdin.motivo_no_pago"
														   placeholder="MOTIVO DE NO PAGO"
														   v-autoname/>
												</td>
											</tr>
											<tr>
												<td><strong>NÚMERO DE MESES DE GRACIA</strong></td>
												<td>
													<input type="text" class="form-control form-control-sm" v-on:change="calcularValoresInterdin"
														   v-model="aplicativo_diners_tarjeta_interdin.numero_meses_gracia" placeholder="NÚMERO DE MESES DE GRACIA" v-autoname/>
												</td>
											</tr>
											<tr style="background-color: #404040; color: white;">
												<td><strong>VALOR A FINANCIAR</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.valor_financiar"></span></td>
											</tr>
											<tr style="background-color: #404040; color: white;">
												<td><strong>TOTAL INTERESES</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.total_intereses"></span></td>
											</tr>
											<tr style="background-color: #404040; color: white;">
												<td><strong>TOTAL FINANCIAMIENTO</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.total_financiamiento_total"></span></td>
											</tr>
											<tr style="background-color: #404040; color: white;">
												<td><strong>VALOR CUOTA MENSUAL</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_interdin.valor_cuota_mensual"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td style="width: 30%; text-align: center; font-style: italic;"><strong>OBSERVACION UNIFICACIÓN</strong></td>
												<td style="width: 70%;">
													<textarea rows="3" v-model="aplicativo_diners_tarjeta_interdin.observacion_unificacion" class="form-control form-control-sm"
															  placeholder="OBSERVACION UNIFICACIÓN" v-autoname></textarea>
												</td>
											</tr>
											<tr>
												<td style="text-align: center; font-style: italic;"><strong>OBSERVACION DATOS INFOR. SOCIO</strong></td>
												<td>
													<textarea rows="3" v-model="aplicativo_diners_tarjeta_interdin.observacion_datos_socio" class="form-control form-control-sm"
															  placeholder="OBSERVACION DATOS INFOR. SOCIO" v-autoname></textarea>
												</td>
											</tr>
											<tr>
												<td style="text-align: center; font-style: italic;"><strong>EMPRESA QUE REFINANCIA</strong></td>
												<td>
													<textarea rows="3" v-model="aplicativo_diners_tarjeta_interdin.empresa_refinancia" class="form-control form-control-sm"
															  placeholder="EMPRESA QUE REFINANCIA" v-autoname></textarea>
												</td>
											</tr>
											</tbody>
										</table>
									</td>
									<td style="vertical-align: top;">
										<table>
											<tbody>
											<tr>
												<td style="width: 10%;"><strong>CICLO</strong></td>
												<td style="width: 90%; text-align: center;"><span v-html="aplicativo_diners_tarjeta_discover.ciclo"></span></td>
											</tr>
											<tr>
												<td><strong>EDAD DE CARTERA</strong></td>
												<td style="text-align: center;"><span v-html="aplicativo_diners_tarjeta_discover.edad_cartera"></span></td>
											</tr>
											<tr>
												<td><strong>CODIGO DE CANCELACION</strong></td>
												<td style="text-align: center;"><span v-html="aplicativo_diners_tarjeta_discover.codigo_cancelacion"></span></td>
											</tr>
											<tr>
												<td><strong>CODIGO DE BOLETIN</strong></td>
												<td style="text-align: center;"><span v-html="aplicativo_diners_tarjeta_discover.codigo_boletin"></span></td>
											</tr>
											<tr>
												<td><strong>DÉBITO AUTOMÁTICO</strong></td>
												<td style="text-align: center;"><span v-html="aplicativo_diners_tarjeta_discover.debito_automatico"></span></td>
											</tr>
											<tr style="background-color: #c3c3c3;">
												<td><strong>PROMEDIO DE PAGO</strong></td>
												<td style="text-align: center;"><strong><span v-html="aplicativo_diners_tarjeta_discover.promedio_pago"></span></strong></td>
											</tr>
											<tr>
												<td><strong>SCORE</strong></td>
												<td style="text-align: center;"><span v-html="aplicativo_diners_tarjeta_discover.score"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td style="width: 10%;"><strong>CAMPAÑA</strong></td>
												<td style="width: 90%;" colspan="3"><span v-html="aplicativo_diners_tarjeta_discover.campana"></span></td>
											</tr>
											<tr>
												<td><strong>EJECUTIVO ACTUAL A CARGO DE CUENTA</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_discover.ejecutivo_actual_cuenta"></span></td>
											</tr>
											<tr>
												<td><strong>LUGAR DE TRABAJO</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_discover.lugar_trabajo"></span></td>
											</tr>
											<tr>
												<td><strong>FECHA ÚLTIMA GESTIÓN</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_discover.fecha_ultima_gestion"></span></td>
											</tr>
											<tr>
												<td><strong>MOTIVO DE GESTIÓN</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_discover.motivo_gestion"></span></td>
											</tr>
											<tr>
												<td><strong>DESCRIPCIÓN DE GESTIÓN</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_discover.descripcion_gestion"></span></td>
											</tr>
											<tr>
												<td><strong>OBSERVACIONES DE GESTIÓN</strong></td>
												<td colspan="3">
													<textarea rows="3" v-model="aplicativo_diners_tarjeta_discover.observacion_gestion" class="form-control form-control-sm"
															  placeholder="OBSERVACIONES DE GESTIÓN" v-autoname></textarea>
												</td>
											</tr>
											<tr>
												<td><strong>FECHA DE COMPROMISO</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.fecha_compromiso"></span></td>
												<td style="width: 10%;"><strong>TT/EXIG/PARCIAL</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.tt_exig_parcial"></span></td>
											</tr>
											<tr>
												<td><strong>MOTIVO DE NO PAGO ANTERIOR</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_discover.motivo_no_pago_anterior"></span></td>
											</tr>
											<tr>
												<td><strong>FINANCIAMIENTO VIGENTE</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_discover.financiamiento_vigente"></span></td>
											</tr>
											</tbody>
											<tr>
												<td><strong>N° CUOTAS PENDIENTES</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.numero_cuotas_pendientes"></span></td>
												<td style="width: 10%;"><strong>TT CUOTAS FACT</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.tt_cuotas_fact"></span></td>
											</tr>
											<tr>
												<td><strong>VALOR CUOTAS PENDIENTES</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.valor_cuotas_pendientes"></span></td>
												<td style="width: 10%;"><strong>VALOR DE CUOTA</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.valor_cuota"></span></td>
											</tr>
											<tr style="background-color: #c3c3c3;">
												<td><strong>SEGUNDA REESTRUCTURACIÓN</strong></td>
												<td colspan="3"><strong><span v-html="aplicativo_diners_tarjeta_discover.segunda_restructuracion"></span></strong></td>
											</tr>
											<tr style="background-color: #c3c3c3;">
												<td><strong>TOTAL RIESGO</strong></td>
												<td colspan="3"><strong><span v-html="aplicativo_diners_tarjeta_discover.total_riesgo"></span></strong></td>
											</tr>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td colspan="2" style="text-align: center; background-color: #E66929; color: white;"><strong>SALDOS FACTURADOS</strong></td>
											</tr>
											<tr>
												<td style="width: 60%;"><strong>SALDO A 90 Y MAS 90 DÍAS</strong></td>
												<td style="width: 40%;"><span v-html="aplicativo_diners_tarjeta_discover.saldo_90_facturado"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO A 60 DIAS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.saldo_60_facturado"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO A 30 DIAS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.saldo_30_facturado"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO ACTUALES</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.saldo_actual_facturado"></span></td>
											</tr>
											<tr>
												<td style="text-decoration: underline;"><strong>DEUDA ACTUAL</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.deuda_actual"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td style="width: 60%;"><strong>INTERESES FACTURADOS</strong></td>
												<td style="width: 40%; background-color: #c3c3c3;"><span v-html="aplicativo_diners_tarjeta_discover.interes_facturado"></span></td>
											</tr>
											<tr>
												<td><strong>NUMERO DE DIFERIDOS FACTURADOS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.numero_diferidos_facturados"></span></td>
											</tr>
											<tr>
												<td><strong>TOTAL VALOR PRE CANCELACION DIFERIDOS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.total_precancelacion_diferidos"></span></td>
											</tr>
											<tr>
												<td><strong>ESPECIALIDAD VENTA VEHICULOS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.especialidad_venta_vehiculos"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td colspan="4" style="text-align: center; background-color: #E66929; color: white;"><strong>PAGOS</strong></td>
											</tr>
											<tr>
												<td style="width: 40%;"><strong>ABONO EFECTIVO DEL SISTEMA</strong></td>
												<td style="width: 20%; background-color: #c3c3c3;"><span v-html="aplicativo_diners_tarjeta_discover.abono_efectivo_sistema"></span></td>
												<td style="width: 15%;"><strong>ABONO SISTEMA</strong></td>
												<td style="width: 25%;">
													<select class="form-control form-control-sm form-select select2" v-model="aplicativo_diners_tarjeta_discover.abono_sistema"
															placeholder="Seleccione una opción" v-autoname>
														<option value="SI">SI</option>
														<option value="NO">NO</option>
													</select>
												</td>
											</tr>
											<tr>
												<td><strong>ABONO NEGOCIADOR</strong></td>
												<td style="background-color: #c3c3c3;" colspan="3">
													<input type="text" class="form-control form-control-sm" v-on:keyup="calcularValoresDiscover"
														   v-model="aplicativo_diners_tarjeta_discover.abono_negociador" placeholder="ABONO NEGOCIADOR" v-autoname/>
												</td>
											</tr>
											<tr>
												<td><strong>ABONO TOTAL</strong></td>
												<td style="background-color: #c3c3c3;" colspan="3"><span v-html="aplicativo_diners_tarjeta_discover.abono_total"></span></td>
											</tr>
											</tbody>
										</table>
										<table>
											<tbody>
											<tr>
												<td colspan="2" style="text-align: center; background-color: #E66929; color: white;"><strong>SALDOS FACTURADOS DESPUÉS DE ABONO</strong></td>
											</tr>
											<tr>
												<td style="width: 60%;"><strong>SALDO A 90 Y MAS 90 DIAS</strong></td>
												<td style="width: 40%;"><span v-html="aplicativo_diners_tarjeta_discover.saldo_90_facturado_despues_abono"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO A 60 DIAS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.saldo_60_facturado_despues_abono"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO A 30 DIAS</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.saldo_30_facturado_despues_abono"></span></td>
											</tr>
											<tr>
												<td><strong>SALDO ACTUALES</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.saldo_actual_facturado_despues_abono"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td colspan="4" style="text-align: center; background-color: #E66929; color: white;"><strong>VALORES POR FACTURAR</strong></td>
											</tr>
											<tr>
												<td style="width: 35%;"><strong>INTERESES POR FACTURAR</strong></td>
												<td style="width: 65%;" colspan="3"><span v-html="aplicativo_diners_tarjeta_discover.interes_facturar"></span></td>
											</tr>
											<tr>
												<td><strong>CORRIENTES POR FACTURAR</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.corrientes_facturar"></span></td>
												<td style="width: 15%;"><strong>INCLUIR EN NEGOCIACIÓN</strong></td>
												<td style="width: 25%;">
													<select class="form-control form-control-sm form-select select2" v-model="aplicativo_diners_tarjeta_discover.incluir_negociacion"
															placeholder="Seleccione una opción" v-autoname>
														<option value="SI">SI</option>
														<option value="NO">NO</option>
													</select>
												</td>
											</tr>
											<tr>
												<td><strong>ND POR FACTURAR</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_discover.nd_facturar"></span></td>
											</tr>
											<tr>
												<td><strong>NC POR FACTURAR</strong></td>
												<td colspan="3"><span v-html="aplicativo_diners_tarjeta_discover.nc_facturar"></span></td>
											</tr>
											<tr>
												<td><strong>GASTOS DE COBRANZA / OTROS</strong></td>
												<td colspan="3">
													<input type="text" class="form-control form-control-sm" v-on:keyup="calcularValoresDiscover"
														   v-model="aplicativo_diners_tarjeta_discover.gastos_cobranza" placeholder="GASTOS DE COBRANZA / OTROS" v-autoname/>
												</td>
											</tr>
											<tr>
												<td><strong>VALOR OTRAS TARJETAS</strong></td>
												<td colspan="3">
													<input type="text" class="form-control form-control-sm" v-on:keyup="calcularValoresDiscover"
														   v-model="aplicativo_diners_tarjeta_discover.valor_otras_tarjetas" placeholder="VALOR OTRAS TARJETAS" v-autoname/>
												</td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td colspan="2" style="text-align: center; background-color: #E66929; color: white;"><strong>FINANCIAMIENTO</strong></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td style="width: 50%; text-align: center; background-color: #E66929; color: white;"><strong>TIPO DE FINANCIAMIENTO</strong></td>
												<td style="width: 50%; text-align: center; background-color: #E66929; color: white;"><strong>NOVACION</strong></td>
											</tr>
											<tr>
												<td><strong>TOTAL</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.total_financiamiento"></span></td>
											</tr>
											<tr>
												<td><strong>EXIGIBLE</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.exigible_financiamiento"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td style="width: 60%;"><strong>PLAZO DE FINANCIAMIENTO</strong></td>
												<td style="width: 40%;">
													<select class="form-control form-control-sm form-select select2" v-on:change="calcularValoresDiscover"
															v-model="aplicativo_diners_tarjeta_discover.plazo_financiamiento" placeholder="Seleccione una opción" v-autoname>
														<option value=""></option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
														<option value="8">8</option>
														<option value="9">9</option>
														<option value="12">12</option>
														<option value="24">24</option>
														<option value="36">36</option>
													</select>
												</td>
											</tr>
											<tr>
												<td><strong>MOTIVO DE NO PAGO</strong></td>
												<td>
													<input type="text" class="form-control form-control-sm" v-model="aplicativo_diners_tarjeta_discover.motivo_no_pago"
														   placeholder="MOTIVO DE NO PAGO"
														   v-autoname/>
												</td>
											</tr>
											<tr>
												<td><strong>NÚMERO DE MESES DE GRACIA</strong></td>
												<td>
													<input type="text" class="form-control form-control-sm" v-on:change="calcularValoresDiscover"
														   v-model="aplicativo_diners_tarjeta_discover.numero_meses_gracia" placeholder="NÚMERO DE MESES DE GRACIA" v-autoname/>
												</td>
											</tr>
											<tr style="background-color: #E66929; color: white;">
												<td><strong>VALOR A FINANCIAR</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.valor_financiar"></span></td>
											</tr>
											<tr style="background-color: #E66929; color: white;">
												<td><strong>TOTAL INTERESES</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.total_intereses"></span></td>
											</tr>
											<tr style="background-color: #E66929; color: white;">
												<td><strong>TOTAL FINANCIAMIENTO</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.total_financiamiento_total"></span></td>
											</tr>
											<tr style="background-color: #E66929; color: white;">
												<td><strong>VALOR CUOTA MENSUAL</strong></td>
												<td><span v-html="aplicativo_diners_tarjeta_discover.valor_cuota_mensual"></span></td>
											</tr>
											</tbody>
										</table>
										<br/>
										<table>
											<tbody>
											<tr>
												<td style="width: 30%; text-align: center; font-style: italic;"><strong>OBSERVACION UNIFICACIÓN</strong></td>
												<td style="width: 70%;">
													<textarea rows="3" v-model="aplicativo_diners_tarjeta_discover.observacion_unificacion" class="form-control form-control-sm"
															  placeholder="OBSERVACION UNIFICACIÓN" v-autoname></textarea>
												</td>
											</tr>
											<tr>
												<td style="text-align: center; font-style: italic;"><strong>OBSERVACION DATOS INFOR. SOCIO</strong></td>
												<td>
													<textarea rows="3" v-model="aplicativo_diners_tarjeta_discover.observacion_datos_socio" class="form-control form-control-sm"
															  placeholder="OBSERVACION DATOS INFOR. SOCIO" v-autoname></textarea>
												</td>
											</tr>
											<tr>
												<td style="text-align: center; font-style: italic;"><strong>EMPRESA QUE REFINANCIA</strong></td>
												<td>
													<textarea rows="3" v-model="aplicativo_diners_tarjeta_discover.empresa_refinancia" class="form-control form-control-sm"
															  placeholder="EMPRESA QUE REFINANCIA" v-autoname></textarea>
												</td>
											</tr>
											</tbody>
										</table>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="mb-0 mt-4 ">
						<div class="col-md-12">
							<button class="btn btn-primary" type="submit" id="btnGuardarDiners" name="btnGuardarDiners" v-on:click="guardarAplicativoDiners">
								<i class="fa fa-save"></i> Guardar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ bundle('validate') }}
	{{ bundle('summer') }}
	{{ script('js/lodash.js') }}
	{{ bundle('jasny') }}
	<script>
		_autonameVueCount = 0;
		Vue.directive('autoname', {
			inserted: function (el, binding, vnode) {
				_autonameVueCount++;
				$(el).prop('name', '_auto' + _autonameVueCount);
			}
		});

		var app = new Vue({
			el: '#app',
			data: {
				cat: {{ catalogos|raw }},
				model: {{ model|raw }},
				telefono: {{ telefono|raw }},
				email: {{ email|raw }},
				cliente: {{ cliente|raw }},
				aplicativo_diners: {{ aplicativo_diners|raw }},
				aplicativo_diners_tarjeta_diners: {{ aplicativo_diners_tarjeta_diners|raw }},
				aplicativo_diners_tarjeta_discover: {{ aplicativo_diners_tarjeta_discover|raw }},
				aplicativo_diners_tarjeta_interdin: {{ aplicativo_diners_tarjeta_interdin|raw }},
				aplicativo_diners_porcentaje_interes: {{ aplicativo_diners_porcentaje_interes|raw }},
			},
			watch: {},
			computed: {},
			methods: {
				calcularValoresDiners: function () {
					var self = this;

					//ABONO TOTAL
					var abono_total_diners = parseFloat(self.aplicativo_diners_tarjeta_diners.abono_efectivo_sistema) + parseFloat(self.aplicativo_diners_tarjeta_diners.abono_negociador);
					self.aplicativo_diners_tarjeta_diners.abono_total = abono_total_diners.toFixed(2);

					//VALOR A FINANCIAR
					var valor_financiar_diners = parseFloat(self.aplicativo_diners_tarjeta_diners.deuda_actual) + parseFloat(self.aplicativo_diners_tarjeta_diners.total_precancelacion_diferidos) +
						parseFloat(self.aplicativo_diners_tarjeta_diners.interes_facturar) + parseFloat(self.aplicativo_diners_tarjeta_diners.corrientes_facturar) +
						parseFloat(self.aplicativo_diners_tarjeta_diners.gastos_cobranza) + parseFloat(self.aplicativo_diners_tarjeta_diners.valor_otras_tarjetas) -
						parseFloat(self.aplicativo_diners_tarjeta_diners.abono_total);
					self.aplicativo_diners_tarjeta_diners.valor_financiar = valor_financiar_diners.toFixed(2);

					//TOTAL INTERES
					var porcentaje_interes_arr = [];
					$.each(self.aplicativo_diners_porcentaje_interes, function (key, value) {
						porcentaje_interes_arr[value.meses_plazo] = value.interes;
					});
					var porcentaje_interes = 0.00;
					var meses_plazo = parseInt(self.aplicativo_diners_tarjeta_diners.plazo_financiamiento) + parseInt(self.aplicativo_diners_tarjeta_diners.numero_meses_gracia);
					if (typeof (porcentaje_interes_arr[meses_plazo]) != "undefined" && porcentaje_interes_arr[meses_plazo] !== null) {
						porcentaje_interes = porcentaje_interes_arr[meses_plazo];
					}
					var total_interes = parseFloat(self.aplicativo_diners_tarjeta_diners.valor_financiar) * (porcentaje_interes / 100);
					self.aplicativo_diners_tarjeta_diners.total_intereses = total_interes.toFixed(2);

					//TOTAL FINANCIAMIENTO
					var total_financiamiento = parseFloat(self.aplicativo_diners_tarjeta_diners.valor_financiar) + parseFloat(self.aplicativo_diners_tarjeta_diners.total_intereses);
					self.aplicativo_diners_tarjeta_diners.total_financiamiento_total = total_financiamiento.toFixed(2);

					//VALOR CUOTA MENSUAL
					var cuota_mensual = 0;
					if (parseInt(self.aplicativo_diners_tarjeta_diners.plazo_financiamiento) > 0) {
						cuota_mensual = parseFloat(self.aplicativo_diners_tarjeta_diners.total_financiamiento_total) / parseInt(self.aplicativo_diners_tarjeta_diners.plazo_financiamiento);
					}
					self.aplicativo_diners_tarjeta_diners.valor_cuota_mensual = cuota_mensual.toFixed(2);
				},

				calcularValoresInterdin: function () {
					var self = this;

					//ABONO TOTAL
					var abono_total_diners = parseFloat(self.aplicativo_diners_tarjeta_interdin.abono_efectivo_sistema) + parseFloat(self.aplicativo_diners_tarjeta_interdin.abono_negociador);
					self.aplicativo_diners_tarjeta_interdin.abono_total = abono_total_diners.toFixed(2);

					//VALOR A FINANCIAR
					var valor_financiar_diners = parseFloat(self.aplicativo_diners_tarjeta_interdin.deuda_actual) + parseFloat(self.aplicativo_diners_tarjeta_interdin.total_precancelacion_diferidos) +
						parseFloat(self.aplicativo_diners_tarjeta_interdin.interes_facturar) + parseFloat(self.aplicativo_diners_tarjeta_interdin.corrientes_facturar) +
						parseFloat(self.aplicativo_diners_tarjeta_interdin.gastos_cobranza) + parseFloat(self.aplicativo_diners_tarjeta_interdin.valor_otras_tarjetas) -
						parseFloat(self.aplicativo_diners_tarjeta_interdin.abono_total);
					self.aplicativo_diners_tarjeta_interdin.valor_financiar = valor_financiar_diners.toFixed(2);

					//TOTAL INTERES
					var porcentaje_interes_arr = [];
					$.each(self.aplicativo_diners_porcentaje_interes, function (key, value) {
						porcentaje_interes_arr[value.meses_plazo] = value.interes;
					});
					var porcentaje_interes = 0.00;
					var meses_plazo = parseInt(self.aplicativo_diners_tarjeta_interdin.plazo_financiamiento) + parseInt(self.aplicativo_diners_tarjeta_interdin.numero_meses_gracia);
					if (typeof (porcentaje_interes_arr[meses_plazo]) != "undefined" && porcentaje_interes_arr[meses_plazo] !== null) {
						porcentaje_interes = porcentaje_interes_arr[meses_plazo];
					}
					var total_interes = parseFloat(self.aplicativo_diners_tarjeta_interdin.valor_financiar) * (porcentaje_interes / 100);
					self.aplicativo_diners_tarjeta_interdin.total_intereses = total_interes.toFixed(2);

					//TOTAL FINANCIAMIENTO
					var total_financiamiento = parseFloat(self.aplicativo_diners_tarjeta_interdin.valor_financiar) + parseFloat(self.aplicativo_diners_tarjeta_interdin.total_intereses);
					self.aplicativo_diners_tarjeta_interdin.total_financiamiento_total = total_financiamiento.toFixed(2);

					//VALOR CUOTA MENSUAL
					var cuota_mensual = 0;
					if (parseInt(self.aplicativo_diners_tarjeta_interdin.plazo_financiamiento) > 0) {
						cuota_mensual = parseFloat(self.aplicativo_diners_tarjeta_interdin.total_financiamiento_total) / parseInt(self.aplicativo_diners_tarjeta_interdin.plazo_financiamiento);
					}
					self.aplicativo_diners_tarjeta_interdin.valor_cuota_mensual = cuota_mensual.toFixed(2);
				},

				calcularValoresDiscover: function () {
					var self = this;

					//ABONO TOTAL
					var abono_total_diners = parseFloat(self.aplicativo_diners_tarjeta_discover.abono_efectivo_sistema) + parseFloat(self.aplicativo_diners_tarjeta_discover.abono_negociador);
					self.aplicativo_diners_tarjeta_discover.abono_total = abono_total_diners.toFixed(2);

					//VALOR A FINANCIAR
					var valor_financiar_diners = parseFloat(self.aplicativo_diners_tarjeta_discover.deuda_actual) + parseFloat(self.aplicativo_diners_tarjeta_discover.total_precancelacion_diferidos) +
						parseFloat(self.aplicativo_diners_tarjeta_discover.interes_facturar) + parseFloat(self.aplicativo_diners_tarjeta_discover.corrientes_facturar) +
						parseFloat(self.aplicativo_diners_tarjeta_discover.gastos_cobranza) + parseFloat(self.aplicativo_diners_tarjeta_discover.valor_otras_tarjetas) -
						parseFloat(self.aplicativo_diners_tarjeta_discover.abono_total);
					self.aplicativo_diners_tarjeta_discover.valor_financiar = valor_financiar_diners.toFixed(2);

					//TOTAL INTERES
					var porcentaje_interes_arr = [];
					$.each(self.aplicativo_diners_porcentaje_interes, function (key, value) {
						porcentaje_interes_arr[value.meses_plazo] = value.interes;
					});
					var porcentaje_interes = 0.00;
					var meses_plazo = parseInt(self.aplicativo_diners_tarjeta_discover.plazo_financiamiento) + parseInt(self.aplicativo_diners_tarjeta_discover.numero_meses_gracia);
					if (typeof (porcentaje_interes_arr[meses_plazo]) != "undefined" && porcentaje_interes_arr[meses_plazo] !== null) {
						porcentaje_interes = porcentaje_interes_arr[meses_plazo];
					}
					var total_interes = parseFloat(self.aplicativo_diners_tarjeta_discover.valor_financiar) * (porcentaje_interes / 100);
					self.aplicativo_diners_tarjeta_discover.total_intereses = total_interes.toFixed(2);

					//TOTAL FINANCIAMIENTO
					var total_financiamiento = parseFloat(self.aplicativo_diners_tarjeta_discover.valor_financiar) + parseFloat(self.aplicativo_diners_tarjeta_discover.total_intereses);
					self.aplicativo_diners_tarjeta_discover.total_financiamiento_total = total_financiamiento.toFixed(2);

					//VALOR CUOTA MENSUAL
					var cuota_mensual = 0;
					if (parseInt(self.aplicativo_diners_tarjeta_discover.plazo_financiamiento) > 0) {
						cuota_mensual = parseFloat(self.aplicativo_diners_tarjeta_discover.total_financiamiento_total) / parseInt(self.aplicativo_diners_tarjeta_discover.plazo_financiamiento);
					}
					self.aplicativo_diners_tarjeta_discover.valor_cuota_mensual = cuota_mensual.toFixed(2);
				},

				guardarAplicativoDiners: function () {
					var self = this;
					var data = {
						model: self.model,
						aplicativo_diners: self.aplicativo_diners,
						aplicativo_diners_tarjeta_diners: self.aplicativo_diners_tarjeta_diners,
						aplicativo_diners_tarjeta_discover: self.aplicativo_diners_tarjeta_discover,
						aplicativo_diners_tarjeta_interdin: self.aplicativo_diners_tarjeta_interdin,
					};
					$.post('{{ root }}/producto/guardarAplicativoDiners', data, function (res) {
						alert("APLICATIVO DINERS GUARDADO");
					})
				}
			},
			mounted: function () {
				var self = this;
				$('#form-edit').validate({
					onfocusout: false,
					onkeyup: false,
					onclick: false,
					submitHandler: function (form) {
						var data = {
							model: self.model,
							telefono: self.telefono,
							del_telefono: self.del_telefono,
							email: self.email,
							del_email: self.del_email,
						};
						$('#json').val(JSON.stringify(data));
						$("#btnGuardar").prop("disabled", true);
						form.submit();
						return false;
					}
				});
			}
		});
	</script>
	<style>
		table, th, td {
			border: 1px solid;
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}
	</style>
{% endblock %}