{% extends 'layout.twig' %}
{% block content %}
	<div id="app">
		<form method="POST" action="{{ root }}/producto/guardarSeguimiento" id="form-edit-seguimiento" class="form-horizontal" autocomplete="off" enctype="multipart/form-data">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">CLIENTE</h4>
				</div>
				<div class="card-body">
					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Nombres *</label>
						<div class="col-md-4 col-informacion">
							<input type="text" readonly class="form-control-plaintext" v-model="cliente.nombres">
						</div>

						<label for="inputName" class="col-md-2 form-label">Cédula *</label>
						<div class="col-md-4 col-informacion">
							<input type="text" readonly class="form-control-plaintext" v-model="cliente.cedula">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Teléfonos</label>
						<div class="col-md-10">
							<table>
								<tr>
									<td style="background-color: #CCFFCC; width: 20px; color: white; border: 1px solid white;"></td>
									<td style="border: 1px solid white;">Número ORO</td>
								</tr>
							</table>
							<table class="table border table-bordered table-sm mb-0">
								<thead>
								<tr>
									<th style="width: 33%;">Marcación / Teléfono</th>
									<th style="width: 33%;">Descripción</th>
									<th style="width: 33%;">Origen</th>
								</tr>
								</thead>
								<tbody>
								<tr v-for="t in telefono">
									<td style="text-align: center;">
										<label class="custom-control custom-radio">
											<input type="radio" class="custom-control-input required" name="example-radios" v-model="seguimiento.telefono_id" :value="t.id">

											<template v-if="t.bandera == 1">
												<span style="background-color: #CCFFCC;" class="custom-control-label" v-html="t.telefono"></span>
											</template>
											<template v-else>
												<span class="custom-control-label" v-html="t.telefono"></span>
											</template>

										</label>
									</td>
									<td>
										<span style="text-transform: uppercase;" class="form-control-plaintext" v-html="t.descripcion"></span>
									</td>
									<td>
										<span style="text-transform: uppercase;" class="form-control-plaintext" v-html="t.origen"></span>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Direcciones</label>
						<div class="col-md-10">
							<table class="table border table-bordered table-sm mb-0">
								<thead>
								<tr>
									<th>Tipo</th>
									<th>Ciudad</th>
									<th>Dirección</th>
								</tr>
								</thead>
								<tbody>
								<tr v-for="d in direccion">
									<td>
										<span style="text-transform: uppercase;" class="form-control-plaintext" v-html="d.tipo"></span>
									</td>
									<td>
										<span style="text-transform: uppercase;" class="form-control-plaintext" v-html="d.ciudad"></span>
									</td>
									<td>
										<span style="text-transform: uppercase;" class="form-control-plaintext" v-html="d.direccion"></span>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Emails</label>
						<div class="col-md-10">
							<table class="table border text-nowrap text-md-nowrap table-bordered table-sm mb-0">
								<thead>
								<tr>
									<th>Tipo</th>
									<th>Descripción</th>
									<th>Email</th>
									<th>Origen</th>
								</tr>
								</thead>
								<tbody>
								<tr v-for="e in email">
									<td>
										<span style="text-transform: uppercase;" class="form-control-plaintext" v-html="e.tipo"></span>
									</td>
									<td>
										<span style="text-transform: uppercase;" class="form-control-plaintext" v-html="e.descripcion"></span>
									</td>
									<td>
										<span style="text-transform: uppercase;" class="form-control-plaintext" v-html="e.email"></span>
									</td>
									<td>
										<span style="text-transform: uppercase;" class="form-control-plaintext" v-html="e.origen"></span>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Referencias</label>
						<div class="col-md-10">
							<table class="table border text-nowrap text-md-nowrap table-bordered table-sm mb-0">
								<thead>
								<tr>
									<th>Tipo</th>
									<th>Descripción</th>
									<th>Nombre</th>
									<th>Teléfono</th>
									<th>Ciudad</th>
									<th>Dirección</th>
								</tr>
								</thead>
								<tbody>
								<tr v-for="r in referencia">
									<td>
										<input type="text" style="text-transform: uppercase;" readonly
										       class="form-control-plaintext" v-model="r.tipo">
									</td>
									<td>
										<input type="text" style="text-transform: uppercase;" readonly
										       class="form-control-plaintext" v-model="r.descripcion">
									</td>
									<td>
										<input type="text" style="text-transform: uppercase;" readonly
										       class="form-control-plaintext" v-model="r.nombre">
									</td>
									<td>
										<input type="text" style="text-transform: uppercase;" readonly
										       class="form-control-plaintext" v-model="r.telefono">
									</td>
									<td>
										<input type="text" style="text-transform: uppercase;" readonly
										       class="form-control-plaintext" v-model="r.ciudad">
									</td>
									<td>
											<textarea rows="3" v-model="r.direccion" class="form-control-plaintext"
											          readonly placeholder="Dirección" v-autoname></textarea>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="mb-0 mt-4 ">
						<div class="col-md-12">
							<input type="hidden" v-model="model.id" id="id" name="id"/>
						</div>
					</div>
				</div>
			</div>



			<div class="card">
				<div class="card-header">
					<h4 class="card-title">SEGUIMIENTO</h4>
				</div>
				<div class="card-body">
					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">{{ paleta.titulo_nivel1 }}</label>
						<div class="col-md-4 col-informacion">
							<select class="form-control form-select select2" v-on:change="cargarNivel2"
							        v-model="seguimiento.nivel_1_id" placeholder="Seleccione una opción" id="nivel_1_id"
							        required v-autoname>
								<option v-for="item in cat.paleta_nivel_1" v-bind:value="item.nivel1_id" v-html="item.nivel1"></option>
							</select>
						</div>

						<label for="inputName" class="col-md-2 form-label">{{ paleta.titulo_nivel2 }}</label>
						<div class="col-md-4 col-informacion">
							<select class="form-control form-select select2" v-on:change="cargarNivel3(); verificarCampos(2);"
							        v-model="seguimiento.nivel_2_id" placeholder="Seleccione una opción" id="nivel_2_id"
							        required v-autoname>
								<option v-for="item in cat.paleta_nivel_2" v-bind:value="item.nivel2_id" v-html="item.nivel2"></option>
							</select>
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">{{ paleta.titulo_nivel3 }}</label>
						<div class="col-md-4 col-informacion">
							<select class="form-control form-select select2" v-on:change="cargarNivel4"
							        v-model="seguimiento.nivel_3_id" placeholder="Seleccione una opción" id="nivel_3_id"
							        required v-autoname>
								<option v-for="item in cat.paleta_nivel_3" v-bind:value="item.nivel3_id" v-html="item.nivel3"></option>
							</select>
						</div>

						<label for="inputName" class="col-md-2 form-label">{{ paleta.titulo_nivel4 }}</label>
						<div class="col-md-4 col-informacion">
							<select class="form-control form-select select2"
							        v-model="seguimiento.nivel_4_id" placeholder="Seleccione una opción" id="nivel_4_id"
							        required v-autoname>
								<option v-for="item in cat.paleta_nivel_4" v-bind:value="item.nivel4_id" v-html="item.nivel4"></option>
							</select>
						</div>
					</div>

					<div id="div_fecha_compromiso_pago">
						<div class=" row mb-4">
							<label for="inputName" class="col-md-2 form-label">FECHA COMPROMISO DE PAGO</label>
							<div class="col-md-4 col-informacion">
								<input type="text" class="form-control fecha" id="fecha_compromiso_pago" name="fecha_compromiso_pago">
							</div>
						</div>
					</div>

					<div id="div_valor_comprometido">
						<div class=" row mb-4">
							<label for="inputName" class="col-md-2 form-label">VALOR COMPROMETIDO</label>
							<div class="col-md-4 col-informacion">
								<input type="text" class="form-control number" v-model="seguimiento.valor_comprometido" id="valor_comprometido" name="valor_comprometido">
							</div>
						</div>
					</div>

					<div id="div_motivo_no_pago">
						<h4 class="text-primary">MOTIVO DE NO PAGO</h4>
						<div class=" row mb-4">
							<label for="inputName" class="col-md-2 form-label">{{ paleta.titulo_motivo_no_pago_nivel1 }}</label>
							<div class="col-md-4 col-informacion">
								<select class="form-control form-select select2" v-on:change="cargarMotivoNoPagoNivel2"
								        v-model="seguimiento.nivel_1_motivo_no_pago_id" placeholder="Seleccione una opción" id="nivel_1_motivo_no_pago_id"
								        required v-autoname>
									<option v-for="item in cat.paleta_motivo_no_pago_nivel_1" v-bind:value="item.nivel1_id" v-html="item.nivel1"></option>
								</select>
							</div>
						</div>
					</div>

					<hr/>
					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Observaciones</label>
						<div class="col-md-4 col-informacion">
						<textarea rows="3" class="form-control" placeholder="Observaciones"
						          v-model="seguimiento.observaciones" v-autoname></textarea>
						</div>
					</div>

					<div class="mb-0 mt-4 ">
						<div class="col-md-12">
							<input type="hidden" name="json" id="json"/>
							<button class="btn btn-primary" type="submit" id="btnGuardar" name="btnGuardar">
								<i class="fa fa-save"></i> GUARDAR
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>

		<div class="card">
			<div class="card-header">
				<h4 class="card-title">OPERACIÓN</h4>
			</div>
			<div class="card-body">
				<div class=" row mb-4">
					<label for="inputName" class="col-md-2 form-label">Código operación</label>
					<div class="col-md-4 col-informacion">
						<span class="form-control-plaintext" style="text-transform: uppercase;" v-html="model.producto"></span>
					</div>

					<label for="inputName" class="col-md-2 form-label">Estado</label>
					<div class="col-md-4 col-informacion">
						<span class="form-control-plaintext" style="text-transform: uppercase;" v-html="model.estado"></span>
					</div>
				</div>

				{% set residuo_final = 1 %}
				{% for key, pc in producto_campos %}
					{% if((key % 2) == 0) %}
						<div class=" row mb-4">
					{% endif %}
					<label for="inputName" class="col-md-2 form-label">{{ pc.campo }}</label>
					<div class="col-md-4 col-informacion">
						<span class="form-control-plaintext">{{ pc.valor }}</span>
					</div>
					{% if((key % 2) == 1) %}
						</div>
					{% endif %}
					{% set residuo_final = (key % 2) %}
				{% endfor %}
				{% if(residuo_final == 0) %}
			</div>
			{% endif %}
		</div>
	</div>

	{{ bundle('validate') }}
	{{ bundle('summer') }}
	{{ script('js/lodash.js') }}
	{{ bundle('jasny') }}
	<script>
        _autonameVueCount = 0;
        Vue.directive('autoname', {
            inserted: function (el, binding, vnode) {
                _autonameVueCount++;
                $(el).prop('name', '_auto' + _autonameVueCount);
            }
        });

        var app = new Vue({
            el: '#app',
            data: {
                cat: {{ catalogos|raw }},
                model: {{ model|raw }},
                telefono: {{ telefono|raw }},
	            email: {{ email|raw }},
                direccion: {{ direccion|raw }},
                referencia: {{ referencia|raw }},
                cliente: {{ cliente|raw }},
                seguimiento: {{ seguimiento|raw }},
            },
            watch: {},
            computed: {},
            methods: {
                cargarNivel2: function () {
                    var self = this;
                    var data = {
                        nivel_1_id: self.seguimiento.nivel_1_id,
                    };
                    $.post('{{ root }}/paleta/cargarNivel2', data, function (res) {
                        self.cat.paleta_nivel_2 = res;
                        self.cat.paleta_nivel_3 = [];
                        self.cat.paleta_nivel_4 = [];
                        console.log(res);
                    });
                },

                cargarNivel3: function () {
                    var self = this;
                    var data = {
                        nivel_2_id: self.seguimiento.nivel_2_id,
                    };
                    $.post('{{ root }}/paleta/cargarNivel3', data, function (res) {
                        self.cat.paleta_nivel_3 = res;
                        self.cat.paleta_nivel_4 = [];
                        console.log(res);
                    });
                },

                cargarNivel4: function () {
                    var self = this;
                    var data = {
                        nivel_3_id: self.seguimiento.nivel_3_id,
                    };
                    $.post('{{ root }}/paleta/cargarNivel4', data, function (res) {
                        self.cat.paleta_nivel_4 = res;
                        console.log(res);
                    });
                },

                verificarCampos: function (nivel) {
                    var self = this;
                    var data = {
                        nivel_1_id: self.seguimiento.nivel_1_id,
                        nivel_2_id: self.seguimiento.nivel_2_id,
                        nivel_3_id: self.seguimiento.nivel_3_id,
                        nivel_4_id: self.seguimiento.nivel_4_id,
                        nivel: nivel,
                    };
                    $.post('{{ root }}/producto/verificarCampos', data, function (res) {
                        if(res.mostrar_motivo_no_pago == 'si'){
                            $("#div_motivo_no_pago").show();
                            $('#nivel_1_motivo_no_pago_id').prop('required',true);
                        }else{
                            $("#div_motivo_no_pago").hide();
                            $('#nivel_1_motivo_no_pago_id').removeAttr('required');
                        }

                        if(res.mostrar_fecha_compromiso_pago == 'si'){
                            $("#div_fecha_compromiso_pago").show();
                            $('#fecha_compromiso_pago').prop('required',true);
                        }else{
                            $("#div_fecha_compromiso_pago").hide();
                            $('#fecha_compromiso_pago').removeAttr('required');
                        }

                        if(res.mostrar_valor_comprometido == 'si'){
                            $("#div_valor_comprometido").show();
                            $('#valor_comprometido').prop('required',true);
                        }else{
                            $("#div_valor_comprometido").hide();
                            $('#valor_comprometido').removeAttr('required');
                        }
                        console.log(res);
                    });
                },

                cargarMotivoNoPagoNivel2: function () {
                    var self = this;
                    var data = {
                        nivel_1_motivo_no_pago_id: self.seguimiento.nivel_1_motivo_no_pago_id,
                    };
                    $.post('{{ root }}/paleta/cargarMotivoNoPagoNivel2', data, function (res) {
                        self.cat.paleta_motivo_no_pago_nivel_2 = res;
                        console.log(res);
                    });
                },
            },
            mounted: function () {
                var self = this;
                $("#div_fecha_compromiso_pago").hide();
                $("#div_motivo_no_pago").hide();
                $("#div_valor_comprometido").hide();
                $('#form-edit-seguimiento').validate({
                    onfocusout: false,
                    onkeyup: false,
                    onclick: false,
                    submitHandler: function (form) {
                        var data = {
                            model: self.model,
                            seguimiento: self.seguimiento,
                        };
                        $('#json').val(JSON.stringify(data));
                        $("#btnGuardar").prop("disabled", true);
                        form.submit();
                        return false;
                    }
                });

                $(function () {
                    $('.fecha').datepicker({
                        dateFormat: 'yy-mm-dd',
                        showButtonPanel: true,
                        minDate: 0, // 0 days offset = today
                        maxDate: '+12m',
                        numberOfMonths: 2,
                    });

                });
            }
        });
	</script>
	<style>
        table, th, td {
            border: 1px solid;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
	</style>
{% endblock %}