<div class="table-responsive">
	<table class="table border text-nowrap text-md-nowrap table-striped table-bordered table-sm mb-0">
		<thead>
		<tr>
			<th>Institución</th>
			<th>Cliente</th>
			<th>Producto</th>
			<th>Estado</th>
			<th>Asignado</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{% for l in lista %}
			<tr>
				<td>
					<a href="{{ root }}/institucion/editar?id={{ l.institucion_id }}" target="_self" style="text-decoration: underline" class="text-primary ms-1">{{ l.institucion_nombre }}</a>
				</td>
				<td>
					<a href="{{ root }}/cliente/editar?id={{ l.cliente_id }}" target="_self" style="text-decoration: underline" class="text-primary ms-1">{{ l.cliente_nombres }}</a>
				</td>
				<td>{{ l.producto }} </td>
				<td>{{ l.estado|upper }} </td>
				<td>{{ l.apellidos_usuario_asignado }}&nbsp;{{ l.nombres_usuario_asignado }}</td>
				<td>
					<a href="{{ root }}/producto/editar?id={{ l.id }}" target="_blank" class="btn btn-icon btn-info" title="Ingresar Seguimiento">
						<i class="fa fa-plus"></i>
					</a>
					<button type="button" class="btn btn-icon btn-info" v-on:click="delTelefono(t)" title="Ver Seguimientos">
						<i class="fa fa-eye"></i>
					</button>

				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<br/>
{{ pag|raw }}