{% extends 'layout.twig' %}
{% block content %}
	<div id="app">
		<div class="col-md-12 col-xl-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">SEGUIMIENTOS</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table border table-striped table-bordered table-sm mb-0">
							<thead>
							<tr>
								<th>Seguimiento</th>
								<th>Observaciones</th>
								<th>Usuario</th>
								<th>Fecha de seguimiento</th>
							</tr>
							</thead>
							<tbody>
							{% for seg in seguimientos %}
								<tr>
									<td>
										{% if seg.nivel1 != '' %}
											<strong>{{ paleta.titulo_nivel1 }}: </strong><br/> {{ seg.nivel1 }}<br/><br/>
										{% endif %}
										{% if seg.nivel2 != '' %}
											<strong>{{ paleta.titulo_nivel2 }}: </strong><br/> {{ seg.nivel2 }}<br/><br/>
										{% endif %}
										{% if seg.nivel3 != '' %}
											<strong>{{ paleta.titulo_nivel3 }}: </strong><br/> {{ seg.nivel3 }}<br/><br/>
										{% endif %}
										{% if seg.nivel4 != '' %}
											<strong>{{ paleta.titulo_nivel4 }}: </strong><br/> {{ seg.nivel4 }}<br/><br/>
										{% endif %}
										{% if seg.nivel1_motivo_no_pago != '' %}
											<strong>Motivo No Pago: </strong><br/> {{ seg.nivel1_motivo_no_pago }}<br/><br/>
										{% endif %}
										{% if seg.nivel2_motivo_no_pago != '' %}
											<strong>Descripción: </strong><br/> {{ seg.nivel2_motivo_no_pago }}<br/><br/>
										{% endif %}
										{% for img in seg.imagenes %}
											<a href="{{ img }}" target="_blank"><img style="width: auto; max-height: 80px; " src="{{ img }}"/></a>
										{% endfor %}
										{% if seg.lat != '' %}
											<br/>
											<strong>Lat: </strong> {{ seg.lat }}<br/>
										{% endif %}
										{% if seg.lat != '' %}
											<strong>Long: </strong> {{ seg.long }}<br/>
										{% endif %}
									</td>
									<td>{{ seg.observaciones }}</td>
									<td>{{ seg.usuario }}</td>
									<td>{{ seg.fecha_ingreso }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<h4 class="card-title">CLIENTE</h4>
				</div>
				<div class="card-body">
					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Nombres</label>
						<div class="col-md-4 col-informacion">
							<span class="form-control-plaintext" v-html="cliente.nombres"></span>
						</div>

						<label for="inputName" class="col-md-2 form-label">Cédula</label>
						<div class="col-md-4 col-informacion">
							<span class="form-control-plaintext" v-html="cliente.cedula"></span>
						</div>
					</div>
				</div>
			</div>


			<div class="card">
				<div class="card-header">
					<h4 class="card-title">PRODUCTO</h4>
				</div>
				<div class="card-body">
					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Código operación</label>
						<div class="col-md-4 col-informacion">
							<span class="form-control-plaintext" style="text-transform: uppercase;" v-html="model.producto"></span>
						</div>

						<label for="inputName" class="col-md-2 form-label">Estado</label>
						<div class="col-md-4 col-informacion">
							<span class="form-control-plaintext" style="text-transform: uppercase;" v-html="model.estado"></span>
						</div>
					</div>

					{% set residuo_final = 1 %}
					{% for key, pc in producto_campos %}
						{% if((key % 2) == 0) %}
							<div class=" row mb-4">
						{% endif %}
						<label for="inputName" class="col-md-2 form-label">{{ pc.campo }}</label>
						<div class="col-md-4 col-informacion">
							<span class="form-control-plaintext">{{ pc.valor }}</span>
						</div>
						{% if((key % 2) == 1) %}
							</div>
						{% endif %}
						{% set residuo_final = (key % 2) %}
					{% endfor %}
					{% if(residuo_final == 0) %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	{{ bundle('validate') }}
	{{ bundle('summer') }}
	{{ script('js/lodash.js') }}
	{{ bundle('jasny') }}
	<script>
        var app = new Vue({
            el: '#app',
            data: {
                model: {{ model|raw }},
                telefono: {{ telefono|raw }},
                direccion: {{ direccion|raw }},
                referencia: {{ referencia|raw }},
                cliente: {{ cliente|raw }},
            },
            watch: {},
            computed: {},
            methods: {},
            mounted: function () {
                var self = this;
            }
        });
	</script>
	<style>
        table, th, td {
            border: 1px solid;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
	</style>
{% endblock %}