{% extends 'layout.twig' %}

{% block content %}
<div id="app">
    <form method="POST" action="{{ root }}/producto/guardarSeguimientoDiners" id="form-edit-seguimiento"
          class="form-horizontal" autocomplete="off" enctype="multipart/form-data">
        <div class="col-md-12 col-xl-12">
            <div class="">
                <div class="-">
                    <h4 class="card-title">CLIENTE</h4>
                </div>
                <div class="">
                    <div class="row mb-4">
                        <label for="inputName" class="col-md-2 form-label">Nombres</label>
                        <div class="col-md-4 col-informacion">
                            <h3 style="font-weight: bold;">
                                <span class="form-control-plaintext">{{ cliente.nombres }}</span>
                            </h3>
                        </div>

                        <label for="inputName" class="col-md-2 form-label">Cédula</label>
                        <div class="col-md-4 col-informacion">
                            <h3 style="font-weight: bold;">
                                <span class="form-control-plaintext">{{ cliente.cedula }}</span>
                            </h3>
                        </div>
                    </div>

                    <!-- Imprime todo el objeto cliente en un formato JSON -->
                    <div class="row mb-4">
                        <label for="inputName" class="col-md-12 form-label">Toda la Información del Cliente</label>
                        <div class="col-md-12">
                            <pre>{{ cliente|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                        </div>
                    </div>

                    <div>
                        <a :href="`${root}/producto/editar?id=${cliente.id}`" target="_self" class="btn btn-icon btn-info" title="Ingresar Seguimiento">
                            <i class="">Gestionar</i>
                        </a>
                        <a :href="`${root}/producto/verSeguimientos?id=${cliente.id}`" target="_self" class="btn btn-icon btn-success" title="Ver Seguimiento">
                            <i class="">Historico</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

    <!-- Aquí van los scripts y estilos -->
    {{ bundle('validate') }}
    {{ bundle('summer') }}
    {{ script('js/lodash.js') }}
    {{ bundle('jasny') }}

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                model: {{ model|raw }},
                telefono: {{ telefono|raw }},
                direccion: {{ direccion|raw }},
                referencia: {{ referencia|raw }},
                cliente: {{ cliente|raw }},
                aplicativo_diners: {{ aplicativo_diners|raw }},
                seguimientos_json: {{ seguimientos_json|raw }},
                root: '{{ root }}' // Asegúrate de definir la variable root aquí
            },
            watch: {},
            computed: {},
            methods: {
                verAcuerdo: function (producto_seguimiento_id) {
                    var self = this;
                    var data = {
                        'producto_seguimiento_id': producto_seguimiento_id,
                    };
                    $('#acuerdoContent').load('{{ root }}/producto/verAcuerdo', data, function () {
                        $('#modalAcuerdo').modal('show');
                    });
                },

                delSeguimiento: function (producto_seguimiento_id) {
                    var self = this;
                    var data = {
                        model: self.model,
                        producto_seguimiento_id: producto_seguimiento_id,
                        aplicativo_diners: self.aplicativo_diners,
                    };
                    $('#jsonDelSeguimiento').val(JSON.stringify(data));
                    $('#delSeguimientoForm').submit();
                },

                initMap: function () {
                    var self = this;

                    var data = self.seguimientos_json;

                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: new google.maps.LatLng(-0.16465681036593569, -78.48735624085649),
                        zoom: 7
                    });

                    for (var i = 0; i < data.length; i++) {
                        if (data[i]['origen'] == 'movil') {
                            var obj = data[i];
                            self.addWeatherMarker(obj, map);
                        }
                    }
                },

                addWeatherMarker: function (obj, map) {
                    var infoWindow = new google.maps.InfoWindow;
                    var campana = obj.nivel_1_texto + ' -> ' + obj.nivel_2_texto;
                    var fecha_visita = obj.observaciones;
                    var lugar_visita = obj.fecha_ingreso;
                    var asesor = obj.usuario;
                    var point = new google.maps.LatLng(
                        parseFloat(obj.lat),
                        parseFloat(obj.long)
                    );

                    var infowincontent = document.createElement('div');
                    var strong = document.createElement('strong');
                    strong.textContent = campana;
                    infowincontent.appendChild(strong);

                    infowincontent.appendChild(document.createElement('br'));

                    var text = document.createElement('text');
                    text.textContent = "OBSERVACIONES: " + fecha_visita;
                    infowincontent.appendChild(text);

                    infowincontent.appendChild(document.createElement('br'));

                    var text = document.createElement('text');
                    text.textContent = "FECHA: " + lugar_visita;
                    infowincontent.appendChild(text);

                    infowincontent.appendChild(document.createElement('br'));

                    var text = document.createElement('text');
                    text.textContent = "GESTOR: " + asesor;
                    infowincontent.appendChild(text);

                    var marker = new google.maps.Marker({
                        map: map,
                        position: point,
                    });
                    marker.addListener('click', function () {
                        infoWindow.setContent(infowincontent);
                        infoWindow.open(map, marker);
                    });
                },
            },
            mounted: function () {
                var self = this;
				console.log('Información del cliente:', this.cliente); 
                $(document).ready(function () {
                    self.initMap();
                });
            }
        });
    </script>

    <style>
        table, th, td {
            border: 1px solid;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
    </style>

    <style>
        #map {
            height: 600px;
            width: 800px;
        }
    </style>

{% endblock %}
