{% extends 'layout.twig' %}
{% block content %}
	<div id="app">
		<div class="col-md-12 col-xl-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">SEGUIMIENTOS</h4>
				</div>
				<div class="card-body">
					<h4 class="text-primary">COBRANZA</h4>
					<div class="table-responsive">
						<table class="table border table-striped table-bordered table-sm mb-0" style="font-size: 12px;">
							<thead>
							<tr>
								<th>Seguimiento</th>
								<th>Observaciones</th>
								<th>Fecha Gestión</th>
								<th>Tarjetas Gestionadas</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							{% for seg in seguimientos %}
								<tr>
									<td style="width: 35%;">
										{% if seg.nivel1 != '' %}
											<strong>{{ paleta.titulo_nivel1 }}: </strong><br/> {{ seg.nivel1 }}<br/><br/>
										{% endif %}
										{% if seg.nivel2 != '' %}
											<strong>{{ paleta.titulo_nivel2 }}: </strong><br/> {{ seg.nivel2 }}<br/><br/>
										{% endif %}
										{% if seg.nivel3 != '' %}
											<strong>{{ paleta.titulo_nivel3 }}: </strong><br/> {{ seg.nivel3 }}<br/><br/>
										{% endif %}
										{% if seg.nivel4 != '' %}
											<strong>{{ paleta.titulo_nivel4 }}: </strong><br/> {{ seg.nivel4 }}<br/><br/>
										{% endif %}
										{% if seg.fecha_compromiso_pago != '' %}
											<strong>FECHA COMPROMISO DE PAGO: </strong><br/> {{ seg.fecha_compromiso_pago }}<br/><br/>
										{% endif %}
										{% if seg.valor_comprometido != '' %}
											<strong>VALOR COMPROMETIDO: </strong><br/> {{ seg.valor_comprometido }}<br/><br/>
										{% endif %}
										{% if seg.nivel1_motivo_no_pago != '' %}
											<strong>{{ paleta.titulo_motivo_no_pago_nivel1 }}: </strong><br/> {{ seg.nivel1_motivo_no_pago }}<br/><br/>
										{% endif %}
										{% if seg.nivel2_motivo_no_pago != '' %}
											<strong>{{ paleta.titulo_motivo_no_pago_nivel2 }}: </strong><br/> {{ seg.nivel2_motivo_no_pago }}<br/><br/>
										{% endif %}

										<strong>UNIFICAR DEUDAS: </strong><br/> {{ seg.unificar_deudas|upper }}<br/><br/>

										{% if seg.tarjeta_unificar_deudas != '' %}
											<strong>TARJETA UNIFICADA: </strong><br/> {{ seg.tarjeta_unificar_deudas }}<br/><br/>
										{% endif %}

										{% for img in seg.imagenes %}
											<a href="{{ img }}" target="_blank"><img style="width: auto; max-height: 80px; " src="{{ img }}"/></a>
										{% endfor %}
										{% if seg.lat != '' %}
											<br/>
											<strong>Lat: </strong> {{ seg.lat }}<br/>
										{% endif %}
										{% if seg.lat != '' %}
											<strong>Long: </strong> {{ seg.long }}<br/>
										{% endif %}
									</td>
									<td style="width: 35%;">{{ seg.observaciones }}</td>
									<td style="width: 10%;">{{ seg.usuario }} <br/><br/> {{ seg.fecha_ingreso }}</td>
									<td style="width: 10%;">{{ seg.tarjetas_gestionadas }}</td>
									<td style="vertical-align: top; text-align: center; width: 10%;">
										<button class="btn btn-primary" type="button" v-on:click="verAcuerdo({{ seg.id }})" style="width: 150px;" title="VER ACUERDO">
											<i class="fa fa-file-excel-o"></i> ACUERDO
										</button><br/><br/>
										{% if puedeEliminar %}
											{% if seg.fecha_ingreso|date("Y-m-d") == "now"|date("Y-m-d") %}
												<button class="btn btn-danger-light" type="button" v-on:click="delSeguimiento({{ seg.id }})" style="width: 150px;" title="VER ACUERDO">
													<i class="fa fa-trash-o"></i> ELIMINAR
												</button><br/><br/>
											{% endif %}
										{% endif %}
{#										<button class="btn btn-success" type="button" v-on:click="descargarNegociacionManual({{ seg.id }})" style="width: 150px;" title="DESCARGAR NEGOCIACIÓN MANUAL">#}
{#											<i class="fa fa-download"></i> MANUAL#}
{#										</button>#}
{#										<button class="btn btn-info" type="button" v-on:click="descargarNegociacionAutomatica({{ seg.id }})" style="width: 150px;" title="DESCARGAR NEGOCIACIÓN AUTOMÁTICA">#}
{#											<i class="fa fa-download"></i> AUTOMÁTICA#}
{#										</button>#}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<h4 class="card-title">CLIENTE</h4>
				</div>
				<div class="card-body">
					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">Nombres</label>
						<div class="col-md-4 col-informacion">
							<input type="text" readonly class="form-control-plaintext" v-model="cliente.nombres">
						</div>

						<label for="inputName" class="col-md-2 form-label">Cédula</label>
						<div class="col-md-4 col-informacion">
							<input type="text" readonly class="form-control-plaintext" v-model="cliente.cedula">
						</div>
					</div>
				</div>
			</div>


			<div class="card">
				<div class="card-header">
					<h4 class="card-title">APLICATIVO TARJETAS</h4>
				</div>
				<div class="card-body">
					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">CÓDIGO OPERACIÓN</label>
						<div class="col-md-4 col-informacion">
							<input type="text" readonly class="form-control-plaintext" v-model="model.producto">
						</div>

						<label for="inputName" class="col-md-2 form-label">CIUDAD DE GESTIÓN</label>
						<div class="col-md-4 col-informacion">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.ciudad_gestion">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">NEGOCIADO POR</label>
						<div class="col-md-4 col-informacion">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.negociado_por">
						</div>

						<label for="inputName" class="col-md-2 form-label">NUMERO DE CEDULA SOCIO</label>
						<div class="col-md-4 col-informacion">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.cedula_socio">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">NOMBRE DEL SOCIO</label>
						<div class="col-md-4 col-informacion">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.nombre_socio">
						</div>

						<label for="inputName" class="col-md-2 form-label">DIRECCIÓN</label>
						<div class="col-md-4 col-informacion">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.direccion">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">SEGURO</label>
						<div class="col-md-4 col-informacion">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.seguro_desgravamen">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">NÚMEROS DE CONTACTO</label>
						<div class="col-md-4 col-informacion">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.numero_contactos">
						</div>

						<label for="inputName" class="col-md-2 form-label">MAIL DE CONTACTO</label>
						<div class="col-md-4 col-informacion">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.mail_contacto">
						</div>
					</div>

					<div class=" row mb-4">
						<label for="inputName" class="col-md-2 form-label">CIUDAD DE LA CUENTA</label>
						<div class="col-md-4 col-informacion">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.ciudad_cuenta">
						</div>

						<label for="inputName" class="col-md-2 form-label">ZONA DE LA CUENTA</label>
						<div class="col-md-4 col-informacion">
							<input type="text" readonly class="form-control-plaintext" v-model="aplicativo_diners.zona_cuenta">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<form id="delSeguimientoForm" method="POST" action="{{ root }}/producto/delSeguimiento">
		<input type="hidden" id="jsonDelSeguimiento" name="jsonDelSeguimiento"/>
	</form>
	<form id="exportFormNegociacionManual" method="POST" action="{{ root }}/producto/exportNegociacionManual">
		<input type="hidden" id="jsonNegociacionManual" name="jsonNegociacionManual"/>
	</form>
	<form id="exportFormNegociacionAutomatica" method="POST" action="{{ root }}/producto/exportNegociacionAutomatica">
		<input type="hidden" id="jsonNegociacionAutomatica" name="jsonNegociacionAutomatica"/>
	</form>

	<!-- MODAL -->
	<div class="modal fade" id="modalAcuerdo" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><strong>Acuerdos</strong></h5>
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="acuerdoContent"></div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	{{ bundle('validate') }}
	{{ bundle('summer') }}
	{{ script('js/lodash.js') }}
	{{ bundle('jasny') }}
	<script>
        var app = new Vue({
            el: '#app',
            data: {
                model: {{ model|raw }},
                telefono: {{ telefono|raw }},
                direccion: {{ direccion|raw }},
                referencia: {{ referencia|raw }},
                cliente: {{ cliente|raw }},
                aplicativo_diners: {{ aplicativo_diners|raw }},
            },
            watch: {},
            computed: {},
            methods: {
                verAcuerdo: function (producto_seguimiento_id) {
                    var self = this;
                    var data = {
                        'producto_seguimiento_id': producto_seguimiento_id,
                    };
                    $('#acuerdoContent').load('{{ root }}/producto/verAcuerdo', data, function () {
                        $('#modalAcuerdo').modal('show');
                    });
                },

                delSeguimiento: function (producto_seguimiento_id) {
                    var self = this;
                    var data = {
                        model: self.model,
                        producto_seguimiento_id: producto_seguimiento_id,
                        aplicativo_diners: self.aplicativo_diners,
                    };
                    $('#jsonDelSeguimiento').val(JSON.stringify(data));
                    $('#delSeguimientoForm').submit();
                },

				descargarNegociacionManual: function (producto_seguimiento_id) {
					var self = this;
					var data = {
						model: self.model,
						producto_seguimiento_id: producto_seguimiento_id,
						aplicativo_diners: self.aplicativo_diners,
					};
					$('#jsonNegociacionManual').val(JSON.stringify(data));
					$('#exportFormNegociacionManual').submit();
				},

				descargarNegociacionAutomatica: function (producto_seguimiento_id) {
					var self = this;
					var data = {
						model: self.model,
						producto_seguimiento_id: producto_seguimiento_id,
						aplicativo_diners: self.aplicativo_diners,
					};
					$('#jsonNegociacionAutomatica').val(JSON.stringify(data));
					$('#exportFormNegociacionAutomatica').submit();
				},
            },
            mounted: function () {
                var self = this;
            }
        });
	</script>
	<style>
        table, th, td {
            border: 1px solid;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
	</style>
{% endblock %}