<div class="table-responsive">
	<table class="table border text-nowrap text-md-nowrap table-striped table-bordered table-sm mb-0">
		<thead>
		<tr>
			<th>Nombres</th>
			<th>Cédula</th>
			<th>Ciudad</th>
			<th>Zona</th>
		</tr>
		</thead>
		<tbody>
		{% for l in lista %}
			<tr>
				<td>
					<a href="{{ root }}/cliente/editar?id={{ l.id }}" target="_self" style="text-decoration: underline" class="text-primary ms-1">{{ l.nombres }}</a>
				</td>
				<td>{{ l.cedula }} </td>
				<td>{{ l.ciudad|upper }} </td>
				<td>{{ l.zona|upper }} </td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
<br/>
{{ pag|raw }}