{% extends 'layout.twig' %}
{% block content %}
	{% include "reportes/filtrosBaseGeneral.twig" %}
	<div id="app">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Datos</h4>
			</div>
			<div class="card-body">
                <div class="row mb-6">
                <div class="col-md-6">
                    <h3>GESTIONES TELEFÓNICAS</h3>
                    <div class="table-responsive">
                    <table class="table border table-striped table-bordered table-sm mb-0">
                        <thead>
                        <tr style="background-color: #95b8f6;">
                            <th>CICLO</th>
                            <th>CANTIDAD</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="d in data_resumen_telefonia">
                            <td style="text-align: center;" v-html="d.ciclo"></td>
                            <td style="text-align: center;" v-html="d.valor"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td style="font-weight: bold; text-align: right;">TOTAL</td>
                            <td style="font-weight: bold; text-align: center;" v-html="total.data_resumen_telefonia"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                </div>
                <div class="col-md-6">
                    <h3>GESTIONES DOMICILIARIAS</h3>
                    <div class="table-responsive">
                    <table class="table border table-striped table-bordered table-sm mb-0">
                        <thead>
                        <tr style="background-color: #95b8f6;">
                            <th>CICLO</th>
                            <th>CANTIDAD</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="d in data_resumen_domicilio">
                            <td style="text-align: center;" v-html="d.ciclo"></td>
                            <td style="text-align: center;" v-html="d.valor"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td style="font-weight: bold; text-align: right;">TOTAL</td>
                            <td style="font-weight: bold; text-align: center;" v-html="total.data_resumen_domicilio"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                </div>
                </div>

                <h3>DETALLE</h3>
				<a class="btn btn-default-light" id="btnExportar">
					<i class="fa fa-file-excel-o"></i>
					Exportar
				</a>
				<div class="table-responsive">
					<table class="table border table-striped table-bordered table-sm mb-0">
						<thead>
						<tr style="background-color: #95b8f6;">
                            <th>NOMBRE SOCIO</th>
                            <th>CEDULA</th>
                            <th>TELEFONO ULTIMO CONTACTO</th>
                            <th>MARCA</th>
                            <th>CÓDIGO DE OPERACIÓN</th>
                            <th>ZONA</th>
                            <th>CIUDAD</th>

                            <th>TIPO DE CAMPAÑA</th>
                            <th>EJECUTIVO</th>
                            <th>CICLO</th>
                            <th>EDAD REAL</th>
                            <th>EDAD FACTURADA</th>
                            <th>TOTAL ASIGNADO</th>


                            <th>SALDO TOTAL DEUDA</th>
                            <th>RIESGO TOTAL</th>
                            <th>INTERESES TOTAL</th>
                            <th>RECUPERADO</th>
                            <th>PAGO MINIMO</th>
                            <th>FECHA MAXIMA PAGO</th>
                            <th>NUMERO DIFERIDOS</th>
                            <th>NUMERO DE REFINANCIACIONES HISTORICA</th>
                            <th>PLAZO DE FINANCIAMIENTO ACTUAL</th>
                            <th>MOTIVO CIERRE</th>
                            <th>OFERTA VALOR</th>
                            <th>PENDIENTE ACTUALES</th>
                            <th>PENDIENTE 30 DIAS</th>
                            <th>PENDIENTE 60 DIAS</th>
                            <th>PENDIENTE 90 DIAS</th>
                            <th>PENDIENTE MAS 90 DIAS</th>
                            <th>CRÉDITO INMEDIATO</th>
                            <th>PRODUCTO</th>

                            <th>RESULTADO</th>
                            <th>ACCION</th>
                            <th>DESCRIPCIÓN</th>
                            <th>OBSERVACION</th>
                            <th>MOTIVO DE NO PAGO</th>
                            <th>SUB MOTIVO</th>
                            <th>FECHA PROMESA DE PAGO</th>
                            <th>EJECUTIVO</th>
                            <th>HORA DE GESTION</th>
                            <th>FECHA DE GESTION</th>
                            <th>VALOR COMPROMETIDO</th>
                            <th>GEOREFERENCIA</th>
                            <th>TIPO NEGOCIACION</th>

                            <th>TIPO GESTIÓN</th>
                            <th>ORIGEN GESTIÓN</th>
                            <th>PESO PALETA</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="d in datos">
							<td v-html="d.nombres"></td>
                            <td v-html="d.cedula"></td>
                            <td v-html="d.telefono_contacto"></td>
                            <td v-html="d.tarjeta"></td>
                            <td v-html="d.codigo_operacion"></td>
                            <td v-html="d.zona"></td>
                            <td v-html="d.ciudad"></td>

                            <td v-html='d.tipo_campana'></td>
                            <td v-html='d.ejecutivo'></td>
                            <td v-html='d.ciclo'></td>
                            <td v-html='d.edad'></td>
                            <td v-html='d.edad_asignacion'></td>
                            <td v-html='d.total_asignado'></td>

                            <td v-html='d.saldo_total_deuda'></td>
                            <td v-html='d.riesgo_total'></td>
                            <td v-html='d.interes_total'></td>
                            <td v-html='d.recuperado'></td>
                            <td v-html='d.pago_minimo'></td>
                            <td v-html='d.fecha_maxima_pago'></td>
                            <td v-html='d.numero_diferidos'></td>
                            <td v-html='d.numero_refinanciaciones_historica'></td>
                            <td v-html='d.plazo_financiamiento_actual'></td>
                            <td v-html='d.motivo_cierre'></td>
                            <td v-html='d.oferta_valor'></td>
                            <td v-html='d.pendiente_actuales'></td>
                            <td v-html='d.pendiente_30'></td>
                            <td v-html='d.pendiente_60'></td>
                            <td v-html='d.pendiente_90'></td>
                            <td v-html='d.pendiente_mas_90'></td>
                            <td v-html='d.credito_inmediato'></td>
                            <td v-html='d.producto'></td>

                            <td v-html='d.nivel_1_texto'></td>
                            <td v-html='d.nivel_2_texto'></td>
                            <td v-html='d.nivel_3_texto'></td>
                            <td v-html='d.observaciones'></td>
                            <td v-html='d.nivel_1_motivo_no_pago_texto'></td>
                            <td v-html='d.nivel_2_motivo_no_pago_texto'></td>
                            <td v-html='d.fecha_compromiso_pago'></td>
                            <td v-html='d.gestor'></td>
                            <td v-html='d.hora_gestion'></td>
                            <td v-html='d.fecha_gestion'></td>
                            <td v-html='d.valor_comprometido'></td>
                            <td v-html='d.georeferencia'></td>
                            <td v-html='d.tipo_negociacion'></td>

                            <td v-html='d.identificador'></td>
                            <td v-html='d.origen'></td>
                            <td v-html='d.peso_paleta'></td>
						</tr>
						</tbody>
                        <tfoot>
                        </tfoot>
					</table>
				</div>

			</div>
		</div>
	</div>

	<form id="exportForm" method="POST" action="{{ root }}/reportes/exportBaseGeneral">
		<input type="hidden" id="json" name="json"/>
	</form>

	{# <script src="http://d3js.org/d3.v3.min.js"></script> #}
	{{ bundle('validate') }}
	{{ bundle('boot_select') }}
	{{ script('js/jquery.serialize-object.min.js') }}
	{{ bundle('select2') }}

	<script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                datos: [],
                total: [],
                data_resumen_domicilio: [],
                data_resumen_telefonia: [],
            },
            watch: {},
            computed: {},
            methods: {
                consultar: function () {
                    var form = $('#filtros');
                    var self = this;
                    var data = form.serializeArray();
                    toggleLoader();
                    $.post('{{ root }}/reportes/baseGeneral', data, function (res) {
                        toggleLoader();
                        self.datos = res['data'];
                        self.total = res['total'];
                        self.data_resumen_domicilio = res['data_resumen_domicilio'];
                        self.data_resumen_telefonia = res['data_resumen_telefonia'];
                    })
                },
            },
            mounted: function () {
                var form = $('#filtros');
                var self = this;
                $('#btnExportar').click(function () {
                    var data = {
                        datos: self.datos
                    };
                    $('#json').val(JSON.stringify(data));
                    $('#exportForm').submit();
                });

                $(document).ready(function () {
                    $('#btnFiltro').click(function () {
                        self.consultar();
                    });
                    $('#btnTodos').click(function () {
                        form[0].reset();
                        $("#plaza_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#canal_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#hora_inicio").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#minuto_inicio").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#hora_fin").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#minuto_fin").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana_ece").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        // self.consultar();
                    });
                    $('.select2').select2({
                        theme: "classic"
                    });
                    // self.consultar();
                });
            }
        });
	</script>
{% endblock %}