{% extends 'layout.twig' %}
{% block content %}
	{% include "reportes/filtrosBaseSaldosCampo.twig" %}
	<div id="app">

	</div>

	<form id="exportForm" method="POST" action="{{ root }}/reportes/baseSaldosCampo">
		<input type="hidden" id="json" name="json"/>
	</form>

	{# <script src="http://d3js.org/d3.v3.min.js"></script> #}
	{{ bundle('validate') }}
	{{ bundle('boot_select') }}
	{{ script('js/jquery.serialize-object.min.js') }}
	{{ bundle('select2') }}

	<script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                datos: [],
                total: [],
                data_resumen_domicilio: [],
                data_resumen_telefonia: [],
            },
            watch: {},
            computed: {},
            methods: {
                consultar: function () {
                    var form = $('#filtros');
                    var self = this;
                    var data = form.serializeArray();
                    toggleLoader();
                    $.post('{{ root }}/reportes/baseSaldosCampo', data, function (res) {
                        toggleLoader();
                        self.datos = res['data'];
                        self.total = res['total'];
                    })
                },
            },
            mounted: function () {
                var form = $('#filtros');
                var self = this;
                $('#btnExportar').click(function () {
                    var data = {
                        datos: self.datos,
                        filtros: form.serializeArray()
                    };
                    $('#json').val(JSON.stringify(data));
                    $('#exportForm').submit();
                });

                $(document).ready(function () {
                    $('#btnFiltro').click(function () {
                        var data = {
                            datos: self.datos,
                            filtros: form.serializeArray()
                        };
                        $('#json').val(JSON.stringify(data));
                        $('#exportForm').submit();
                    });
                    $('#btnTodos').click(function () {
                        form[0].reset();
                        $("#plaza_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#canal_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#hora_inicio").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#minuto_inicio").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#hora_fin").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#minuto_fin").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana_ece").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#resultado").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#accion").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#descripcion").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#motivo_no_pago").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#descripcion_no_pago").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#gestor").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        // self.consultar();
                    });
                    $('.select2').select2({
                        theme: "classic"
                    });
                    // self.consultar();
                });
            }
        });
	</script>
{% endblock %}