{% extends 'layout.twig' %}
{% block content %}
	{% include "reportes/filtrosBaseCarga.twig" %}
	<div id="app">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Datos</h4>
			</div>
			<div class="card-body">
				<a class="btn btn-default-light" id="btnExportarDetalle">
					<i class="fa fa-file-excel-o"></i>
					Exportar
				</a>
				<div class="table-responsive">
					<table class="table border table-striped table-bordered table-sm mb-0">
						<thead>
						<tr style="background-color: #95b8f6;">
							<th>MARCA</th>
							<th>CICLOF</th>
							<th>NOMSOC</th>
							<th>CEDSOC</th>
							<th>VAPAMI</th>
							<th>TRIESGO_ORIG</th>
							<th>EDAD</th>
							<th>PRODUCTO</th>
							<th>DIRECCION</th>
							<th>P1</th>
							<th>T1</th>
							<th>P2</th>
							<th>T2</th>
							<th>P3</th>
							<th>T3</th>
							<th>NOMBRE_CIUDAD</th>
							<th>ZONA</th>
							<th>MOTIVO ANTERIOR</th>
							<th>RESULTADO ANTERIOR</th>
							<th>OBSERVACION ANTERIOR</th>
							<th>RESULTADO </th>
							<th>DESCRIPCION</th>
							<th>OBSERVACION</th>
							<th>FECHACOMPROMISO</th>
							<th>ULTIMO TLF CONTACTO </th>
							<th>TIPOLLAMADA</th>
							<th>MOTIVO</th>
							<th>SUB MOTIVO NO PAGO</th>
							<th>GESTOR</th>
							<th>EMPRESA</th>
							<th>CAMPAÑA_CON_ECE</th>
							<th>HORA DE CONTACTO </th>
							<th>GEOREFERENCIACION</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="d in datos">
							<td v-html="d.nombre_tarjeta"></td>
							<td v-html="d.corte"></td>
							<td v-html="d.nombres"></td>
							<td v-html="d.cedula"></td>
							<td v-html="d.minimo_pagar"></td>
							<td v-html="d.total_riesgo"></td>
							<td v-html="d.edad_cartera"></td>
							<td v-html="d.producto_asignacion"></td>
							<td v-html="d.direccion_cliente"></td>
							<td v-html="d.p1"></td>
							<td v-html="d.t1"></td>
							<td v-html="d.p2"></td>
							<td v-html="d.t2"></td>
							<td v-html="d.p3"></td>
							<td v-html="d.t3"></td>
							<td v-html="d.ciudad_cuenta"></td>
							<td v-html="d.zona_cuenta"></td>
							<td v-html="d.motivo_no_pago_anterior"></td>
							<td></td>
							<td v-html="d.observacion_anterior"></td>
							<td v-html="d.nivel_1_texto"></td>
							<td v-html="d.nivel_3_texto"></td>
							<td v-html="d.observaciones"></td>
							<td v-html="d.fecha_compromiso_pago"></td>
							<td v-html="d.ultimo_telefono_contacto"></td>
							<td v-html="d.area_usuario"></td>
							<td v-html="d.nivel_1_motivo_no_pago_texto"></td>
							<td v-html="d.nivel_2_motivo_no_pago_texto"></td>
							<td v-html="d.gestor"></td>
							<td v-html="d.empresa"></td>
							<td v-html="d.campana_ece"></td>
							<td v-html="d.hora_contacto"></td>
							<td v-html="d.georeferenciacion"></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<form id="exportForm" method="POST" action="{{ root }}/reportes/exportInventarioPerchaConforme">
		<input type="hidden" id="json" name="json"/>
	</form>

	<form id="exportDetalleForm" method="POST" action="{{ root }}/reportes/exportDetalleInventarioPerchaConforme">
		<input type="hidden" id="json" name="json"/>
	</form>

	{# <script src="http://d3js.org/d3.v3.min.js"></script> #}
	{{ bundle('validate') }}
	{{ bundle('boot_select') }}
	{{ script('js/jquery.serialize-object.min.js') }}
	{{ bundle('select2') }}

	<script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                datos: [],
                total: [],
            },
            watch: {},
            computed: {},
            methods: {
                consultar: function () {
                    var form = $('#filtros');
                    var self = this;
                    var data = form.serializeArray();
                    toggleLoader();
                    $.post('{{ root }}/reportes/baseCarga', data, function (res) {
                        toggleLoader();
                        self.datos = res['data'];
                        self.total = res['total'];
                        console.log(res);
                    })
                },

                calcular: function () {
                    var self = this;
                    var total_asignacion = 0;
                    $.each(self.datos, function (key, value) {
                        var porcentaje_productividad = 0.00;
                        if(parseFloat(value.asignacion) > 0){
                            porcentaje_productividad = (parseFloat(value.cuentas) / parseFloat(value.asignacion)) * 100;
                        }
                        self.datos[key].porcentaje_productividad = porcentaje_productividad.toFixed(2);
                        total_asignacion = total_asignacion + parseFloat(value.asignacion);
                    });
                    self.total.total_asignacion = total_asignacion;
                    var total_porcentaje_productividad = 0;
                    if(total_asignacion > 0){
                        total_porcentaje_productividad = (parseFloat(self.total.total_cuentas) / total_asignacion) * 100;
                    }
                    self.total.total_porcentaje_productividad = total_porcentaje_productividad.toFixed(2);
                    // app.$forceUpdate();
                },

            },
            mounted: function () {
                var form = $('#filtros');
                var self = this;
                $('#btnExportar').click(function () {
                    // var data = {
                    //     filtros: form.serializeForm()
                    // };
                    // $('#json').val(JSON.stringify(data));
                    // $('#exportForm').submit();
                });

                $('#btnExportarDetalle').click(function () {
                    // var data = {
                    //     filtros: form.serializeForm()
                    // };
                    // $('#json').val(JSON.stringify(data));
                    // $('#exportDetalleForm').submit();
                });

                $(document).ready(function () {
                    $('#btnFiltro').click(function () {
                        self.consultar();
                    });
                    $('#btnTodos').click(function () {
                        form[0].reset();
                        $("#plaza_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#canal_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#hora_inicio").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#minuto_inicio").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#hora_fin").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#minuto_fin").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        self.consultar();
                    });
                    // self.consultar();
                });

                $('.select2').select2({
                    theme: "classic"
                });
            }
        });
	</script>
{% endblock %}