{% extends 'layout.twig' %}
{% block content %}
	{% include "reportes/filtrosContactabilidad.twig" %}
	<div id="app">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Datos</h4>
			</div>
			<div class="card-body">
				<a class="btn btn-default-light" id="btnExportar">
					<i class="fa fa-file-excel-o"></i>
					Exportar
				</a>
				<div class="table-responsive">
					<table class="table border table-striped table-bordered table-sm mb-0">
						<thead>
						<tr style="background-color: #95b8f6;">
							<th>MARCA</th>
                            <th>CICLO</th>
							<th>CÉDULA</th>
							<th>NOMBRE SOCIO</th>
                            <th>HORA DE LLAMADA</th>
                            <th>AGENTE</th>
                            <th>RESULTADO DE GESTIÓN</th>
                            <th>GESTIÓN</th>
                            <th>CAMPAÑA</th>
							<th>EMPRESA - CANAL DE GESTION</th>
							<th>HORA INGRESO</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="d in datos">
							<td v-html="d.tarjeta"></td>
                            <td v-html="d.ciclo"></td>
                            <td v-html="d.cedula"></td>
							<td v-html="d.nombres"></td>
                            <td v-html="d.hora_llamada"></td>
                            <td v-html="d.gestor"></td>
							<td v-html="d.nivel_2_texto"></td>
							<td v-html="d.observaciones"></td>
                            <td v-html="d.campana"></td>
                            <td v-html="d.empresa_canal"></td>
                            <td v-html="d.hora_ingreso"></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<form id="exportForm" method="POST" action="{{ root }}/reportes/exportContactabilidad">
		<input type="hidden" id="json" name="json"/>
	</form>

	{# <script src="http://d3js.org/d3.v3.min.js"></script> #}
	{{ bundle('validate') }}
	{{ bundle('boot_select') }}
	{{ script('js/jquery.serialize-object.min.js') }}
	{{ bundle('select2') }}

	<script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                datos: [],
                data_hoja1: [],
                data_hoja2: [],
                total: [],
            },
            watch: {},
            computed: {},
            methods: {
                consultar: function () {
                    var form = $('#filtros');
                    var self = this;
                    var data = form.serializeArray();
                    toggleLoader();
                    $.post('{{ root }}/reportes/contactabilidad', data, function (res) {
                        toggleLoader();
                        self.datos = res['data'];
                        self.data_hoja1 = res['data_hoja1'];
                        self.data_hoja2 = res['data_hoja2'];
                        self.total = res['total'];
                        console.log(res);
                    })
                },
            },
            mounted: function () {
                var form = $('#filtros');
                var self = this;

                $('#btnExportar').click(function () {
                    var data = {
                        datos: self.datos,
                        total: self.total,
                    };
                    $('#json').val(JSON.stringify(data));
                    $('#exportForm').submit();
                });



                $(document).ready(function () {
                    $('#btnFiltro').click(function () {
                        self.consultar();
                    });
                    $('#btnTodos').click(function () {
                        form[0].reset();
                        $("#plaza_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#canal_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#hora_inicio").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#minuto_inicio").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#hora_fin").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#minuto_fin").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana_ece").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#marca").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        // self.consultar();
                    });
                    // self.consultar();
                    $('.select2').select2({
                        theme: "classic"
                    });
                });
            }
        });
	</script>
{% endblock %}