<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5 class="center-block">{{ titulo }}</h5>
	</div>
	<div class="ibox-content">
		<form id="filtros">
			<div class="row ">
				<div class="col-sm-2">
					<b>Fecha inicio</b> <br>
					{{ text_field_tag("fecha_desde", model.fecha_desde, {class:'form-control fecha'}) }}
				</div>

				<div class="col-sm-2">
					<b>Fecha fin</b> <br>
					{{ text_field_tag("fecha_hasta", model.fecha_hasta, {class:'form-control fecha'}) }}
				</div>

				<div class="col-sm-2">
					<b>Orden extrusión</b> <br>
					<div class="input-group">
						<input type="text" class="form-control" name="orden" id="orden" />
					</div>
				</div>

				<div class="col-sm-2">
					<b>Cliente</b> <br>
					<div class="input-group">
						<input type="text" class="form-control" name="cliente" id="cliente" />
					</div>
				</div>

				<div class="col-sm-2">
					<b>Fórmula</b> <br>
					<div class="input-group">
						<input type="text" class="form-control" name="formula" id="formula" />
					</div>
				</div>

				<div class="col-sm-2">
					<b>Material</b> <br>
					<div class="input-group">
						<input type="text" class="form-control" name="material" id="material" />
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="ibox-footer">
		<button id="btnFiltro" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> Filtrar</button>
		<button id="btnTodos" class="btn btn-success"><i class="far fa-eye"></i> Ver todos</button>

		{% include "reportes/loader.twig" %}
		<script>
			var appFiltros = new Vue({
				el: '#filtros',
				data: {
                    tipo_producto: {{ tipo_producto|raw }}
				},
				methods: {
					buscarProductoExtrusion: function () {
						var self = this;
						var data = {};
						$('#productoExtrusionContent').load('{{ root }}/productoExtrusion/buscador', data, function () {
							callbackProducto = function (pro) {
								$("#producto_extrusion").val(pro.id_producto);
								$("#producto_extrusion_nombre").val(pro.nombre);
								$('#modalProductoExtrusion').modal('hide');
							};
							$('#modalProductoExtrusion').modal('show');
						});
					},
					buscarProducto: function () {
						var self = this;
						var data = {};
						$('#productoContent').load('{{ root }}/producto/buscador', data, function () {
							callbackProducto = function (pro) {
								$("#producto").val(pro.id_producto);
								$("#producto_nombre").val(pro.nombre);
								$('#modalProducto').modal('hide');
							};
							$('#modalProducto').modal('show');
						});
					},
				},
				updated: function () {

				}
			});

			$(function () {
				$('.fecha').datepicker({
					dateFormat: 'yy-mm-dd',
					showButtonPanel: true
				});

			});
		</script>
	</div>

	<div class="modal inmodal fade" id="modalProductoExtrusion" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" style="width:90%">
			<div class="modal-content">
				<div class="modal-header" style="padding:10px">
					<div class="modal-title">Buscar Producto Extrusión</div>
				</div>
				<div class="modal-body">
					<div id="productoExtrusionContent"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal inmodal fade" id="modalProducto" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" style="width:90%">
			<div class="modal-content">
				<div class="modal-header" style="padding:10px">
					<div class="modal-title">Buscar Producto</div>
				</div>
				<div class="modal-body">
					<div id="productoContent"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>