<div class="card">
	<div class="card-header">
		<h4 class="card-title">Filtros de Búsqueda</h4>
	</div>
	<div class="card-body">
		<form id="filtros">
			<div class="row ">
				<div class="col-sm-3">
					<b>Campaña</b> <br>
					<div class="input-group">
						<select class="form-control select2" name="campana[]" id="campana" multiple>
							<option value=""></option>
							<option v-for="(v,k) in campana_asignacion" v-html="v" :value="k"></option>
						</select>
					</div>
				</div>

				<div class="col-sm-3">
					<b>Zona</b> <br>
					<div class="input-group">
						<select class="form-control select2" name="plaza_usuario[]" id="plaza_usuario" multiple>
							<option value=""></option>
							<option v-for="(v,k) in plaza_usuario" v-html="v" :value="k"></option>
						</select>
					</div>
				</div>

				<div class="col-sm-3">
					<b>Canal</b> <br>
					<div class="input-group">
						<select class="form-control select2" name="canal_usuario[]" id="canal_usuario" multiple>
							<option value=""></option>
							<option v-for="(v,k) in canal_usuario" v-html="v" :value="k"></option>
						</select>
					</div>
				</div>

				<div class="col-sm-3">
					<b>Marca</b> <br>
					<div class="input-group">
						<select class="form-control select2" name="nombre_tarjeta[]" id="nombre_tarjeta" multiple>
							<option value=""></option>
							<option value="DINERS">DINERS</option>
							<option value="INTERDIN">VISA</option>
							<option value="DISCOVER">DISCOVER</option>
							<option value="MASTERCARD">MASTERCARD</option>
						</select>
					</div>
				</div>

				<div class="col-sm-3">
					<b>Fecha</b> <br>
					{{ text_field_tag("fecha_inicio", '', {class:'form-control fecha'}) }}
				</div>
			</div>
		</form>
	</div>
	<div class="card-footer">
		<button id="btnFiltro" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> Filtrar</button>
		<button id="btnTodos" class="btn btn-success"><i class="fa fa-eye"></i> Ver todos</button>
		{% include "reportes/loader.twig" %}
		<script>
            var appFiltros = new Vue({
                el: '#filtros',
                data: {
                    canal_usuario: {{ canal_usuario|raw }},
                    plaza_usuario: {{ plaza_usuario|raw }},
                    horas: {{ horas|raw }},
                    minutos: {{ minutos|raw }},
					campana_asignacion: {{ campana_asignacion|raw }},
					marca: {{ marca|raw }},
                },
                methods: {},
            });

            $(function () {
                $('.fecha').datepicker({
                    dateFormat: 'yy-mm-dd',
                    showButtonPanel: true
                });

            });
		</script>
	</div>
</div>