<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5 class="center-block">{{ titulo }}</h5>
	</div>
	<div class="ibox-content">
		<form id="filtros">
			<div class="row small form-group-sm">

				<div class="col-sm-2">
					<b>Concesionario</b> <br>
					{{ select_tag('concesionario', concesionarios, model.concesionario,
						{key:'id',value:'nombre', class:'form-control selectpicker', multiple:'multiple', 'data-actions-box':'true', name:'concesionario[]'} ) }}
				</div>
				<div class="col-sm-2">
					<b>Sucursal</b> <br>
					{#{{ select_tag('sucursal', sucursales, model.sucursal, {class:'form-control selectpicker', multiple:'multiple', 'data-actions-box':'true', name:'sucursal[]'} ) }}#}
					<select name="sucursal[]" id="sucursal" class="form-control selectpicker"
							multiple="multiple" data-actions-box="true">
						<option v-for="s in sucursales" v-bind:value="s.id" v-html="s.nombre">
						</option>
					</select>
				</div>

				<div class="col-sm-2">
					<b>Zona</b> <br>
					{{ select_tag('zona', zonas, model.zona, {class:'form-control selectpicker', multiple:'multiple', 'data-actions-box':'true', name:'zona[]'} ) }}
				</div>

				<div class="col-sm-2">
					<b>Familia</b> <br>
					{{ select_tag('familia', familias, model.familia, {class:'form-control selectpicker', multiple:'multiple', 'data-actions-box':'true', name:'familia[]'} ) }}
				</div>

				<div class="col-sm-2">
					<b>Categoría</b> <br>
					{{ select_tag('categoria', categorias, model.categorias, {class:'form-control selectpicker', multiple:'multiple', 'data-actions-box':'true', name:'categoria[]'} ) }}
				</div>
			</div>
		</form>
	</div>
	<div class="ibox-footer">
		<button id="btnFiltro" class="btn btn-primary btn-xs" type="button">Filtrar</button>

		{% include "reportes/loader.twig" %}
		<script>
			var sucursalesData = {{ sucursalesData|raw }};
			var appFiltros = new Vue({
				el: '#filtros',
				data: {
					sucursales: sucursalesData
				},
				methods: {
					filtrarSucursales: function () {
						var zonas = $('#zona').val();
						var con = $('#concesionario').val();
						var lista = [];
						for (var i in sucursalesData) {
							var suc = sucursalesData[i];
							var include = true;
							if (con.length > 0)
								include = include && ($.inArray(suc.concesionario_id + '', con) >= 0);
							if (zonas.length > 0)
								include = include && ($.inArray(suc.zona + '', zonas) >= 0);
							if (include)
								lista.push(suc);
						}
						this.sucursales = lista;

						// verificar si hay que quitar el valor seleccionado
						// $('#sucursal').selectpicker('deselectAll');
					}
				},
				updated: function () {
					$('#sucursal').selectpicker('refresh');
				}
			});

			$(function () {
				$('#zona').on('hidden.bs.select', function (e) {
					appFiltros.filtrarSucursales();
				});

				$('#concesionario').on('hidden.bs.select', function () {
					appFiltros.filtrarSucursales();
				});
			});
		</script>
	</div>
</div>