<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5 class="center-block">{{ titulo }}</h5>
	</div>
	<div class="ibox-content">
		<form id="filtros">
			<div class="row ">

				<div class="col-sm-2">
					<b>Fecha inicio</b> <br>

					{{ text_field_tag("fecha_desde", model.fecha_desde, {class:'form-control fecha'}) }}
				</div>

				<div class="col-sm-2">
					<b>Fecha fin</b> <br>
					{{ text_field_tag("fecha_hasta", model.fecha_hasta, {class:'form-control fecha'}) }}
				</div>

				<div class="col-sm-2">
					<b>Rollo Madre</b> <br>
					{{ text_field_tag("rollo_madre", model.rollo_madre, {class:'form-control'}) }}
				</div>

				<div class="col-sm-2">
					<b>Orden Producción Corte - Bobinado</b> <br>
					{{ text_field_tag("orden_cb", model.orden_cb, {class:'form-control'}) }}
				</div>

				<div class="col-sm-2">
					<b>Tipo Consumo</b> <br>
					<select class="form-control" name="tipo_consumo" id="tipo_consumo">
						<option value="produccion">Producción</option>
						<option value="venta">Venta</option>
					</select>
				</div>

			</div>
		</form>
	</div>
	<div class="ibox-footer">
		<button id="btnFiltro" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> Filtrar</button>
		<button id="btnTodos" class="btn btn-success"><i class="far fa-eye"></i> Ver todos</button>

		{% include "reportes/loader.twig" %}
		<script>
			var appFiltros = new Vue({
				el: '#filtros',
				data: {
				},
				methods: {
				},
				updated: function () {
				}
			});

			$(function () {
				$('.fecha').datepicker({
					dateFormat: 'yy-mm-dd',
					showButtonPanel: true
				});

			});
		</script>
	</div>
</div>