<div class="card">
	<div class="card-header">
		<h4 class="card-title">Filtros de Búsqueda</h4>
	</div>
	<div class="card-body">
		<form id="filtros">
			<div class="row ">
				<div class="col-sm-3">
					<b>Zona</b> <br>
					<div class="input-group">
						<select class="form-control select2" name="zona_cliente[]" id="zona_cliente" multiple>
							<option value=""></option>
							<option v-for="(v,k) in zona_cliente" v-html="v" :value="k"></option>
						</select>
					</div>
				</div>

				<div class="col-sm-3">
					<b>Canal</b> <br>
					<div class="input-group">
						<select class="form-control select2" name="canal_usuario[]" id="canal_usuario" multiple>
							<option value=""></option>
							<option v-for="(v,k) in canal_usuario" v-html="v" :value="k"></option>
						</select>
					</div>
				</div>

				<div class="col-sm-3">
					<b>Fecha Inicio</b> <br>
					{{ text_field_tag("fecha_inicio", '', {class:'form-control fecha'}) }}
					<select class="form-control form-select select2" name="hora_inicio" id="hora_inicio" style="width: 60px;">
						<option value=""></option>
						<option v-for="(v,k) in horas" v-html="v" :value="k"></option>
					</select> :
					<select class="form-control form-select select2" name="minuto_inicio" id="minuto_inicio" style="width: 60px;">
						<option value=""></option>
						<option v-for="(v,k) in minutos" v-html="v" :value="k"></option>
					</select>
				</div>

				<div class="col-sm-3">
					<b>Fecha Fin</b> <br>
					{{ text_field_tag("fecha_fin", '', {class:'form-control fecha'}) }}
					<select class="form-control form-select select2" name="hora_fin" id="hora_fin" style="width: 60px;">
						<option value=""></option>
						<option v-for="(v,k) in horas" v-html="v" :value="k"></option>
					</select> :
					<select class="form-control form-select select2" name="minuto_fin" id="minuto_fin" style="width: 60px;">
						<option value=""></option>
						<option v-for="(v,k) in minutos" v-html="v" :value="k"></option>
					</select>
				</div>
			</div>
		</form>
	</div>
	<div class="card-footer">
		<button id="btnFiltro" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> Filtrar</button>
		<button id="btnTodos" class="btn btn-success"><i class="fa fa-eraser"></i> Limpiar filtros</button>
		{% include "reportes/loader.twig" %}
		<script>
            var appFiltros = new Vue({
                el: '#filtros',
                data: {
                    plaza_usuario: {{ plaza_usuario|raw }},
                    horas: {{ horas|raw }},
                    minutos: {{ minutos|raw }},
                    canal_usuario: {{ canal_usuario|raw }},
					zona_cliente: {{ zona_cliente|raw }},
                },
                methods: {},
            });

            $(function () {
				$("#hora_inicio").val('');
				$("#minuto_inicio").val('');
				$("#hora_fin").val('');
				$("#minuto_fin").val('');
                $('.fecha').datepicker({
                    dateFormat: 'yy-mm-dd',
                    showButtonPanel: true
                });

            });
		</script>
	</div>
</div>