<div class="card">
	<div class="card-header">
		<h4 class="card-title">Filtros de Búsqueda</h4>
	</div>
	<div class="card-body">
		<form id="filtros">
			<div class="row ">
				<div class="col-sm-3">
					<b>Gestor</b> <br>
					<div class="input-group">
						<select class="form-control select2" name="gestor[]" id="gestor" multiple>
							<option value=""></option>
							<option v-for="item in gestor_campo" v-bind:value="item.id" v-html="item.name"></option>
						</select>
					</div>
				</div>
				
				<div class="col-sm-3">
					<b>Zona</b> <br>
					<div class="input-group">
						<select class="form-control select2" name="plaza_usuario[]" id="plaza_usuario" multiple>
							<option value=""></option>
							<option v-for="(v,k) in plaza_usuario" v-html="v" :value="k"></option>
						</select>
					</div>
				</div>

				<div class="col-sm-3">
					<b>Resultado</b> <br>
					<div class="input-group">
						<select class="form-control select2" name="resultado[]" id="resultado" multiple>
							<option value=""></option>
							<option v-for="item in resultado" v-bind:value="item.nivel1_id" v-html="item.nivel1"></option>
						</select>
					</div>
				</div>

				<div class="col-sm-3">
					<b>Acción</b> <br>
					<div class="input-group">
						<select class="form-control select2" name="accion[]" id="accion" multiple>
							<option value=""></option>
							<option v-for="item in accion" v-bind:value="item.nivel2_id" v-html="item.nivel2"></option>
						</select>
					</div>
				</div>

				<div class="col-sm-3">
					<b>Descripción</b> <br>
					<div class="input-group">
						<select class="form-control select2" name="descripcion[]" id="descripcion" multiple>
							<option value=""></option>
							<option v-for="item in descripcion" v-bind:value="item.nivel3_id" v-html="item.nivel3"></option>
						</select>
					</div>
				</div>

				<div class="col-sm-3">
					<b>Fecha Inicio</b> <br>
					{{ text_field_tag("fecha_inicio", '', {class:'form-control fecha'}) }}
					<select class="form-control form-select select2" name="hora_inicio" id="hora_inicio" style="width: 60px;">
						<option value=""></option>
						<option v-for="(v,k) in horas" v-html="v" :value="k"></option>
					</select> :
					<select class="form-control form-select select2" name="minuto_inicio" id="minuto_inicio" style="width: 60px;">
						<option value=""></option>
						<option v-for="(v,k) in minutos" v-html="v" :value="k"></option>
					</select>
				</div>

				<div class="col-sm-3">
					<b>Fecha Fin</b> <br>
					{{ text_field_tag("fecha_fin", '', {class:'form-control fecha'}) }}
					<select class="form-control form-select select2" name="hora_fin" id="hora_fin" style="width: 60px;">
						<option value=""></option>
						<option v-for="(v,k) in horas" v-html="v" :value="k"></option>
					</select> :
					<select class="form-control form-select select2" name="minuto_fin" id="minuto_fin" style="width: 60px;">
						<option value=""></option>
						<option v-for="(v,k) in minutos" v-html="v" :value="k"></option>
					</select>
				</div>
			</div>
		</form>
	</div>
	<div class="card-footer">
		<button id="btnFiltro" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> Filtrar</button>
		<button id="btnTodos" class="btn btn-success"><i class="fa fa-eraser"></i> Limpiar filtros</button>
		{% include "reportes/loader.twig" %}
		<script>
            var appFiltros = new Vue({
                el: '#filtros',
                data: {
                    canal_usuario: {{ canal_usuario|raw }},
                    plaza_usuario: {{ plaza_usuario|raw }},
                    horas: {{ horas|raw }},
                    minutos: {{ minutos|raw }},
					campana_asignacion: {{ campana_asignacion|raw }},
					campana_ece: {{ campana_ece|raw }},
					campana_usuario: {{ campana_usuario|raw }},
					marca: {{ marca|raw }},
					ciclo_asignacion: {{ ciclo_asignacion|raw }},
					resultado: {{ resultado|raw }},
					accion: {{ accion|raw }},
					descripcion: {{ descripcion|raw }},
					motivo_no_pago: {{ motivo_no_pago|raw }},
					descripcion_no_pago: {{ descripcion_no_pago|raw }},
					gestor_campo: {{ gestor_campo|raw }},
                },
                methods: {},
            });

            $(function () {
				$("#hora_inicio").val('');
				$("#minuto_inicio").val('');
				$("#hora_fin").val('');
				$("#minuto_fin").val('');
                $('.fecha').datepicker({
                    dateFormat: 'yy-mm-dd',
                    showButtonPanel: true
                });

            });
		</script>
	</div>
</div>