{% extends 'layout.twig' %}
{% block content %}
	{% include "reportes/filtrosGestionesPorHora.twig" %}
	<div id="app">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Datos</h4>
			</div>
			<div class="card-body">
				<a class="btn btn-default-light" id="btnExportar">
					<i class="fa fa-file-excel-o"></i>
					Exportar
				</a>
				<div class="table-responsive">
					<table class="table border table-striped table-bordered table-sm mb-0">
						<thead>
						<tr style="background-color: #95b8f6;">
							<th>AGENTE</th>
                            <th>7</th>
							<th>8</th>
							<th>9</th>
                            <th>10</th>
                            <th>11</th>
                            <th>12</th>
                            <th>13</th>
                            <th>14</th>
                            <th>15</th>
                            <th>16</th>
                            <th>17</th>
                            <th>18</th>
                            <th>19</th>
                            <th>TOTAL GENERAL</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="d in datos">
							<td style="text-align: left;" v-html="d.nombre_completo"></td>
                            <td style="text-align: center;" v-html="d.hora_7"></td>
                            <td style="text-align: center;" v-html="d.hora_8"></td>
                            <td style="text-align: center;" v-html="d.hora_9"></td>
                            <td style="text-align: center;" v-html="d.hora_10"></td>
                            <td style="text-align: center;" v-html="d.hora_11"></td>
                            <td style="text-align: center;" v-html="d.hora_12"></td>
                            <td style="text-align: center;" v-html="d.hora_13"></td>
                            <td style="text-align: center;" v-html="d.hora_14"></td>
                            <td style="text-align: center;" v-html="d.hora_15"></td>
                            <td style="text-align: center;" v-html="d.hora_16"></td>
                            <td style="text-align: center;" v-html="d.hora_17"></td>
                            <td style="text-align: center;" v-html="d.hora_18"></td>
                            <td style="text-align: center;" v-html="d.hora_19"></td>
                            <td style="text-align: center;" v-html="d.total"></td>
						</tr>
						</tbody>
                        <tfoot>
                        <tr>
                            <td style="text-align: right; font-weight: bold;">TOTAL</td>
                            <td style="text-align: center; font-weight: bold;" v-html="total.total_7"></td>
                            <td style="text-align: center; font-weight: bold;" v-html="total.total_8"></td>
                            <td style="text-align: center; font-weight: bold;" v-html="total.total_9"></td>
                            <td style="text-align: center; font-weight: bold;" v-html="total.total_10"></td>
                            <td style="text-align: center; font-weight: bold;" v-html="total.total_11"></td>
                            <td style="text-align: center; font-weight: bold;" v-html="total.total_12"></td>
                            <td style="text-align: center; font-weight: bold;" v-html="total.total_13"></td>
                            <td style="text-align: center; font-weight: bold;" v-html="total.total_14"></td>
                            <td style="text-align: center; font-weight: bold;" v-html="total.total_15"></td>
                            <td style="text-align: center; font-weight: bold;" v-html="total.total_16"></td>
                            <td style="text-align: center; font-weight: bold;" v-html="total.total_17"></td>
                            <td style="text-align: center; font-weight: bold;" v-html="total.total_18"></td>
                            <td style="text-align: center; font-weight: bold;" v-html="total.total_19"></td>
                            <td style="text-align: center; font-weight: bold;" v-html="total.total"></td>
                        </tr>
                        </tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>

	<form id="exportForm" method="POST" action="{{ root }}/reportes/exportGestionesPorHora">
		<input type="hidden" id="json" name="json"/>
	</form>

	{# <script src="http://d3js.org/d3.v3.min.js"></script> #}
	{{ bundle('validate') }}
	{{ bundle('boot_select') }}
	{{ script('js/jquery.serialize-object.min.js') }}
	{{ bundle('select2') }}

	<script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                datos: [],
                total: [],
            },
            watch: {},
            computed: {},
            methods: {
                consultar: function () {
                    var form = $('#filtros');
                    var self = this;
                    var data = form.serializeArray();
                    toggleLoader();
                    $.post('{{ root }}/reportes/gestionesPorHora', data, function (res) {
                        toggleLoader();
                        self.datos = res['data'];
                        self.total = res['total'];
                        console.log(res);
                    })
                },
            },
            mounted: function () {
                var form = $('#filtros');
                var self = this;
                $('#btnExportar').click(function () {
                    var data = {
                        datos: self.datos,
                        total: self.total,
                        resumen: self.resumen,
                    };
                    $('#json').val(JSON.stringify(data));
                    $('#exportForm').submit();
                });

                $(document).ready(function () {
                    $('#btnFiltro').click(function () {
                        self.consultar();
                    });
                    $('#btnTodos').click(function () {
                        form[0].reset();
                        $("#plaza_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#canal_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#hora_inicio").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#minuto_inicio").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#hora_fin").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#minuto_fin").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana_ece").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#marca").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#resultado").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#accion").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#descripcion").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#motivo_no_pago").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#descripcion_no_pago").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        // self.consultar();
                    });
                    $('.select2').select2({
                        theme: "classic"
                    });
                    // self.consultar();
                });
            }
        });
	</script>
{% endblock %}