{% extends layoutApp %}
{% block content %}
	<div class="col-md-12 col-xl-12">
			<div class="card">
				<div id="app">
					<div class="card-body">

						{% if menuReportes['diners_general']|length > 0 %}
						<h2>REPORTES GENERALES</h2>
						{% endif %}
						{% for chunk in menuReportes['diners_general'] %}
							<div class="row">
								{% for item in chunk %}
									<div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
										<a href="{{ item.link }}">
											<div class="card bg-success img-card">
												<div class="card-body">
													<div class="d-flex">
														<div class="text-white">
															<h2 style="font-size: 20px;" class="mb-0 number-font">{{ item.label }}</h2>
															<p class="text-white mb-0">{{ item.description }}</p>
														</div>
														<div class="ms-auto"><i class="{{ item.icon }} text-white fa-3x"></i></div>
													</div>
												</div>
											</div>
										</a>
									</div>
								{% endfor %}
							</div>
						{% endfor %}

						{% if menuReportes['diners_campo']|length > 0 %}
							<h2>REPORTES DE CAMPO</h2>
						{% endif %}
						{% for chunk in menuReportes['diners_campo'] %}
							<div class="row">
								{% for item in chunk %}
									<div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
										<a href="{{ item.link }}">
											<div class="card bg-info img-card">
												<div class="card-body">
													<div class="d-flex">
														<div class="text-white">
															<h2 style="font-size: 20px;" class="mb-0 number-font">{{ item.label }}</h2>
															<p class="text-white mb-0">{{ item.description }}</p>
														</div>
														<div class="ms-auto"><i class="{{ item.icon }} text-white fa-3x"></i></div>
													</div>
												</div>
											</div>
										</a>
									</div>
								{% endfor %}
							</div>
						{% endfor %}

						{% if menuReportes['diners_telefonia']|length > 0 %}
							<h2>REPORTES DE TELEFONÍA</h2>
						{% endif %}
						{% for chunk in menuReportes['diners_telefonia'] %}
							<div class="row">
								{% for item in chunk %}
									<div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
										<a href="{{ item.link }}">
											<div class="card bg-warning img-card">
												<div class="card-body">
													<div class="d-flex">
														<div class="text-white">
															<h2 style="font-size: 20px;" class="mb-0 number-font">{{ item.label }}</h2>
															<p class="text-white mb-0">{{ item.description }}</p>
														</div>
														<div class="ms-auto"><i class="{{ item.icon }} text-white fa-3x"></i></div>
													</div>
												</div>
											</div>
										</a>
									</div>
								{% endfor %}
							</div>
						{% endfor %}

						{% if menuReportes['diners_operativo']|length > 0 %}
							<h2>REPORTES DE OPERACIÓN</h2>
						{% endif %}
						{% for chunk in menuReportes['diners_operativo'] %}
							<div class="row">
								{% for item in chunk %}
									<div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
										<a href="{{ item.link }}">
											<div class="card bg-info img-card">
												<div class="card-body">
													<div class="d-flex">
														<div class="text-white">
															<h2 style="font-size: 20px;" class="mb-0 number-font">{{ item.label }}</h2>
															<p class="text-white mb-0">{{ item.description }}</p>
														</div>
														<div class="ms-auto"><i class="{{ item.icon }} text-white fa-3x"></i></div>
													</div>
												</div>
											</div>
										</a>
									</div>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
	</div>

	<script type="text/javascript">

	</script>

{% endblock %}