{% extends 'layout.twig' %}
{% block content %}
	{% include "reportes/filtrosInformeJornada.twig" %}
	<div id="app">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Datos</h4>
			</div>
			<div class="card-body">
				<a class="btn btn-default-light" id="btnExportar">
					<i class="fa fa-file-excel-o"></i>
					Exportar
				</a>
				<table class="table border table-striped table-bordered table-sm mb-0">
					<thead>
					<tr style="background-color: #95b8f6;">
						<th>ZONA</th>
						<th>EJECUTIVO</th>
						<th>CANAL</th>
						<th>MARCA - CICLOS</th>
						<th>DETALLE GENERAL</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="d in data_asesores">
							<template v-if="d.zona == 'd) ZONA AMBATO'">
								<td style="background-color: #95fab9;" v-html="d.zona"></td>
							</template>
							<template v-else-if="d.zona == 'c) ZONA CUENCA'">
								<td style="background-color: #fdfd96;" v-html="d.zona"></td>
							</template>
							<template v-else-if="d.zona == 'b) ZONA GUAYAQUIL'">
								<td style="background-color: #b2dafa;" v-html="d.zona"></td>
							</template>
							<template v-else-if="d.zona == 'e) ZONA MACHALA'">
								<td style="background-color: #dfcae1;" v-html="d.zona"></td>
							</template>
							<template v-else-if="d.zona == 'f) ZONA MANABI'">
								<td style="background-color: #77dd77;" v-html="d.zona"></td>
							</template>
							<template v-else-if="d.zona == 'a) ZONA QUITO'">
								<td style="background-color: #f9d99a;" v-html="d.zona"></td>
							</template>
							<template v-else>
								<td style="background-color: #ffffff;" v-html="d.zona"></td>
							</template>
							<td v-html="d.ejecutivo"></td>
							<td v-html="d.canal"></td>
							<td style="text-align: center;" v-html="d.marca_ciclo"></td>
						<td style="text-align: center;" v-html="d.detalle_general"></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>


	</div>

	<form id="exportForm" method="POST" action="{{ root }}/reportes/exportInformeJornada">
		<input type="hidden" id="json" name="json"/>
	</form>

	{# <script src="http://d3js.org/d3.v3.min.js"></script> #}
	{{ bundle('validate') }}
	{{ bundle('boot_select') }}
	{{ script('js/jquery.serialize-object.min.js') }}
	{{ bundle('select2') }}

	<script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                datos: [],
                total: [],
				resumen: [],
				data_asesores: [],
            },
            watch: {},
            computed: {},
            methods: {
                consultar: function () {
                    var form = $('#filtros');
                    var self = this;
                    var data = form.serializeArray();
                    toggleLoader();
                    $.post('{{ root }}/reportes/informeJornada', data, function (res) {
                        toggleLoader();
                        self.datos = res['data'];
                        self.total = res['total'];
						self.resumen = res['resumen'];
						self.data_asesores = res['data_asesores'];
                        console.log(res);
                    })
                },

                calcular: function () {
                    var self = this;
                    var total_asignacion = 0;
                    $.each(self.datos, function (key, value) {
                        var porcentaje_productividad = 0.00;
                        if(parseFloat(value.asignacion) > 0){
                            porcentaje_productividad = (parseFloat(value.cuentas) / parseFloat(value.asignacion)) * 100;
                        }
                        self.datos[key].porcentaje_productividad = porcentaje_productividad.toFixed(2);
                        total_asignacion = total_asignacion + parseFloat(value.asignacion);
                    });
                    self.total.total_asignacion = total_asignacion;
                    var total_porcentaje_productividad = 0;
                    if(total_asignacion > 0){
                        total_porcentaje_productividad = (parseFloat(self.total.total_cuentas) / total_asignacion) * 100;
                    }
                    self.total.total_porcentaje_productividad = total_porcentaje_productividad.toFixed(2);
                    // app.$forceUpdate();
                },

            },
            mounted: function () {
                var form = $('#filtros');
                var self = this;
                $('#btnExportar').click(function () {
                    var data = {
                        datos: self.datos,
						total: self.total,
						resumen: self.resumen,
						data_asesores: self.data_asesores,
                    };
                    $('#json').val(JSON.stringify(data));
                    $('#exportForm').submit();
                });

                $(document).ready(function () {
                    $('#btnFiltro').click(function () {
                        self.consultar();
                    });
					$('#btnTodos').click(function () {
						form[0].reset();
						$("#plaza_usuario").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#canal_usuario").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#hora_inicio").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#minuto_inicio").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#hora_fin").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#minuto_fin").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#campana").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#campana_ece").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#campana_usuario").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#marca").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#zona_cliente").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
					});
                    $('.select2').select2({
                        theme: "classic"
                    });
                    // self.consultar();
                });
            }
        });
	</script>
{% endblock %}