{% extends 'layout.twig' %}
{% block content %}
	{% include "reportes/filtrosInventarioPerchaInconforme.twig" %}
	<div class="ibox float-e-margins" id="app">
		<div class="ibox-title">
			<h5>
				<strong>Datos</strong>
			</h5>

			<div class="ibox-tools">
				<a class="btn btn-xs" id="btnExportar">
					<i class="far fa-file-excel"></i>
					Exportar
				</a>

			</div>
		</div>
		<div class="ibox-content no-padding">
			<div class="row">
				<div class="col-lg-12">
					<table class="table table-condensed table-bordered table-stripped">
						<tr>
							<td width="16%"><strong>Total Rollos</strong></td>
							<td width="16%" v-html="total.total_cantidad"></td>
							<td width="16%"><strong>Total Kilos Brutos</strong></td>
							<td width="16%"  v-html="total.total_kilos"></td>
							<td width="16%"><strong>Total Kilos Netos</strong></td>
							<td width="16%" v-html="total.total_kilos_neto"></td>
						</tr>
					</table>
					<table class="table table-condensed table-bordered table-stripped">
						<thead>
						<tr>
							<th>#</th>
							<th>Tipo Producto</th>
							<th>Producto</th>
							<th>Tipo Orden</th>
							<th>Orden</th>
							<th>Ancho</th>
							<th>Espesor</th>
							<th>Unidad</th>
							<th>Cantidad</th>
							<th>Kilos Brutos</th>
							<th>Kilos Netos</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="d in datos">
							<td v-html="d.cont"></td>
							<td v-html="d.tipo_material"></td>
							<td v-html="d.material"></td>
							<td v-html="d.tipo_orden"></td>
							<td>
								<span v-html="d.numero_orden"></span>
							</td>
							<td v-html="d.ancho"></td>
							<td v-html="d.espesor"></td>
							<td v-html="d.unidad"></td>
							<td align="right" v-html="d.cantidad"></td>
							<td align="right" v-html="d.kilos"></td>
							<td align="right" v-html="d.kilos_netos"></td>
							<td>
								<div v-if="d.tipo_orden == 'EXTRUSIÓN'">
									<a :href="'{{ root }}/produccionExtrusion/editar?id=' + d.id_orden" target="_blank" title="Ir a Producción">
										<i class="fas fa-cogs"></i>
									</a>
									<a v-on:click="verRollos(d.id_orden,'extrusion')" title="Ver Rollos">
										<i class="fas fa-drum-steelpan"></i>
									</a>
								</div>
								<div v-if="d.tipo_orden == 'CORTE - BOBINADO'">
									<a :href="'{{ root }}/produccionCB/editar?id=' + d.id_orden" target="_blank" title="Ir a Producción">
										<i class="fas fa-cogs"></i>
									</a>
									<a v-on:click="verRollos(d.id_orden,'corte_bobinado')" title="Ver Rollos">
										<i class="fas fa-drum-steelpan"></i>
									</a>
								</div>
							</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="8" align="right"><strong>TOTAL</strong></td>
							<td align="right" style="font-weight: bold;" v-html="total.total_cantidad"></td>
							<td align="right" style="font-weight: bold;" v-html="total.total_kilos"></td>
							<td align="right" style="font-weight: bold;" v-html="total.total_kilos_neto"></td>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>

		</div>
	</div>

	<form id="exportForm" method="POST" action="{{ root }}/reportes/exportInventarioPerchaInconforme">
		<input type="hidden" id="json" name="json"/>
	</form>

	<div class="modal inmodal fade" id="modalVerRollos" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" style="width:50%">
			<div class="modal-content">
				<div class="modal-header" style="padding:10px">
					<div class="modal-title">Ver Rollos</div>
				</div>
				<div class="modal-body">
					<div id="verRollosContent"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	{#<script src="http://d3js.org/d3.v3.min.js"></script>#}
	{{ bundle('validate') }}
	{{ bundle('boot_select') }}
	{{ script('js/highcharts/highcharts.js') }}
	{{ script('js/highcharts/modules/exporting.js') }}
	{{ script('js/jquery.serialize-object.min.js') }}

	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				datos: [],
				total: []
			},
			watch: {},
			computed: {},
			methods: {
				consultar: function () {
					var form = $('#filtros');
					var self = this;
					var data = form.serializeArray();
					toggleLoader();
					$.post('{{ root }}/reportes/inventarioPerchaInconforme', data, function (res) {
						toggleLoader();
						self.datos = res['data'];
						self.total = res['total'];
						console.log(res);
					})
				},

                verRollos: function (id_orden,tipo_orden) {
                    var self = this;
                    var data = {
                        id_orden: id_orden,
                        tipo_orden: tipo_orden,
                    };
                    $('#verRollosContent').load('{{ root }}/produccionExtrusion/verRollosInconformes', data, function () {
                        $('#modalVerRollos').modal('show');
                    });
                },
			},
			mounted: function () {
				var form = $('#filtros');
				var self = this;
				$('#btnExportar').click(function () {
					var data = {
						filtros: form.serializeForm()
					};
					$('#json').val(JSON.stringify(data));
					$('#exportForm').submit();
				});

				$(document).ready(function () {
					$('#btnFiltro').click(function () {self.consultar();});
					$('#btnTodos').click(function () {
						form[0].reset();
						$("#producto_extrusion").val("");
						$("#producto").val("");
						self.consultar();
					});
					self.consultar();
				});
			}
		});
	</script>
{% endblock %}