{% extends 'layout.twig' %}
{% block content %}
	{% include "reportes/filtrosNegociacionesAutomatica.twig" %}
	<div id="app">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Datos</h4>
			</div>
			<div class="card-body">
				<a class="btn btn-default-light" id="btnExportar">
					<i class="fa fa-file-excel-o"></i>
					Exportar
				</a>
				<div class="table-responsive">
                    <table class="table border table-striped table-bordered table-sm mb-0">
                        <thead>
                        <tr style="background-color: #95b8f6;">
                            <th>FECHA</th>
                            <th>CORTE</th>
                            <th>MARCA DONDE SE PROCESA</th>
                            <th>CÉDULA</th>
                            <th>COD. NEGOCIADOR</th>
                            <th>NOMBRE DEL SOCIO</th>
                            <th>TIPO NEGOCIACIÓN</th>
                            <th>PLAZO</th>
                            <th>MESES DE GRACIA</th>
                            <th>OBSERVACION CORTA</th>
                            <th>ABONO AL CORTE</th>
                            <th>Nº MOT DE NO PAGO</th>






                            <th>CONSOLIDACION DE DEUDAS (SI/NO -VACIO)</th>
                            <th>TRASLADO DE VALORES DINERS (SI/NO - VACIO)</th>
                            <th>TRASLADO DE VALORES VISA (SI/NO - VACIO)</th>
                            <th>TRASLADO DE VALORES DISCOVER (SI/NO - VACIO)</th>
                            <th>TRASLADO DE VALORES MASTERCARD (SI/NO - VACIO)</th>
                            <th>CIUDAD</th>
                            <th>ZONA</th>
                            <th>INGRESOS SOCIO</th>
                            <th>GASTOS SOCIO</th>
                            <th>ABONO MISMO DIA DEL CORTE DINERS</th>
                            <th>ABONO MISMO DIA DEL CORTE VISA</th>
                            <th>ABONO MISMO DIA DEL CORTE DISCOVER</th>
                            <th>ABONO MISMO DIA DEL CORTE MASTECARD</th>
                            <th>OBSERVACIONES DE LA NEGOCIACIÓN PARA APROBACIÓN</th>
                            <th>ANALISIS DEL FLUJO</th>
                            <th>CAMPANA</th>
                            <th>NOMBRE DEL GESTOR</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="d in datos">
                            <td style="text-align: center;" v-html="d.fecha_negociacion"></td>
                            <td style="text-align: center;" v-html="d.ciclo"></td>
                            <td style="text-align: center;" v-html="d.nombre_tarjeta_format"></td>
                            <td style="text-align: center;" v-html="d.cedula"></td>
                            <td style="text-align: center;" v-html="d.cod_negociador"></td>
                            <td style="text-align: center;" v-html="d.nombre_cliente"></td>
                            <td style="text-align: center;" v-html="d.tipo_negociacion"></td>
                            <td style="text-align: center;" v-html="d.plazo_financiamiento"></td>
                            <td style="text-align: center;" v-html="d.numero_meses_gracia"></td>
                            <td style="text-align: center;" v-html="d.observaciones"></td>
                            <td style="text-align: center;" v-html="d.abono_negociador"></td>
                            <td style="text-align: center;" v-html="d.motivo_no_pago_codigo"></td>






                            <td style="text-align: center;" v-html="d.unificar_deudas"></td>
                            <td style="text-align: center;" v-html="d.traslado_valores_diners"></td>
                            <td style="text-align: center;" v-html="d.traslado_valores_visa"></td>
                            <td style="text-align: center;" v-html="d.traslado_valores_discover"></td>
                            <td style="text-align: center;" v-html="d.traslado_valores_mastercard"></td>
                            <td style="text-align: center;" v-html="d.ciudad"></td>
                            <td style="text-align: center;" v-html="d.zona"></td>
                            <td style="text-align: center;" v-html="d.ingresos_cliente"></td>
                            <td style="text-align: center;" v-html="d.egresos_cliente"></td>
                            <td style="text-align: center;" v-html="d.abono_corte_diners"></td>
                            <td style="text-align: center;" v-html="d.abono_corte_visa"></td>
                            <td style="text-align: center;" v-html="d.abono_corte_discover"></td>
                            <td style="text-align: center;" v-html="d.abono_corte_mastercard"></td>
                            <td style="text-align: center;" v-html="d.analisis_flujo"></td>
                            <td style="text-align: center;" v-html="d.campana"></td>
                            <td style="text-align: center;" v-html="d.gestor"></td>
                        </tr>
                        </tbody>
                    </table>
				</div>
			</div>
		</div>
	</div>

	<form id="exportForm" method="POST" action="{{ root }}/reportes/exportNegociacionesAutomatica">
		<input type="hidden" id="json" name="json"/>
	</form>

	{# <script src="http://d3js.org/d3.v3.min.js"></script> #}
	{{ bundle('validate') }}
	{{ bundle('boot_select') }}
	{{ script('js/jquery.serialize-object.min.js') }}
    {{ bundle('select2') }}

	<script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                datos: [],
                total: [],
            },
            watch: {},
            computed: {},
            methods: {
                consultar: function () {
                    var form = $('#filtros');
                    var self = this;
                    var data = form.serializeArray();
                    toggleLoader();
                    $.post('{{ root }}/reportes/negociacionesAutomatica', data, function (res) {
                        toggleLoader();
                        self.datos = res['data'];
                        self.total = res['total'];
                        console.log(res);
                    })
                },
            },
            mounted: function () {
                var form = $('#filtros');
                var self = this;
                $('#btnExportar').click(function () {
                    var data = {
                        datos: self.datos,
                        total: self.total,
                    };
                    $('#json').val(JSON.stringify(data));
                    $('#exportForm').submit();
                });

                $(document).ready(function () {
                    $('#btnFiltro').click(function () {
                        self.consultar();
                    });
                    $('#btnTodos').click(function () {
                        form[0].reset();
                        $("#plaza_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#canal_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#hora_inicio").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#minuto_inicio").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#hora_fin").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#minuto_fin").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana_ece").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#marca").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        // self.consultar();
                    });
                    $('.select2').select2({
                        theme: "classic"
                    });
                    // self.consultar();
                });
            }
        });
	</script>
{% endblock %}