{% extends 'layout.twig' %}
{% block content %}
	{% include "reportes/filtrosNegociacionesManual.twig" %}
	<div id="app">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Datos</h4>
			</div>
			<div class="card-body">
				<a class="btn btn-default-light" id="btnExportar">
					<i class="fa fa-file-excel-o"></i>
					Exportar
				</a>
				<div class="table-responsive">
                    <table class="table border table-striped table-bordered table-sm mb-0">
                        <thead>
                        <tr style="background-color: #95b8f6;">
                            <th>#</th>
                            <th>MARCA DONDE SE PROCESA</th>
                            <th>CEDULA</th>
                            <th>COD. NEGOCIADOR</th>
                            <th>SUBAREA</th>
                            <th>TIPO NEGOCIACIÓN</th>
                            <th>PLAZO</th>
                            <th>MESES DE GRACIA</th>
                            <th>OBSERVACION NEGOCIACION ERE</th>
                            <th>ABONO AL CORTE DINERS</th>
                            <th>ABONO AL CORTE VISA</th>
                            <th>ABONO AL CORTE DISCOVER</th>
                            <th>ABONO AL CORTE MASTECARD</th>
                            <th># MOT DE NO PAGO</th>
                            <th>SOCIO CON ACTIVIDAD ACTUAL</th>
                            <th>GESTION</th>
                            <th>CONSOLIDACION DEUDA</th>
                            <th>TRASLADO DE VALORES DINERS</th>
                            <th>TRASLADO DE VALORES VISA</th>
                            <th>TRASLADO DE VALORES DISCOVER</th>
                            <th>TRASLADO DE VALORES MASTERCARD</th>
                            <th>INGRESOS</th>
                            <th>GASTOS</th>
                            <th>DOCUMENTOS SOPORTES</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="d in datos">
                            <td style="text-align: center;" v-html="d.numero"></td>
                            <td style="text-align: center;" v-html="d.nombre_tarjeta"></td>
                            <td style="text-align: center;" v-html="d.cedula"></td>
                            <td style="text-align: center;" v-html="d.cod_negociador"></td>
                            <td style="text-align: center;" v-html="d.subarea"></td>
                            <td style="text-align: center;" v-html="d.tipo_negociacion"></td>
                            <td style="text-align: center;" v-html="d.plazo_financiamiento"></td>
                            <td style="text-align: center;" v-html="d.numero_meses_gracia"></td>
                            <td style="text-align: center;"></td>
                            <td style="text-align: center;" v-html="d.abono_corte_diners"></td>
                            <td style="text-align: center;" v-html="d.abono_corte_visa"></td>
                            <td style="text-align: center;" v-html="d.abono_corte_discover"></td>
                            <td style="text-align: center;" v-html="d.abono_corte_mastercard"></td>
                            <td style="text-align: center;" v-html="d.motivo_no_pago_codigo"></td>
                            <td style="text-align: center;"></td>
                            <td style="text-align: center;"></td>
                            <td style="text-align: center;" v-html="d.unificar_deudas"></td>
                            <td style="text-align: center;" v-html="d.traslado_valores_diners"></td>
                            <td style="text-align: center;" v-html="d.traslado_valores_visa"></td>
                            <td style="text-align: center;" v-html="d.traslado_valores_discover"></td>
                            <td style="text-align: center;" v-html="d.traslado_valores_mastercard"></td>
                            <td style="text-align: center;"></td>
                            <td style="text-align: center;"></td>
                            <td style="text-align: center;"></td>
                        </tr>
                        </tbody>
                    </table>
				</div>
			</div>
		</div>
	</div>

	<form id="exportForm" method="POST" action="{{ root }}/reportes/exportNegociacionesManual">
		<input type="hidden" id="json" name="json"/>
	</form>

	{# <script src="http://d3js.org/d3.v3.min.js"></script> #}
    {{ bundle('validate') }}
    {{ bundle('boot_select') }}
    {{ script('js/jquery.serialize-object.min.js') }}
    {{ bundle('select2') }}

	<script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                datos: [],
                total: [],
            },
            watch: {},
            computed: {},
            methods: {
                consultar: function () {
                    var form = $('#filtros');
                    var self = this;
                    var data = form.serializeArray();
                    toggleLoader();
                    $.post('{{ root }}/reportes/negociacionesManual', data, function (res) {
                        toggleLoader();
                        self.datos = res['data'];
                        self.total = res['total'];
                        console.log(res);
                    })
                },
            },
            mounted: function () {
                var form = $('#filtros');
                var self = this;
                $('#btnExportar').click(function () {
                    var data = {
                        filtros: form.serializeForm()
                    };
                    $('#json').val(JSON.stringify(data));
                    $('#exportForm').submit();
                });

                $(document).ready(function () {
                    $('#btnFiltro').click(function () {
                        self.consultar();
                    });
                    $('#btnTodos').click(function () {
                        form[0].reset();
                        $("#plaza_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#canal_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#hora_inicio").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#minuto_inicio").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#hora_fin").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#minuto_fin").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana_ece").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#campana_usuario").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        $("#marca").select2({
                            theme: "classic",
                            initSelection: function(element, callback) {}
                        });
                        // self.consultar();
                    });
                    $('.select2').select2({
                        theme: "classic"
                    });
                    // self.consultar();
                });
            }
        });
	</script>
{% endblock %}