{% extends 'layout.twig' %}
{% block content %}
	{% include "reportes/filtrosProductividadResultados.twig" %}
	<div id="app">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Datos</h4>
			</div>
			<div class="card-body">
                <h2>REFINANCIAMIENTOS AL DIA</h2>
                <a class="btn btn-default-light" id="btnExportarDetalle">
                    <i class="fa fa-file-excel-o"></i>
                    Exportar
                </a>
				<div class="table-responsive">
					<table class="table border table-striped table-bordered table-sm mb-0">
						<thead>
                        <tr style="background-color: #95b8f6;">
                            <th>GESTOR</th>
                            <th>DINERS</th>
                            <th>DISCOVER</th>
                            <th>MASTERCARD</th>
                            <th>VISA</th>
                            <th>Total general</th>
                        </tr>
						</thead>
						<tbody>
						<tr v-for="d in datos">
						</tr>
						</tbody>
                        <tfoot>
                        <tr>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;">TOTAL</td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;" v-html="total.total_diners"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;" v-html="total.total_interdin"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;" v-html="total.total_discover"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;" v-html="total.total_mastercard"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;" v-html="total.total_general"></td>
                        </tr>
                        </tfoot>
					</table>
                    <br/>
                    <table class="table border table-striped table-bordered table-sm mb-0">
                        <thead>
                        <tr style="background-color: #95b8f6;">
                            <th>TIPO NEGOCIACIÓN</th>
                            <th>CUENTAS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>MANUAL</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>AUTOMATICO</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>TOTAL</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
				</div>
                <br/>
                <h2>SOCIOS REFINANCIADOS</h2>
                <a class="btn btn-default-light" id="btnExportarDetalle">
                    <i class="fa fa-file-excel-o"></i>
                    Exportar
                </a>
                <div class="table-responsive">
                    <table class="table border table-striped table-bordered table-sm mb-0">
                        <thead>
                        <tr style="background-color: #95b8f6;">
                            <th>SOCIOS</th>
                            <th>DINERS</th>
                            <th>DISCOVER</th>
                            <th>MASTERCARD</th>
                            <th>VISA</th>
                            <th>Total general</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="d in datos">
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;">TOTAL</td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;" v-html="total.total_diners"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;" v-html="total.total_interdin"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;" v-html="total.total_discover"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;" v-html="total.total_mastercard"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;" v-html="total.total_general"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <br/>
                <h2>RECUPERO AL REFINANCIAR</h2>
                <a class="btn btn-default-light" id="btnExportarDetalle">
                    <i class="fa fa-file-excel-o"></i>
                    Exportar
                </a>
                <div class="table-responsive">
                    <table class="table border table-striped table-bordered table-sm mb-0">
                        <thead>
                        <tr style="background-color: #95b8f6;">
                            <th>MARCA</th>
                            <th>CUENTAS</th>
                            <th>ACTUALES</th>
                            <th>D30</th>
                            <th>D60</th>
                            <th>D90</th>
                            <th>DMAS90</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>DINERS</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>DISCOVER</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>MASTERCARD</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>VISA</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;">TOTAL GENERAL</td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <br/>
                <h2>PAGOS REALIZADOS AL DÍA</h2>
                <a class="btn btn-default-light" id="btnExportarDetalle">
                    <i class="fa fa-file-excel-o"></i>
                    Exportar
                </a>
                <div class="table-responsive">
                    <table class="table border table-striped table-bordered table-sm mb-0">
                        <thead>
                        <tr style="background-color: #95b8f6;">
                            <th>MARCA</th>
                            <th>VALOR PAGADO</th>
                            <th>ACTUALES</th>
                            <th>D30</th>
                            <th>D60</th>
                            <th>D90</th>
                            <th>DMAS90</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>DINERS</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>DISCOVER</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>MASTERCARD</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>VISA</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;">TOTAL GENERAL</td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;"></td>
                            <td style="font-weight: bold; background-color: #ffbfb0; text-align: center;"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
			</div>
		</div>
	</div>

	<form id="exportForm" method="POST" action="{{ root }}/reportes/exportInventarioPerchaConforme">
		<input type="hidden" id="json" name="json"/>
	</form>

	<form id="exportDetalleForm" method="POST" action="{{ root }}/reportes/exportDetalleInventarioPerchaConforme">
		<input type="hidden" id="json" name="json"/>
	</form>

	{# <script src="http://d3js.org/d3.v3.min.js"></script> #}
	{{ bundle('validate') }}
	{{ bundle('boot_select') }}
	{{ script('js/jquery.serialize-object.min.js') }}

	<script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                datos: [],
                total: [],
            },
            watch: {},
            computed: {},
            methods: {
                consultar: function () {
                    var form = $('#filtros');
                    var self = this;
                    var data = form.serializeArray();
                    toggleLoader();
                    $.post('{{ root }}/reportes/productividadResultados', data, function (res) {
                        toggleLoader();
                        self.datos = res['data'];
                        self.total = res['total'];
                        console.log(res);
                    })
                },
            },
            mounted: function () {
                var form = $('#filtros');
                var self = this;
                $('#btnExportar').click(function () {
                    // var data = {
                    //     filtros: form.serializeForm()
                    // };
                    // $('#json').val(JSON.stringify(data));
                    // $('#exportForm').submit();
                });

                $('#btnExportarDetalle').click(function () {
                    // var data = {
                    //     filtros: form.serializeForm()
                    // };
                    // $('#json').val(JSON.stringify(data));
                    // $('#exportDetalleForm').submit();
                });

                $(document).ready(function () {
                    $('#btnFiltro').click(function () {
                        self.consultar();
                    });
                    $('#btnTodos').click(function () {
                        form[0].reset();
                        self.consultar();
                    });
                    // self.consultar();
                });
            }
        });
	</script>
{% endblock %}