{% extends 'layout.twig' %}
{% block content %}
	{% include "reportes/filtrosProduccionPlaza.twig" %}
	<div id="app">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Datos</h4>
			</div>
			<div class="card-body">
				<a class="btn btn-default-light" id="btnExportar">
					<i class="fa fa-file-excel-o"></i>
					Exportar
				</a>
				<table class="table border table-striped table-bordered table-sm mb-0">
					<thead>
					<tr style="background-color: #95b8f6;">
						<th>ZONA</th>
						<th>EJECUTIVO</th>
						<th>CANAL</th>
						<th>DINERS</th>
						<th>VISA</th>
						<th>DISCOVER</th>
						<th>MASTERCARD</th>
						<th>TOTAL GENERAL</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="d in datos">
						<template v-if="d.plaza == 'TOTAL AMBATO'">
							<td colspan="3" style="font-weight: bold; text-align: center; background-color: #95fab9;" v-html="d.plaza"></td>
							<td style="font-weight: bold; text-align: center; background-color: #95fab9;" v-html="d.diners"></td>
							<td style="font-weight: bold; text-align: center; background-color: #95fab9;" v-html="d.interdin"></td>
							<td style="font-weight: bold; text-align: center; background-color: #95fab9;" v-html="d.discover"></td>
							<td style="font-weight: bold; text-align: center; background-color: #95fab9;" v-html="d.mastercard"></td>
							<td style="font-weight: bold; text-align: center; background-color: #95fab9;" v-html="d.total_general"></td>
						</template>
						<template v-else-if="d.plaza == 'TOTAL CUENCA'">
							<td colspan="3" style="font-weight: bold; text-align: center; background-color: #fdfd96;" v-html="d.plaza"></td>
							<td style="font-weight: bold; text-align: center; background-color: #fdfd96;" v-html="d.diners"></td>
							<td style="font-weight: bold; text-align: center; background-color: #fdfd96;" v-html="d.interdin"></td>
							<td style="font-weight: bold; text-align: center; background-color: #fdfd96;" v-html="d.discover"></td>
							<td style="font-weight: bold; text-align: center; background-color: #fdfd96;" v-html="d.mastercard"></td>
							<td style="font-weight: bold; text-align: center; background-color: #fdfd96;" v-html="d.total_general"></td>
						</template>
						<template v-else-if="d.plaza == 'TOTAL GUAYAQUIL'">
							<td colspan="3" style="font-weight: bold; text-align: center; background-color: #b2dafa;" v-html="d.plaza"></td>
							<td style="font-weight: bold; text-align: center; background-color: #b2dafa;" v-html="d.diners"></td>
							<td style="font-weight: bold; text-align: center; background-color: #b2dafa;" v-html="d.interdin"></td>
							<td style="font-weight: bold; text-align: center; background-color: #b2dafa;" v-html="d.discover"></td>
							<td style="font-weight: bold; text-align: center; background-color: #b2dafa;" v-html="d.mastercard"></td>
							<td style="font-weight: bold; text-align: center; background-color: #b2dafa;" v-html="d.total_general"></td>
						</template>
						<template v-else-if="d.plaza == 'TOTAL MACHALA'">
							<td colspan="3" style="font-weight: bold; text-align: center; background-color: #dfcae1;" v-html="d.plaza"></td>
							<td style="font-weight: bold; text-align: center; background-color: #dfcae1;" v-html="d.diners"></td>
							<td style="font-weight: bold; text-align: center; background-color: #dfcae1;" v-html="d.interdin"></td>
							<td style="font-weight: bold; text-align: center; background-color: #dfcae1;" v-html="d.discover"></td>
							<td style="font-weight: bold; text-align: center; background-color: #dfcae1;" v-html="d.mastercard"></td>
							<td style="font-weight: bold; text-align: center; background-color: #dfcae1;" v-html="d.total_general"></td>
						</template>
						<template v-else-if="d.plaza == 'TOTAL MANABI'">
							<td colspan="3" style="font-weight: bold; text-align: center; background-color: #77dd77;" v-html="d.plaza"></td>
							<td style="font-weight: bold; text-align: center; background-color: #77dd77;" v-html="d.diners"></td>
							<td style="font-weight: bold; text-align: center; background-color: #77dd77;" v-html="d.interdin"></td>
							<td style="font-weight: bold; text-align: center; background-color: #77dd77;" v-html="d.discover"></td>
							<td style="font-weight: bold; text-align: center; background-color: #77dd77;" v-html="d.mastercard"></td>
							<td style="font-weight: bold; text-align: center; background-color: #77dd77;" v-html="d.total_general"></td>
						</template>
						<template v-else-if="d.plaza == 'TOTAL QUITO'">
							<td colspan="3" style="font-weight: bold; text-align: center; background-color: #f9d99a;" v-html="d.plaza"></td>
							<td style="font-weight: bold; text-align: center; background-color: #f9d99a;" v-html="d.diners"></td>
							<td style="font-weight: bold; text-align: center; background-color: #f9d99a;" v-html="d.interdin"></td>
							<td style="font-weight: bold; text-align: center; background-color: #f9d99a;" v-html="d.discover"></td>
							<td style="font-weight: bold; text-align: center; background-color: #f9d99a;" v-html="d.mastercard"></td>
							<td style="font-weight: bold; text-align: center; background-color: #f9d99a;" v-html="d.total_general"></td>
						</template>
						<template v-else>
							<template v-if="d.plaza == 'AMBATO'">
								<td style="background-color: #95fab9;" v-html="d.plaza"></td>
							</template>
							<template v-else-if="d.plaza == 'CUENCA'">
								<td style="background-color: #fdfd96;" v-html="d.plaza"></td>
							</template>
							<template v-else-if="d.plaza == 'GUAYAQUIL'">
								<td style="background-color: #b2dafa;" v-html="d.plaza"></td>
							</template>
							<template v-else-if="d.plaza == 'MACHALA'">
								<td style="background-color: #dfcae1;" v-html="d.plaza"></td>
							</template>
							<template v-else-if="d.plaza == 'MANABI'">
								<td style="background-color: #77dd77;" v-html="d.plaza"></td>
							</template>
							<template v-else-if="d.plaza == 'QUITO'">
								<td style="background-color: #f9d99a;" v-html="d.plaza"></td>
							</template>
							<template v-else>
								<td style="background-color: #ffffff;" v-html="d.plaza"></td>
							</template>
							<td v-html="d.ejecutivo"></td>
							<td v-html="d.canal"></td>
							<td style="text-align: center;" v-html="d.diners"></td>
							<td style="text-align: center;" v-html="d.interdin"></td>
							<td style="text-align: center;" v-html="d.discover"></td>
							<td style="text-align: center;" v-html="d.mastercard"></td>
							<td style="text-align: center;" v-html="d.total_general"></td>
						</template>
					</tr>
					</tbody>
					<tfoot>
					<tr>
						<td colspan="3" style="font-weight: bold; background-color: #ffbfb0; text-align: center;">TOTAL</td>
						<td style="font-weight: bold; background-color: #ffbfb0; text-align: center;" v-html="total.total_diners"></td>
						<td style="font-weight: bold; background-color: #ffbfb0; text-align: center;" v-html="total.total_interdin"></td>
						<td style="font-weight: bold; background-color: #ffbfb0; text-align: center;" v-html="total.total_discover"></td>
						<td style="font-weight: bold; background-color: #ffbfb0; text-align: center;" v-html="total.total_mastercard"></td>
						<td style="font-weight: bold; background-color: #ffbfb0; text-align: center;" v-html="total.total_general"></td>
					</tr>
					</tfoot>
				</table>

				<br/>

				<h2>TIPO DE NEGOCIACIÓN</h2>
				<a class="btn btn-default-light" id="btnExportarTipoNegociacion">
					<i class="fa fa-file-excel-o"></i>
					Exportar
				</a>
				<table class="table border table-striped table-bordered table-sm mb-0">
					<thead>
					<tr style="background-color: #95b8f6;">
						<th>ZONA</th>
						<th>NEGOCIACIONES AUTOMÁTICAS</th>
						<th>NEGOCIACIONES MANUALES</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="tn in tipo_negociacion">
						<td v-html="tn.plaza"></td>
						<td style="text-align: center;" v-html="tn.automatica"></td>
						<td style="text-align: center;" v-html="tn.manual"></td>
					</tr>
					</tbody>
				</table>

				<br/>

				<h2>RECUPERO AL REFINANCIAR</h2>
				<a class="btn btn-default-light" id="btnExportarRecupero">
					<i class="fa fa-file-excel-o"></i>
					Exportar
				</a>
				<div v-for="(value, key, index) in datos_recupero">
					<table class="table border table-striped table-bordered table-sm mb-0">
						<thead>
						<tr style="background-color: #95b8f6;">
							<th colspan="6" style="text-align: center; font-weight: bold;">
								<span v-html="key"></span>
							</th>
						</tr>
						<tr style="background-color: #95b8f6;">
							<th>MARCA</th>
							<th>CUENTAS</th>
							<th>ACTUALES</th>
							<th>D30</th>
							<th>D60</th>
							<th>D90</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="d in value.data">
							<td v-html="d.marca"></td>
							<td style="text-align: center;" v-html="d.cuentas"></td>
							<td style="text-align: right;" v-html="d.actuales_format"></td>
							<td style="text-align: right;" v-html="d.d30_format"></td>
							<td style="text-align: right;" v-html="d.d60_format"></td>
							<td style="text-align: right;" v-html="d.d90_format"></td>
						</tr>
						<tfoot>
						<tr>
							<td style="font-weight: bold;">TOTAL GENERAL</td>
							<td style="font-weight: bold; text-align: center;" v-html="value.total.total_cuentas"></td>
							<td style="font-weight: bold; text-align: right;" v-html="value.total.total_actuales_format"></td>
							<td style="font-weight: bold; text-align: right;" v-html="value.total.total_d30_format"></td>
							<td style="font-weight: bold; text-align: right;" v-html="value.total.total_d60_format"></td>
							<td style="font-weight: bold; text-align: right;" v-html="value.total.total_d90_format"></td>
						</tr>
						</tfoot>
						</tbody>
					</table>
					<br/><br/>
				</div>

			</div>
		</div>


	</div>

	<form id="exportForm" method="POST" action="{{ root }}/reportes/exportProduccionPlaza">
		<input type="hidden" id="json" name="json"/>
	</form>

	<form id="exportTipoNegociacionForm" method="POST" action="{{ root }}/reportes/exportProduccionPlazaTipoNegociacion">
		<input type="hidden" id="jsonTipoNegociacion" name="jsonTipoNegociacion"/>
	</form>

	<form id="exportFormRecupero" method="POST" action="{{ root }}/reportes/exportProduccionPlazaRecupero">
		<input type="hidden" id="jsonRecupero" name="jsonRecupero"/>
	</form>

	{# <script src="http://d3js.org/d3.v3.min.js"></script> #}
	{{ bundle('validate') }}
	{{ bundle('boot_select') }}
	{{ script('js/jquery.serialize-object.min.js') }}
	{{ bundle('select2') }}

	<script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                datos: [],
                total: [],
                datos_recupero: [],
                total_recupero: [],
				resumen: [],
            },
            watch: {},
            computed: {},
            methods: {
                consultar: function () {
                    var form = $('#filtros');
                    var self = this;
                    var data = form.serializeArray();
                    toggleLoader();
                    $.post('{{ root }}/reportes/produccionPlaza', data, function (res) {
                        toggleLoader();
                        self.datos = res['data'];
                        self.total = res['total'];
                        self.datos_recupero = res['data_recupero'];
                        self.total_recupero = res['total_recupero'];
                        self.tipo_negociacion = res['tipo_negociacion'];
						self.resumen = res['resumen'];
                        console.log(res);
                    })
                },
            },
            mounted: function () {
                var form = $('#filtros');
                var self = this;
                $('#btnExportar').click(function () {
					var data = {
						datos: self.datos,
						total: self.total,
						datos_recupero: self.datos_recupero,
						total_recupero: self.total_recupero,
						tipo_negociacion: self.tipo_negociacion,
						resumen: self.resumen,
					};
                    $('#json').val(JSON.stringify(data));
                    $('#exportForm').submit();
                });

				$('#btnExportarTipoNegociacion').click(function () {
					var data = {
						filtros: form.serializeForm()
					};
					$('#jsonTipoNegociacion').val(JSON.stringify(data));
					$('#exportTipoNegociacionForm').submit();
				});

				$('#btnExportarRecupero').click(function () {
					var data = {
						filtros: form.serializeForm()
					};
					$('#jsonRecupero').val(JSON.stringify(data));
					$('#exportFormRecupero').submit();
				});

                $(document).ready(function () {
                    $('#btnFiltro').click(function () {
                        self.consultar();
                    });
                    $('#btnTodos').click(function () {
						form[0].reset();
						$("#plaza_usuario").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#canal_usuario").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#hora_inicio").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#minuto_inicio").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#hora_fin").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#minuto_fin").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#campana").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#campana_ece").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#campana_usuario").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
						$("#marca").select2({
							theme: "classic",
							initSelection: function(element, callback) {}
						});
                    });

                    $('.select2').select2({
                        theme: "classic"
                    });
                    // self.consultar();
                });
            }
        });
	</script>
{% endblock %}