{% extends 'layout.twig' %}
{% block content %}
	{% include "reportes/filtrosProduccionDiariaExtrusion.twig" %}
	<div class="ibox float-e-margins" id="app">
		<div class="ibox-title">
			<h5>
				<strong>Datos</strong>
			</h5>

			<div class="ibox-tools">
				<a class="btn btn-xs" id="btnExportar">
					<i class="far fa-file-excel"></i>
					Exportar
				</a>

			</div>
		</div>
		<div class="ibox-content no-padding">
			<div class="row">
				<div class="col-lg-12">
					<table class="table table-condensed table-bordered table-stripped">
						<tr>
							<td width="16%"><strong>Total Conformes Neto</strong></td>
							<td width="16%" v-html="total.total_neto_conforme"></td>
							<td width="16%"><strong>Total Inconformes Neto</strong></td>
							<td width="16%" v-html="total.total_neto_inconforme"></td>
							<td width="16%"><strong>Total Desperdicio Neto</strong></td>
							<td width="16%" v-html="total.total_neto_desperdicio"></td>
						</tr>
						<tr>
							<td width="16%"><strong>Total Conformes Bruto</strong></td>
							<td width="16%" v-html="total.total_bruto_conforme"></td>
							<td width="16%"><strong>Total Inconformes Bruto</strong></td>
							<td width="16%" v-html="total.total_bruto_inconforme"></td>
							<td width="16%"><strong>Total Desperdicio Bruto</strong></td>
							<td width="16%" v-html="total.total_bruto_desperdicio"></td>
						</tr>
						<tr>
							<td width="16%"><strong>Total Bruto</strong></td>
							<td width="16%" v-html="total.total_final_bruto"></td>
							<td width="16%"><strong>Total Neto</strong></td>
							<td width="16%" v-html="total.total_final_neto"></td>
						</tr>
					</table>
					<table>
						<tr>
							<td style="background-color: #FFFF73; width: 20px; color: white; border: 1px solid white;"></td>
							<td>Producción con Novedades</td>
						</tr>
					</table>
					<table class="table table-condensed table-bordered table-stripped">
						<thead>
						<tr style="font-size: 10px;">
							<th>Fecha</th>
							<th>Operador</th>
							<th>Orden</th>
							<th>Cliente</th>
							<th>Bodega</th>
							<th>Tipo<br/>Producto</th>
							<th>Descripción<br/>Producto</th>
							<th>Ancho</th>
							<th>Espesor</th>
							<th>Cantidad<br/>Solicitada</th>
							<th>Unidad</th>
							<th style="padding-right: 0px;">Rollos<br/>Conf</th>
							<th>Bruto<br/>Conf</th>
							<th>Neto<br/>Conf</th>
							<th>Rollos<br/>Inconf</th>
							<th>Bruto<br/>Inconf</th>
							<th>Neto<br/>Inconf</th>
							<th>Bruto<br/>Desp</th>
							<th>Neto<br/>Desp</th>
							<th>Total<br/>Bruto</th>
							<th>Total<br/>Neto</th>
						</tr>
						</thead>
						<tbody>
						<template v-for="d in datos">
							<template v-if="d.tiene_novedades == 'si'">
								<tr style="font-size: 10px; background-color:#FFFF73;">
									<td>
										<a :href="'{{ root }}/produccionExtrusion/editar?id=' + d.id_orden"
										   target="_blank">
											<span v-html="d.fecha"></span><br/>
										</a>
									</td>
									<td v-html="d.username"></td>
									<td>
										<a :href="'{{ root }}/ordenExtrusion/editar?id=' + d.id_orden"
										   target="_blank">
											<span v-html="d.numero"></span><br/>
										</a>
									</td>
									<td v-html="d.nombre_cliente"></td>
									<td style="text-transform: uppercase;" v-html="d.bodega"></td>
									<td v-html="d.tipo_producto"></td>
									<td v-html="d.nombre_producto"></td>
									<td v-html="d.ancho"></td>
									<td v-html="d.espesor"></td>
									<td align="right" v-html="d.cantidad_solicitada"></td>
									<td style="text-transform: uppercase;" v-html="d.unidad"></td>
									<td align="right" v-html="d.rollos_conforme"></td>
									<td align="right" v-html="d.conforme_bruto"></td>
									<td align="right" v-html="d.conforme_neto"></td>
									<td align="right" v-html="d.rollos_inconforme"></td>
									<td align="right" v-html="d.inconforme_bruto"></td>
									<td align="right" v-html="d.inconforme_neto"></td>

									<td align="right" v-html="d.desperdicio_bruto"></td>
									<td align="right" v-html="d.desperdicio_neto"></td>
									<td align="right" v-html="d.total_bruto"></td>
									<td align="right" v-html="d.total_neto"></td>
								</tr>
							</template>
							<template v-else>
								<tr style="font-size: 10px;">
									<td>
										<a :href="'{{ root }}/produccionExtrusion/editar?id=' + d.id_orden"
										   target="_blank">
											<span v-html="d.fecha"></span><br/>
										</a>
									</td>
									<td v-html="d.username"></td>
									<td>
										<a :href="'{{ root }}/ordenExtrusion/editar?id=' + d.id_orden"
										   target="_blank">
											<span v-html="d.numero"></span><br/>
										</a>
									</td>
									<td v-html="d.nombre_cliente"></td>
									<td style="text-transform: uppercase;" v-html="d.bodega"></td>
									<td v-html="d.tipo_producto"></td>
									<td v-html="d.nombre_producto"></td>
									<td v-html="d.ancho"></td>
									<td v-html="d.espesor"></td>
									<td align="right" v-html="d.cantidad_solicitada"></td>
									<td style="text-transform: uppercase;" v-html="d.unidad"></td>
									<td align="right" v-html="d.rollos_conforme"></td>
									<td align="right" v-html="d.conforme_bruto"></td>
									<td align="right" v-html="d.conforme_neto"></td>
									<td align="right" v-html="d.rollos_inconforme"></td>
									<td align="right" v-html="d.inconforme_bruto"></td>
									<td align="right" v-html="d.inconforme_neto"></td>

									<td align="right" v-html="d.desperdicio_bruto"></td>
									<td align="right" v-html="d.desperdicio_neto"></td>
									<td align="right" v-html="d.total_bruto"></td>
									<td align="right" v-html="d.total_neto"></td>
								</tr>
							</template>
						</template>
						</tbody>
						<tfoot>
						<tr style="font-size: 10px;">
							<td colspan="11" align="right"><strong>TOTAL</strong></td>
							<td align="right" style="font-weight: bold;" v-html="total.total_rollo_conforme"></td>
							<td align="right" style="font-weight: bold;" v-html="total.total_bruto_conforme"></td>
							<td align="right" style="font-weight: bold;" v-html="total.total_neto_conforme"></td>
							<td align="right" style="font-weight: bold;" v-html="total.total_rollo_inconforme"></td>
							<td align="right" style="font-weight: bold;" v-html="total.total_bruto_inconforme"></td>
							<td align="right" style="font-weight: bold;" v-html="total.total_neto_inconforme"></td>

							<td align="right" style="font-weight: bold;" v-html="total.total_bruto_desperdicio"></td>
							<td align="right" style="font-weight: bold;" v-html="total.total_neto_desperdicio"></td>
							<td align="right" style="font-weight: bold;" v-html="total.total_final_bruto"></td>
							<td align="right" style="font-weight: bold;" v-html="total.total_final_neto"></td>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>

		</div>
	</div>

	<form id="exportForm" method="POST" action="{{ root }}/reportes/exportProduccionDiariaExtrusion">
		<input type="hidden" id="json" name="json"/>
	</form>

	{# <script src="http://d3js.org/d3.v3.min.js"></script> #}
	{{ bundle('validate') }}
	{{ bundle('boot_select') }}
	{{ script('js/highcharts/highcharts.js') }}
	{{ script('js/highcharts/modules/exporting.js') }}
	{{ script('js/jquery.serialize-object.min.js') }}

	<script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                datos: [],
                total: []
            },
            watch: {},
            computed: {},
            methods: {
                consultar: function () {
                    var form = $('#filtros');
                    var self = this;
                    var data = form.serializeArray();
                    toggleLoader();
                    $.post('{{ root }}/reportes/produccionDiariaExtrusion', data, function (res) {
                        toggleLoader();
                        self.datos = res['data'];
                        self.total = res['total'];
                        console.log(res);
                    })
                }
            },
            mounted: function () {
                var form = $('#filtros');
                var self = this;
                $('#btnExportar').click(function () {
                    var data = {
                        filtros: form.serializeForm()
                    };
                    $('#json').val(JSON.stringify(data));
                    $('#exportForm').submit();
                });

                $(document).ready(function () {
                    $('#btnFiltro').click(function () {
                        self.consultar();
                    });
                    $('#btnTodos').click(function () {
                        form[0].reset();
                        $("#producto_extrusion").val("");
                        $("#producto").val("");
                        self.consultar();
                    });
                    // self.consultar();
                });
            }
        });


	</script>
{% endblock %}