{% extends 'layout.twig' %}
{% block content %}
	{% include "reportes/filtrosVentasDetallado.twig" %}
	<div class="ibox float-e-margins" id="app">
		<div class="ibox-title">
			<h5>
				<strong>Datos</strong>
			</h5>

			<div class="ibox-tools">
				<a class="btn" id="btnExportar">
					<i class="far fa-file-excel"></i>
					Exportar Excel
				</a>

				<a class="btn" id="btnExportarPdf">
					<i class="far fa-file-pdf"></i>
					Exportar PDF
				</a>

			</div>
		</div>
		<div class="ibox-content no-padding">
			<div class="row">
				<div class="col-lg-12">
					<table class="table table-condensed table-bordered table-stripped">
						<tr>
							<td width="16%"><strong>Total Cajas</strong></td>
							<td width="16%" v-html="total.total_cajas"></td>
							<td width="16%"><strong>Total Rollos</strong></td>
							<td width="16%"  v-html="total.total_rollos"></td>
							<td width="16%"><strong>Total Peso Neto (KG)</strong></td>
							<td width="17%"  v-html="total.total_peso_neto"></td>
						</tr>
					</table>

					<div v-for="d in datos">
						<table class="table table-condensed table-bordered table-stripped">
							<thead>
							<tr>
								<th width="80%" v-html="d.nombre_grupo"></th>
								<th width="10%">CAJAS</th>
								<th width="10%">ROLLOS</th>
								<th width="10%">PESO NETO(KG)</th>
							</tr>
							</thead>
							<tbody>
							<tr v-for="val in d.data">
								<td v-html="val.detalle"></td>
								<td align="right" v-html="val.cajas"></td>
								<td align="right" v-html="val.rollos"></td>
								<td align="right" v-html="val.peso_neto_venta"></td>
							</tr>
							</tbody>
							<tfoot>
							<tr>
								<td align="right"><strong>TOTAL</strong></td>
								<td align="right" style="font-weight: bold;" v-html="d.tot_cajas"></td>
								<td align="right" style="font-weight: bold;" v-html="d.tot_rollos"></td>
								<td align="right" style="font-weight: bold;" v-html="d.tot_peso_neto"></td>
							</tr>
							</tfoot>
						</table>
					</div>

				</div>
			</div>

		</div>
	</div>

	<form id="exportForm" method="POST" action="{{ root }}/reportes/exportVentasDetallado">
		<input type="hidden" id="json" name="json"/>
	</form>
	<form id="exportFormPdf" method="POST" action="{{ root }}/reportes/pdfVentasDetallado">
		<input type="hidden" id="jsonPdf" name="jsonPdf"/>
	</form>

	{#<script src="http://d3js.org/d3.v3.min.js"></script>#}
	{{ bundle('validate') }}
	{{ bundle('boot_select') }}
	{{ script('js/highcharts/highcharts.js') }}
	{{ script('js/highcharts/modules/exporting.js') }}
	{{ script('js/jquery.serialize-object.min.js') }}

	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				datos: [],
				total: []
			},
			watch: {},
			computed: {},
			methods: {
				consultar: function () {
					var form = $('#filtros');
					var self = this;
					var data = form.serializeArray();
					toggleLoader();
					$.post('{{ root }}/reportes/ventasDetallado', data, function (res) {
						toggleLoader();
						self.datos = res['data'];
						self.total = res['total'];
						console.log(res['data']);
					})
				}
			},
			mounted: function () {
				var form = $('#filtros');
				var self = this;
				$('#btnExportar').click(function () {
					var data = {
						filtros: form.serializeForm()
					};
					$('#json').val(JSON.stringify(data));
					$('#exportForm').submit();
				});
				$('#btnExportarPdf').click(function () {
					var data = {
						filtros: form.serializeForm()
					};
					$('#jsonPdf').val(JSON.stringify(data));
					$('#exportFormPdf').submit();
				});

				$(document).ready(function () {
					$('#btnFiltro').click(function () {self.consultar();});
					$('#btnTodos').click(function () {
						form[0].reset();
						self.consultar();
					});
					self.consultar();
				});
			}
		});
	</script>
{% endblock %}