{% extends layoutApp %}
{% block content %}
	<form method="post" id="filtro" class="form-horizontal">
		<div class="col-md-12 col-xl-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Filtros de Búsqueda</h4>
				</div>
				<div id="app">
					<div class="card-body">
						<div class=" row mb-4">
							<label for="inputName" class="col-md-2 form-label">Institución</label>
							<div class="col-md-4">
								<div class="input-group">
									<input type="text" class="form-control" name="institucion_nombre" id="institucion_nombre" value="{{ filtros.institucion_nombre }}" readonly>
									<input type="hidden" class="form-control" name="institucion_id" id="institucion_id" value="{{ filtros.institucion_id }}"/>
									<button class="btn btn-default" type="button" v-on:click="buscarInstitucion">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</div>
							</div>

							<label for="inputName" class="col-md-2 form-label">Nombre</label>
							<div class="col-md-4">
								<input type="text" class="form-control" name="nombre" id="nombre" value="{{ filtros.nombre }}"/>
							</div>
						</div>

						<div class=" row mb-4">
							<label for="inputName" class="col-md-2 form-label">Estado</label>
							<div class="col-md-4">
								{{ select_tag('estado', listas.estado, '', {class:'form-control form-select select2',prompt: ''} ) }}
							</div>
						</div>

						<div class=" row mb-4">
							<label for="inputName" class="col-md-2 form-label">Fecha inicio (desde)</label>
							<div class="col-md-4">
								<input type="text" class="form-control fecha" name="fecha_inicio_desde" id="fecha_inicio_desde" value="{{ filtros.fecha_inicio_desde }}"/>
							</div>

							<label for="inputName" class="col-md-2 form-label">Fecha inicio (hasta)</label>
							<div class="col-md-4">
								<input type="text" class="form-control fecha" name="fecha_inicio_hasta" id="fecha_inicio_hasta" value="{{ filtros.fecha_inicio_hasta }}"/>
							</div>
						</div>

						<div class=" row mb-4">
							<label for="inputName" class="col-md-2 form-label">Fecha fin (desde)</label>
							<div class="col-md-4">
								<input type="text" class="form-control fecha" name="fecha_fin_desde" id="fecha_fin_desde" value="{{ filtros.fecha_fin_desde }}"/>
							</div>

							<label for="inputName" class="col-md-2 form-label">Fecha fin (hasta)</label>
							<div class="col-md-4">
								<input type="text" class="form-control fecha" name="fecha_fin_hasta" id="fecha_fin_hasta" value="{{ filtros.fecha_fin_hasta }}"/>
							</div>
						</div>

						<div class="mb-0 mt-4 ">
							<div class="col-md-12">
								<button type="submit" class="btn btn-secondary"><i class="glyphicon glyphicon-search"></i> Buscar</button>
								<button class="btn btn-secondary" onclick="todos()" type="button"><i class="fa fa-eye"></i> Ver todos</button>
								<a href="{{ root }}/campana/crear" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Crear</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="col-md-12 col-xl-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Lista de Campañas</h4>
			</div>
			<div class="card-body">
				<div id="lista"></div>
			</div>
		</div>
	</div>

	<!-- MODAL -->
	<div class="modal fade" id="modalInstitucion" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><strong>Instituciones</strong></h5>
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="institucionContent"></div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	{{ bundle('validate') }}
	<script>
		var form = $('#filtro');
		$('.integer').numeric('integer');

		function todos() {
			form[0].reset();
			$("#institucion_id").val('');
            $("#institucion_nombre").val('');
            $("#nombre").val('');
            $("#estado").val('');
            $("#fecha_inicio_desde").val('');
            $("#fecha_inicio_hasta").val('');
            $("#fecha_fin_desde").val('');
            $("#fecha_fin_hasta").val('');
			cargar(1);
		}

		function cargar(page) {
			var data = form.serializeArray();
			$('#lista').load('{{ root }}/campana/lista?page=' + page, data);
		}

		form.submit(function () {
			cargar(1);
			return false;
		});

		cargar(1);

		var app = new Vue({
			el: '#app',
			data: {
				model: [],
			},
			watch: {},
			methods: {
				buscarInstitucion: function () {
					var self = this;
					var data = {};
					$('#institucionContent').load('{{ root }}/institucion/buscador', data, function () {
						callbackInstitucion = function (res) {
							$("#institucion_id").val(res.id);
							$("#institucion_nombre").val(res.nombre);
							$('#modalInstitucion').modal('hide');
						};
						$('#modalInstitucion').modal('show');
					});
				},
			},
			mounted: function () {
				$('.integer').numeric("integer");
				$('.numeric').numeric();

                $(function () {
                    $('.fecha').datepicker({
                        dateFormat: 'yy-mm-dd',
                        showButtonPanel: true
                    });

                });
			}
		});
	</script>
{% endblock %}