{% extends layoutApp %}

{% block content %}

	<div class="col-lg-12">
		<form method="post" id="filtro" class="form-horizontal">
			<div class="ibox">
				<div class="ibox-title">
					<h5>Perfiles</h5>

				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">Nombre</label>

								<div class="col-sm-8">
									{{ text_field_tag("nombre", '', {class:'form-control'}) }}
								</div>
							</div>

							<div class="form-group">
								<label for="" class="col-sm-4 control-label">Identificador</label>

								<div class="col-sm-8">
									{{ select_tag('identificador', identificadores,'', {class:'form-control',prompt: ''} ) }}
								</div>
							</div>



						</div>

						<div class="col-md-6">

							<p class="text-info text-center"><span style="font-size: 20px;">Módulo de perfiles</span></p>

							<p class="text-center">
								<i class="fa fa-check-circle-o big-icon" aria-hidden="true"></i>
							</p>
							<div class="form-group text-center">

							</div>


						</div>
					</div>
				</div>
				<div class="ibox-footer">

					<button type="submit" class="btn">Filtrar</button>
					<a class="btn" href="javascript:;" onclick="todos()">Ver todos</a>
					<a href="{{ root }}/admin/perfiles/crear" class="btn btn-small"><i class="glyphicon glyphicon-plus-sign"></i> Crear perfil</a>
					<a href="{{ root }}/admin/perfiles/asignar" class="btn btn-small btn-success">Asignacion Masiva</a>
				</div>
			</div>
		</form>
	</div>


	<div class="col-lg-12">
		<div class="ibox">
			<div class="ibox-title">
				<h5>Lista perfiles</h5>
			</div>
	<div class="ibox-content">
		<div id="lista">


		</div>
	</div>
	
	<script>
		var form = $('#filtro');
		function todos() {
			//resetForm('filtro');
			form[0].reset();
			cargar(1);
		}

		function cargar(page) {
			var data = form.serializeArray();
			$('#lista').load('{{ root }}/admin/perfiles/lista?page=' + page, data);
		}
		form.submit(function () {
			cargar(1);
			return false;
		});

		cargar(1);
	</script>
{% endblock %}