<div class="table-responsive">
	<table class="table border text-nowrap text-md-nowrap table-striped table-bordered table-sm mb-0">
		<tr>
			<th>Nombre</th>
			<th>Identificador</th>
		</tr>
		<tbody>
		{% for l in lista %}
			<tr>
				<td>
					<a href="{{ root }}/admin/perfiles/editar?id={{ l.id }}">{{ l.nombre }}</a>
				</td>
				<td>{{ l.identificador }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{{ pag|raw }}